@media all and (max-width: 768px) {

  .title {
    margin-top: 10px;
    justify-content: center;

    h2 {
      font-weight: var(--font-weight-bold);
      text-align: center;
    }
  }

  .total {
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
  }

}
