<div class="cart">

  <div class="title">
    <h2>Корзина</h2>
  </div>

  <ng-container *ngIf="cartData?.content?.length; else emptyCart">
    <p class="total">
      Всего {{totalItems}}{{totalItems | marketDeclension: ' товар': ' товара': ' товаров'}}
      от {{supplierCount}}{{supplierCount | marketDeclension: ' поставщика': ' поставщиков': ' поставщиков'}}
      на сумму {{total | marketMultiplier:'.01' | currency:'RUB':'symbol': '1.0'}}
    </p>

    <market-cart-order
      *ngFor="let order of cartData.content"
      [order]="order"
      [userInfo]="userInfo"
      (cartDataChange)="setProps($event)"
    ></market-cart-order>
  </ng-container>

</div>


<ng-template #emptyCart>
  <div class="empty">
    <nz-empty
      nzNotFoundImage="./assets/img/svg/empty.svg"
      [nzNotFoundContent]="contentTpl"
      >
      <ng-template #contentTpl>
        <span>Корзина пуста</span>
      </ng-template>
    </nz-empty>
  </div>
</ng-template>
