.title {
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;

  h2 {
    font-weight: var(--font-weight-demi);
    font-size: var(--font-size-18);
    line-height: 23px;
  }
}

.empty {
  margin-top: 50px;
  text-align: center;
  opacity: .8;

  span {
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-demi);
  }

  p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: var(--font-size-18);
  }
}

.cart {
  min-height: 70vh;
}

.recaptcha {
  font-size: 10px;
  color: #efefef;
  text-align: center;

  a:hover {
    color: inherit;
    border-bottom: 1px solid #fedc8b;
    text-decoration: none;
  }
}

