<div class="cart">

  <div class="title">
    <h2>Корзина</h2>
  </div>

  <ng-container *ngIf="cartData; else emptyCart">
    <p class="total" *ngIf="cartData?.content?.length">
      Всего {{totalItems}}{{totalItems | myDeclension: ' товар': ' товара': ' товаров'}}
      от {{supplierCount}}{{supplierCount | myDeclension: ' поставщика': ' поставщиков': ' поставщиков'}}
      на сумму {{totalCost | myMultiplier:'.01' | currency:'RUB':'symbol'}}
    </p>
    <my-cart-order *ngFor="let order of cartData?.content; let i = index" [order]="order" [userData]="userData$ | async" (cartDataChange)="setProps($event)"></my-cart-order>
  </ng-container>

</div>

<ng-template #emptyCart>
  Корзина пуста
</ng-template>
