<div class="cart">

  <div class="title" *ngIf="cartData?.content?.length">
    <h2>Корзина</h2>
  </div>

  <ng-container *ngIf="cartData?.content?.length;">
    <market-cart-order
      *ngFor="let order of cartData.content"
      [order]="order"
      [userInfo]="userInfo"
      (cartDataChange)="setCartData($event)"
    ></market-cart-order>
  </ng-container>

  <ng-container *ngIf="!cartData?.content?.length">
    <div class="empty">
      <span>Корзина пока пуста</span>
      <p>Воспользуйтесь каталогом, чтобы найти интересующие вас товары</p>
      <button nz-button nzType="primary" [routerLink]="['/category']">Товары</button>
    </div>
  </ng-container>

</div>

<div class="recaptcha">Этот сайт защищен Google reCAPTCHA.
  <a href="https://policies.google.com/terms" target="_blank" rel="noopener noreferrer"> Условия предоставления услуг</a>.
  <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer"> Политика конфиденциальности</a>.
</div>

