.title {
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;

  h2 {
    font-weight: var(--font-weight-demi);
    font-size: var(--font-size-18);
    line-height: 23px;
  }
}
