@media all and (max-width: 576px) {
  .info_group__small,
  .info_group__supplier {
    width: 100%;
    max-width: none;
  }

  .info_group__label {
    flex-grow: 1;
    width: 40%;
  }

  .info_group__link,
  .info_group__value {
    width: 60%;
    text-align: left;
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-medium);
  }

  .section__btns .btn {
    background-color: var(--color-accent-light);
  }
}


