<div class="products">
  <div class="title">
    <ng-container *ngIf="products?.length || categories?.length">По этому запросу часто ищут:</ng-container>
    <ng-container *ngIf="!products?.length && !categories?.length">Результатов нет</ng-container>
  </div>

  <div class="items">

    <my-search-bar-item
      *ngFor="let product of products"
      img="{{imageUrl(product.images[0].href)}}"
      imgAlt="{{product.name}}"
      offersCount="{{product.offers}}"
      typeOfSearch="{{typeOfSearchProduct}}"
      type="productOffer"
      (click)="chooseProduct(product)"
    ><div [innerHTML]="product.highlight || product.name"></div></my-search-bar-item>

    <my-search-bar-item
      *ngFor="let category of categories"
      img="assets/img/tmp/lightning.png"
      imgAlt="{{category.name}}"
      offersCount="{{category.offers}}"
      typeOfSearch="{{typeOfSearchCategory}}"
      type="category"
      (click)="chooseCategory(category)"
    ><div [innerHTML]="category.highlight || category.name"></div></my-search-bar-item>

  </div>
</div>
