<div class="products">
  <div class="title">
    <ng-container *ngIf="products?.length || categories?.length">По этому запросу часто ищут:</ng-container>
    <ng-container *ngIf="!products?.length && !categories?.length">Результатов нет</ng-container>
  </div>

  <div class="items">

    <my-search-bar-item
      *ngFor="let product of products"
      img="{{product.imageUrl}}"
      imgAlt="{{product.productName}}"
      offersCount="{{product.totalOffers}}"
      typeOfSearch="{{typeOfSearchProduct}}"
      type="productOffer"
      (click)="chooseProduct(product)"
    ><div [innerHTML]="product.productName"></div></my-search-bar-item>

    <my-search-bar-item
      *ngFor="let category of categories"
      [routerLink]="['./category/' + category.categoryId]"
      img="{{category.imageUrl}}"
      imgAlt="{{category.categoryName}}"
      typeOfSearch="{{typeOfSearchCategory}}"
      type="category"
      (click)="chooseCategory(category)"
    ><div [innerHTML]="category.categoryName"></div></my-search-bar-item>

  </div>
</div>
