<div class="product-base" *ngIf="product">
  <div class="title-block">
    <h2 class="title">{{product.productName}}</h2>
    <div class="product_specs">
      <div class="product_specs__item" *ngIf="product.manufacturer?.tradeMark">
        <span class="product_specs__item__label">Наименование бренда:</span>
        <span class="product_specs__item__value">{{product.manufacturer?.tradeMark}}</span>
      </div>
      <div class="product_specs__item" *ngIf="product.productPartNumber">
        <span class="product_specs__item__label">Артикул:</span>
        <span class="product_specs__item__value">{{product.productPartNumber}}</span>
      </div>
      <div class="product_specs__item" *ngIf="product.productBarCodes?.length">
        <span class="product_specs__item__label">Штрихкоды:</span>
        <span class="product_specs__item__value">{{product.productBarCodes}}</span>
      </div>
      <div class="product_specs__item" *ngIf="name">
        <span class="product_specs__item__label">Поставщик:</span>
        <div class="supplier_image" [style]="{'background-color': supplierLogo}"></div>

        <span class="product_specs__item__value" id="supplierNameRouterLink">
            <a [routerLink]="['/supplier/' + supplierId]">
              <strong>{{name}}</strong>
            </a>
        </span>
      </div>
      <div class="product_specs__item" *ngIf="stockAmount || stockLevel || temporarilyOutOfSales">
        <span class="product_specs__item__label">Наличие:</span>
        <span class="product_specs__item__value">{{stockAmount | marketStock : stockLevel : temporarilyOutOfSales}}</span>
      </div>
      <div class="product_specs__item" *ngIf="product.publicationDate">
        <span class="product_specs__item__label">Опубликовано:</span>
        <span class="product_specs__item__value">{{product.publicationDate | date:'dd MMMM yyyy г.'}}</span>
      </div>
    </div>

  </div>

  <div class="carousel">

    <div *ngIf="!product.images">
      <span class="empty__img"></span>
    </div>

    <div class="pic" *ngIf="product.images?.length === 1">
      <img src="{{firstImageUrl(product.images)}}" alt="">
    </div>

    <nz-carousel *ngIf="product.images?.length > 1" [nzAutoPlay]="true">
      <div nz-carousel-content *ngFor="let item of images">
        <div class="carousel-item" [ngStyle]="{'background-image': 'url(' + imageUrl(item.href) + ')'}"></div>
      </div>
    </nz-carousel>

  </div>

  <div class="product_specs">
    <div class="product_specs__item" *ngIf="product.manufacturer?.tradeMark">
      <span class="product_specs__item__label">Наименование бренда:</span>
      <span class="product_specs__item__value">{{product.manufacturer?.tradeMark}}</span>
    </div>
    <div class="product_specs__item" *ngIf="product.productPartNumber">
      <span class="product_specs__item__label">Артикул:</span>
      <span class="product_specs__item__value">{{product.productPartNumber}}</span>
    </div>
    <div class="product_specs__item" *ngIf="product.productBarCodes?.length">
      <span class="product_specs__item__label">Штрихкоды:</span>
      <span class="product_specs__item__value">{{product.productBarCodes}}</span>
    </div>
    <div class="product_specs__item" *ngIf="name">
      <span class="product_specs__item__label">Поставщик:</span>
      <div class="supplier_image" [style]="{'background-color': supplierLogo}"></div>
      <span class="product_specs__item__value"><strong>&nbsp;&nbsp;{{name}}</strong></span>
    </div>
    <div class="product_specs__item" *ngIf="stockAmount || stockLevel || temporarilyOutOfSales">
      <span class="product_specs__item__label">Наличие:</span>
      <span class="product_specs__item__value"><strong>{{stockAmount | marketStock : stockLevel : temporarilyOutOfSales}}</strong></span>
    </div>
  </div>
</div>
