[nz-carousel-content] {
  height: 205px;
  line-height: 205px;
  background: #fff;
  overflow: hidden;
}

.carousel {
  width: 205px;
  height: 205px;
  order: 1;

  &-item {
    height: 170px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.carousel + .product_specs {
  display: none;
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  img {
    max-width: 125px;
    max-height: 205px;
  }
}

.product-base {
  display: flex;
}

.title {
  margin: 20px 0 10px 0;
  padding-right: 20px;
  font-weight: var(--font-weight-demi);
  font-size: var(--font-size-18);
  line-height: 23px;

  &-block {
    order: 2;
    margin-left: 15px;
  }
}

.product_specs {
  font-size: var(--font-size-12);
  line-height: 15px;
  order: 3;

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;

    &__label {
      width: 164px;
      color: var(--color-black);
      opacity: 0.6;
      flex-shrink: 0;
      font-weight: var(--font-weight-medium);
    }

    &__value {
      a {
        color: var(--color-black);
      }
    }

    & .supplier_image {
      width: 15px;
      height: 15px;
      border-radius: 2px;
    }
  }
}
