@media all and (max-width: 992px) {

  .catalog_header {
    flex-direction: column;

    &__count {
      margin-right: 0;
      text-align: center;

      & + .catalog_header__btns {
        margin-top: 10px;
      }
    }
  }

  .catalog_sort__control {
    &::after {
      display: none;
    }

    &_lg {
      display: none;
    }

    &_sm {
      display: flex;
      border: 1px solid #d7d7d7;
      border-radius: 2px;
      padding: 9px;
      font-size: var(--font-size-12);
      font-weight: var(--font-weight-medium);
    }
  }
}
