@media all and (max-width: 576px) {

  .hidden_sm {
    display: none;
  }

  .catalog_sort__wrap {
    left: 0;
    right: auto;
  }

  .catalog_header__btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }
}
