.dropdown {
  display: block;
  position: relative;

  &.showed .dropdown_block {
    opacity: 1;
    visibility: visible;
  }

  &_item {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 5px;
  }

  &block {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 2px 4px 23px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    z-index: 99;
    transition: opacity 0.3s;
  }
}

.catalog_header {
  align-items: center;
  margin-bottom: 10px;
  float: right;

  &__count {
    font-size: var(--font-size-18);
    line-height: 23px;
    margin-right: 20px;

    strong {
      font-weight: var(--font-medium);
      letter-spacing: 0.11em;
    }
  }

  &__title {
    font-weight: var(--font-demi);
    letter-spacing: 0.11em;

    &:after {
      content: " –";
      font-weight: var(--font-light);
    }
  }

  &__btns {
    justify-self: flex-end;
    margin-left: auto;

    & .btn {
      padding: 0 20px;
    }
  }
}

.catalog_sort {
  &__control {
    &_lg {
      font-size: var(--font-size-12);
      font-weight: var(--font-weight-medium);
      display: flex;
      align-items: center;
      cursor: pointer;

      &::after {
        content: '';
        width: 0;
        height: 0;
        margin-left: 3px;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: #454545 transparent transparent transparent;
      }
    }

    &_sm {
      display: none;
    }
  }

  &__wrap {
    padding: 15px;
    right: 0;
    top: 20px;
  }

  &__item {
    white-space: nowrap;
    font-size: var(--font-size-12);
    font-weight: var(--font-medium);
    padding: 5px 12px 5px 7px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--color-accent-light);
    }
  }
}

.ant-dropdown-menu {
  width: 165px;
  height: 78px;
  padding-top: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.ant-dropdown-menu-item-selected {
  color: var(--color-secondary);
  font-weight: var(--font-weight-medium);
}
