@media all and (max-width: 992px) {
  .sf {
    width: 100vw;
    height: 100vh;
    padding: 30px 35px;
    background: #ffffff;
    overflow-y: scroll;

    .header {
      .title {
        display: block;
      }

      .collapser {
        display: none;
      }

      .closer {
        display: block;
      }
    }

    .content {
      display: block;
    }

    &_collapsed {
      display: block;
    }
  }
}
