<div class="sf scrollbar" [ngClass]="{'sf_collapsed': filterCollapsed}" [formGroup]="form" novalidate>

  <div class="header">
    <div class="title">Фильтр для поиска</div>
    <div class="collapser" (click)="toggleCollapse()">
      <i nz-icon nzType="double-right" nzTheme="outline"></i>
    </div>
    <div class="closer" (click)="close()">
      <i nz-icon nzType="close" nzTheme="outline"></i>
    </div>
  </div>
  <div class="content">
    <div
      class="form-group"
      [ngClass]="{'error': form.get('location').errors && (form.get('location').touched || form.get('location').dirty) && !locationEl.dataset.focused}"
      formGroupName="location">
      <nz-form-control>
        <nz-form-label nzFor="{{componentId}}_location">Регион поставки</nz-form-label>

        <nz-input-group [nzSuffix]="regionClearTpl">
          <input
            nz-input
            type="text"
            [ngClass]="{'error': false}"
            autocomplete="false"
            list="null"
            id="{{componentId}}_location"
            placeholder="{{!isIE ? 'Россия' : null}}"
            formControlName="name"
            (keyup.enter)="selectLocationOnEnter()"
            (focus)="locationEl.dataset.focused = 'focused'"
            (blur)="locationEl.removeAttribute('data-focused')"
            [nzAutocomplete]="locationAutocompleteTpl"
            #locationEl>
        </nz-input-group>

        <nz-autocomplete nzBackfill #locationAutocompleteTpl>
          <nz-auto-option *ngFor="let location of locationsToChoose"
                          (click)="selectLocation(location); $event.stopPropagation()"
                          [nzValue]="location.name"
                          [nzLabel]="location.name">{{location.fullName}}</nz-auto-option>
        </nz-autocomplete>

        <ng-template #regionClearTpl>
          <div class="input_clear">
            <img src="assets/img/svg/icon__close.svg"
                 alt=""
                 (click)="resetControl('location')"
                 *ngIf="form.get('location.name').value.length">
          </div>
        </ng-template>
      </nz-form-control>
    </div>


    <div class="form-group"
         [ngClass]="{'error': form.get('supplier').errors && (form.get('supplier').touched || form.get('supplier').dirty) && !supplierEl.dataset.focused}"
         formGroupName="supplier"
         *ngIf="markerIsSupplierControlVisible">

      <nz-form-control>
        <nz-form-label nzFor="{{componentId}}_inn">ИНН или наименование поставщика</nz-form-label>
        <nz-input-group [nzSuffix]="supplierNameClearTpl">
          <input nz-input type="text"
                 autocomplete="false"
                 list="null"
                 id="{{componentId}}_inn"
                 placeholder="{{!isIE ? 'Искать поставщика' : null}}"
                 formControlName="name"
                 (keyup.enter)="selectSupplierOnEnter()"
                 (focus)="supplierEl.dataset.focused = 'focused'"
                 (blur)="supplierEl.removeAttribute('data-focused')"
                 [nzAutocomplete]="supplierAutocompleteTpl"
                 #supplierEl>
        </nz-input-group>

        <nz-autocomplete nzBackfill #supplierAutocompleteTpl>
          <nz-auto-option [nzDisabled]="true" *ngIf="form.get('supplier.name').value.length <= 2">Введите более 2
            символов
          </nz-auto-option>
          <nz-auto-option *ngFor="let supplier of suppliersToChoose"
                          (click)="selectSupplier(supplier); $event.stopPropagation()"
                          [nzValue]="supplier.name | abbreviatedBusinessName"
                          [nzLabel]="supplier.name | abbreviatedBusinessName">{{ supplier.name | abbreviatedBusinessName }}</nz-auto-option>
        </nz-autocomplete>

        <ng-template #supplierNameClearTpl>
          <div class="input_clear">
            <img src="assets/img/svg/icon__close.svg"
                 alt=""
                 (click)="resetControl('supplier')"
                 *ngIf="form.get('supplier.name').value.length">
          </div>
        </ng-template>
      </nz-form-control>
    </div>

    <div class="form-group">
      <nz-form-control>
        <nz-form-label nzFor="{{componentId}}_brand">Наименование бренда производителя</nz-form-label>
        <nz-input-group [nzSuffix]="trademarkClearTpl">
          <input nz-input type="text"
                 autocomplete="false"
                 list="null"
                 id="{{componentId}}_brand"
                 placeholder="{{!isIE ? 'Искать бренд' : null}}"
                 formControlName="tradeMark">
        </nz-input-group>

        <ng-template #trademarkClearTpl>
          <div class="input_clear">
            <img src="assets/img/svg/icon__close.svg"
                 alt=""
                 (click)="resetControl('tradeMark')"
                 *ngIf="form.get('tradeMark').value.length">
          </div>
        </ng-template>
      </nz-form-control>
    </div>

    <ng-container *ngIf="areAdditionalFiltersEnabled">
      <div class="form-group_title">Способ доставки</div>
      <div class="form-group_checkbox">
        <label nz-checkbox formControlName="isPickup">Самовывоз</label>
        <label nz-checkbox formControlName="isDelivery">Доставка</label>
      </div>

      <div class="form-group_title">Параметры поиска</div>
      <div class="form-group_checkbox">
        <label nz-checkbox formControlName="inStock">В наличии</label>
        <label nz-checkbox formControlName="withImages">С картинками</label>
        <label nz-checkbox formControlName="hasDiscount">Со скидкой</label>
      </div>

      <div class="form-group_title">Цена ₽</div>
      <div class="range_wrap range_price">

        <div class="range_inputs">
          <nz-form-item>
            <nz-form-control>
              <input nz-input type="number"
                     [ngClass]="{'error': form.controls.priceFrom.invalid || form.errors?.priceRangeCondition}"
                     name="price_from"
                     class="range_input range_from price_from"
                     placeholder="от"
                     autocomplete="false"
                     list="null"
                     formControlName="priceFrom"/>
            </nz-form-control>
          </nz-form-item>


          <nz-form-item>
            <nz-form-control>
              <input nz-input type="number"
                     [ngClass]="{'error': form.controls.priceTo.invalid || form.errors?.priceRangeCondition}"
                     name="price_to"
                     class="range_input range_to price_to"
                     placeholder="до"
                     autocomplete="false"
                     list="null"
                     formControlName="priceTo"/>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </ng-container>

    <ng-container *ngIf="(availableCategories$ | async)?.length">
      <div class="form-group_title">Фильтр подкатегорий</div>
      <div class="form-group">

        <div class="categories_header">
          <nz-form-control>
            <nz-form-label nzFor="{{componentId}}_category">Поиск подкатегории</nz-form-label>
            <input
              #categorySearchQueryEl
              nz-input
              type="text"
              autocomplete="false"
              list="null"
              id="{{componentId}}_category"
              placeholder="{{!isIE ? 'Искать подкатегорию' : null}}"
              formControlName="categorySearchQuery">
          </nz-form-control>
        </div>

        <div class="categories_content">
          <cdk-virtual-scroll-viewport itemSize="20" minBufferPx="300" maxBufferPx="600"
                                       class="viewport scrollbar" (click)="setCategoryId($event.target)">
            <div class="category_item"
                 [attr.data-id]="category.id"
                 *cdkVirtualFor="let category of filteredCategories"
                 [ngClass]="form.get('subCategoryId').value ? form.get('subCategoryId').value === category.id ? 'active' : 'disabled' : null">
              <div class="category_item_box"></div>
              <div class="category_item_name">{{category.name}}</div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>

      </div>
    </ng-container>

    <div *ngIf="(form|marketCastControl: 'featuresData').length && categorySelected" formArrayName="featuresData">
      <div class="form-group_title">Фильтры характеристик товара</div>

      <div *ngFor="let feature of form|marketCastControl: 'featuresData'">

        <ng-container [formGroup]="feature" [ngSwitch]="feature.value.type">

          <ng-container *ngSwitchCase="'BOOLEAN'">
            <div class="form-group_checkbox">
              <label class="feature_wrap"
                     [ngClass]="{'d-none': feature.value.values.length < 2 && feature.value.boolValue === null}"
                     nz-checkbox formControlName="boolValue">{{feature.value.featureName}}</label>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'ENUMERATION'">
            <div class="form-group_title">{{feature.value.featureName}}</div>

            <div class="form-group_checkbox" *ngFor="let enumFeature of feature|marketCastControl: 'enumValues'">
              <ng-container [formGroup]="enumFeature">
                <label nz-checkbox formControlName="enumValue">{{enumFeature.value.valueName}}</label>
              </ng-container>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'NUMBER'">
            <div class="feature_wrap"
                 [ngClass]="{'d-none': feature.value.min === feature.value.max && feature.value.numValueFrom === null && feature.value.numValueTo === null}">

              <div class="form-group_title">{{feature.value.featureName}}</div>

              <div class="range_wrap range_price">
                <div class="range_inputs">
                  <nz-form-item>
                    <nz-form-control>
                      <input nz-input type="number"
                             [ngClass]="{'error': feature.controls.numValueFrom.invalid || feature.errors?.numFeatureRangeCondition}"
                             name="num_value_from"
                             class="range_input range_from price_from"
                             placeholder="от {{feature.value.min}}"
                             autocomplete="false"
                             list="null"
                             formControlName="numValueFrom"/>
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control>
                      <input nz-input type="number"
                             [ngClass]="{'error': feature.controls.numValueTo.invalid || feature.errors?.numFeatureRangeCondition}"
                             name="num_value_to"
                             class="range_input range_to price_to"
                             placeholder="до {{feature.value.max}}"
                             autocomplete="false"
                             list="null"
                             formControlName="numValueTo"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'DATE'">
            <div class="feature_wrap"
                 [ngClass]="{'d-none': feature.value.min === feature.value.max && feature.value.dateValueFrom === null && feature.value.dateValueTo === null}">

              <div class="form-group_title">{{feature.value.featureName}}</div>

              <div class="range_inputs">
                <nz-form-item>
                  <nz-form-control>
                    <div class="form-group"
                         [ngClass]="{'error': feature.controls.dateValueFrom.invalid || feature.errors?.dateFeatureRangeCondition}">
                      <nz-date-picker
                        nzFormat="yyyy-MM-dd"
                        nzPlaceHolder="от {{feature.value.min}}"
                        formControlName="dateValueFrom">
                      </nz-date-picker>
                    </div>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-control>
                    <div class="form-group"
                         [ngClass]="{'error': feature.controls.dateValueTo.invalid || feature.errors?.dateFeatureRangeCondition}">
                      <nz-date-picker
                        nzFormat="yyyy-MM-dd"
                        nzPlaceHolder="до {{feature.value.max}}"
                        formControlName="dateValueTo">
                      </nz-date-picker>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="filter_btns">
      <button nz-button type="submit" nzType="primary" [disabled]="!form.valid"
              (click)="save()">Найти
      </button>
      <button nz-button type="button" nzType="link"
              (click)="reset()">Сбросить
      </button>
    </div>

  </div>

</div>
