<div class="product" *ngIf="product && supplier && tradeOffer">

  <div class="product_gallery_tabs">
    <div class="product_gallery">
      <ng-container *ngTemplateOutlet="product_gallery"></ng-container>
    </div>
    <div class="product_side">
      <ng-container *ngTemplateOutlet="product_side"></ng-container>
    </div>
    <div class="product_tabs">
      <ng-container *ngTemplateOutlet="product_tabs"></ng-container>
    </div>
  </div>
  <div class="product_side">
    <ng-container *ngTemplateOutlet="product_side"></ng-container>
  </div>

</div>

<ng-template #product_gallery>
  <market-product-gallery
    [product]="product"
    [supplierName]="supplier.name"
    [supplierId]="supplier.id"
    [stock]="tradeOffer.stock?.stockBalanceSummary?.level"
    [supplierLogo]="supplierLogo"
  ></market-product-gallery>
</ng-template>

<ng-template #product_tabs>
  <nz-tabset nzTabPosition="top" nzType="card">
    <nz-tab nzTitle="Условия продажи">
      <market-terms-of-sale
        [tradeOffer]="tradeOffer"
      ></market-terms-of-sale>
    </nz-tab>

    <nz-tab nzTitle="Описание товара" [nzDisabled]="hasProductDescription">
      <market-product-description
        [product]="product"
      ></market-product-description>
    </nz-tab>

    <nz-tab nzTitle="О поставщике">
      <market-about-supplier
        [supplier]="supplier"
        [supplierLogo]="supplierLogo"
        [showStoreButton]="true"
      ></market-about-supplier>
    </nz-tab>
  </nz-tabset>
</ng-template>

<ng-template #product_side>
  <market-product-order
    [tradeOffer]="tradeOffer"
  ></market-product-order>
</ng-template>
