@media all and (max-width: 576px) {

  .catalog_item {

    &__link,
    &__inner {
      flex-direction: row;
      align-items: stretch;
    }

    &__img {
      height: 100%;
      width: 80px;
      padding: 10px 0 0 0;
      margin-bottom: 0;
      margin-right: 40px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    &__title {
      min-height: auto;
      font-size: var(--font-size-12);
      line-height: 15px;
    }

    &__descr {
      flex-grow: 1;
    }

    &__img {
      position: absolute;
      right: 20px;
      top: 16px;
      margin-right: 0;
      margin-bottom: 0;
      width: 34px;
      height: 35px;
    }

    &__title {
      height: 35px;
      display: flex;
      align-items: center;
      padding-right: 40px;
    }

    &__about {
      margin-bottom: 15px;
      margin-right: 0;
    }

    &__btns {
      display: flex;
      justify-content: flex-end;
    }
  }
}
