<div class="catalog_item__inner">
  <span class="catalog_item__img" [style]="{'background-color': argb}"></span>
  <span class="catalog_item__descr">
        <span class="catalog_item__title">
            {{supplier.name}}
        </span>
        <span class="catalog_item__about">
            {{supplier.description}}
        </span>
        <span class="catalog_item__btns">
            <a (click)="clickSupplier()" class="btn btn-gray-bordered btn-outer-shop">В магазин</a>
        </span>
    </span>
</div>
