@media all and (max-width: 400px) {
  .auth-decision-maker {
    width: 270px;
  }

  .description {
    font-size: var(--font-size-14);
  }

  .ant-btn-primary {
    padding: 0 20px;
    font-size: var(--font-size-12);
  }
}

