<div class="auth-decision-maker">

  <div class="description">
    Для продолжения работы необходимо войти на сайт под учетной записью "Интернет-поддержки пользователей (1С:ИТС)",
    указанной в вашем программном продукте "1С", или под вашей учетной записью облачного сервиса "1С:Предприятие через Интернет (1С:Фреш)".
    В случае их отсутствия - зарегистрируйте новую учетную запись.
  </div>

  <div class="action__btns">
    <button nz-button nzType="primary" (click)="register()">Зарегистрироваться</button>
    <button nz-button nzType="primary" (click)="login()">Войти</button>
  </div>

</div>
