<span class="item" [ngClass]="{'active': isActive}">

  <div class="cover">
    <img
      alt="{{item.searchText}}"
      title="{{item.searchText}}"
      [defaultImage]="'./assets/img/svg/clean.svg'"
      [lazyLoad]="imageUrl(item.imageUrl)"
    />
  </div>

  <div class="title">
    <div [innerHTML]="(item.searchText || item.highlight) | marketSafeHtml"></div>
  </div>

  <div class="meta">
    <ng-container *ngIf="type === 'searchQueryHistory'">
      <span (mousedown)="removeHistoricalSuggestion(); $event.stopPropagation(); $event.preventDefault()">Удалить</span>
    </ng-container>
    <ng-container *ngIf="type === 'productOffer'">
      {{item.offers}} {{item.offers | marketDeclension: 'предложение': 'предложения': 'предложений'}}
    </ng-container>
    <ng-container *ngIf="type === 'category'">
      {{item.offers}} {{item.offers | marketDeclension: 'предложение': 'предложения': 'предложений'}}
    </ng-container>
  </div>

</span>

