<div class="search" [ngClass]="{'hovered': isInputHovered, 'focused': isInputFocused}">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <input
      placeholder="Поиск товаров"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      aria-autocomplete="list"
      name="query"
      formControlName="query"
      (mouseenter)="isInputHovered = true"
      (mouseleave)="isInputHovered = false"
      (focus)="isInputFocused = true"
      (blur)="isInputFocused = false">

    <div class="buttons">
      <div class="buttons__item">
        <button class="btn btn_square btn_search" [disabled]="form.invalid"></button>
      </div>
      <div class="buttons__item">
        <a class="btn btn_square btn_category"></a>
      </div>
    </div>

    <div
      class="suggest"
      (mouseover)="quickSearchOver = true"
      (mouseout)="quickSearchOver = false"
      *ngIf="isInputFocused || quickSearchOver">

      <my-main-search-history *ngIf="!searchQuery"></my-main-search-history>
      <my-main-search-products
        [products]="productsSuggestions"
        [categories]="categoriesSuggestions"
        *ngIf="searchQuery"></my-main-search-products>

    </div>

  </form>
  <div class="region">
    <a class="btn">Москва</a>
  </div>
</div>
