<div class="sbcf">

  <ng-container *ngIf="!categories; else categoriesTpl">
    <div class="loading-wrapper">
      <market-spinner></market-spinner>
    </div>
  </ng-container>

  <ng-template #categoriesTpl>
    <ul class="base">
      <li class="item">
        <span class="hoverable" (click)="setSelectedCategoryItem(null)">Везде</span>
      </li>
    </ul>

    <ul class="list">
      <li class="item" *ngFor="let category of categories">
        <span class="hoverable" (click)="setSelectedCategoryItem(category)">{{category.name}}</span>
      </li>
    </ul>

    <div class="meta">
      <span class="hoverable" (click)="showAllCategories()">Показать больше категорий</span>
    </div>
  </ng-template>

  <div class="closer">
    <button (click)="close()"></button>
  </div>

</div>
