:host {
  display: none;
}

.opener {
  cursor: pointer;
  background: #3e3e3e;
  width: 40px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  height: 40px;
  align-items: center;

  &:hover {
    background: #f24e43;
  }
}
