<div class="logo">
  <div class="opener">
    <img src="./assets/img/svg/icon__site.svg" alt="1C:Бизнес-сеть" title="1C:Бизнес-сеть" >
  </div>
  <h1 class="label" (click)="goToRoot()">1C:Бизнес-сеть</h1>
</div>
<div class="nav-btns">
    <a class="btn btn_bordered">
      <img src="./assets/img/svg/icon__basket.svg" alt="Корзина" title="Корзина">
      <span class="counter" *ngIf="getCartCounter$ | async as cartCounter">{{cartCounter}}</span>
    </a>
    <a class="btn btn_bordered btn_mobile-menu" (click)="openMenu()">
      <span></span>
    </a>
</div>

