.product_about {
  padding: 15px 100px 70px 0;
}

.catalog_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &__title {
    font-weight: var(--font-weight-bold);

    &:after {
      content: " – ";
      font-weight: var(--font-weight-light);
    }
  }

  &__count {
    font-size: var(--font-size-18);
    line-height: 23px;
    margin-right: 20px;

    strong {
      font-weight: var(--font-weight-demi);
    }
  }
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  &.margin_top {
    margin-top: 55px;
  }
}
