<div class="product_about" *ngIf="tradeOffers">
  <div class="catalog_header">
    <div class="catalog_header__count" *ngIf="offersFoundInUserRegion">
      <span class="catalog_header__title">Наличие и цены у поставщиков в населенном пункте "{{userRegion}}"</span>
      <span>найдено <strong>{{tradeOffers.length}}</strong> {{tradeOffers.length | marketDeclension: 'торговое предложение': 'торговых предложения': 'торговых предложений'}}</span>
    </div>

    <div class="catalog_header__count" *ngIf="!offersFoundInUserRegion">
      <span class="catalog_header__title">Для населенного пункта "{{userRegion}}" предложений не найдено</span>
      <span>посмотрите <strong>{{tradeOffers.length}}</strong> {{tradeOffers.length | marketDeclension: 'торговое предложение, найденное': 'торговых предложения, найденных': 'торговых предложений, найденных'}}
        в других регионах</span>
    </div>
  </div>

  <market-results-sorter
    *ngIf="tradeOffers?.length > 1"
    [sort]="sort"
    (sortChange)="chooseSort($event)"
  ></market-results-sorter>

  <div class="catalog" [ngClass]="{'margin_top': tradeOffers?.length > 1}">
    <market-trade-offer-info-card
      *ngFor="let item of tradeOffers"
      [tradeOffer]="item"
    ></market-trade-offer-info-card>
  </div>
</div>
