@media all and (max-width: 992px) {
  .product_about {
    padding: 0 20px 40px;
    display: flex;
    flex-direction: column;
    border-left: none;
  }

  .catalog_header {
    flex-direction: column;
    margin-bottom: 5px;

    &__count {
      margin-top: 15px;
      margin-right: 0;
      text-align: center;
    }
  }

  .catalog {
    &.margin_top {
      margin-top: auto;
    }
  }
}
