<div class="content-wrapper page_inner">

  <div class="page_header">
    <h2>
      {{organizationData?.name | abbreviatedBusinessName}}
      <img class="verified_org" *ngIf="organizationData.verificationStatus === 'Verified'"
           nz-tooltip
           nzTooltipTitle="Проверенная организация. Предоставлено подтверждение принадлежности учетной записи в сервисе к организации."
           src="./assets/img/svg/verified.svg" alt="" title="">
    </h2>
  </div>

  <div class="tabs_wrap tabs_wrap__moving">

    <span
      class="tab_item tab_item__main"
      [ngClass]="{'active': activeTabType == 'a'}"
      (click)="goToTab('a')">Профиль
    </span>

    <ng-container *ngIf="isAdmin">

      <span
        class="tab_item tab_long"
        [ngClass]="{'active': activeTabType == 'b'}"
        (click)="isEditable = false; goToTab('b')">
          <span class="data_counter data_counter__gray">Пользователи</span>
      </span>

      <span
        class="tab_item tab_long"
        [ngClass]="{'active': activeTabType == 'c'}"
        (click)="isEditable = false; goToTab('c')">
          <span class="data_counter data_counter__gray" [attr.data_counter]="participationRequests?.length || null">Запросы</span>
      </span>

      <span
        class="tab_item tab_long"
        [ngClass]="{'active': activeTabType == 'd'}"
        (click)="isEditable = false; goToTab('d')">Одноразовые пароли
      </span>

      <span
        class="tab_item tab_long"
        (click)="createAccessKeyComponentModal()">Получить пароль
      </span>

    </ng-container>

  </div>


  <ng-container *ngIf="activeTabType == 'a'">

    <market-organization-operate *ngIf="isEditable"
      operationType="edit"
      [organizationData]="organizationData"
      [legalRequisites]="legalRequisites"
      (organizationDataChange)="updateOrganization($event)">
    </market-organization-operate>

    <market-organization-view *ngIf="!isEditable"
      [isAdmin]="isAdmin"
      [organizationData]="organizationData"
      [counterparty]="counterparty"
      (editOrganizationChange)="isEditable = true">
    </market-organization-view>

  </ng-container>

  <market-organization-users *ngIf="activeTabType == 'b'"
    [users]="users"
    (removeUserRequestChange)="createRemoveUserModal($event)"
  ></market-organization-users>

  <market-organization-requests *ngIf="activeTabType == 'c'"
    [requests]="participationRequests"
    (makeRequestDecisionRequestChange)="createMakeRequestDecisionModal($event)"
  ></market-organization-requests>

  <market-organization-access-keys *ngIf="activeTabType == 'd'"
    [accessKeys]="accessKeys"
    (removeAccessKeyRequestChange)="createRemoveAccessKeyModal($event)"
  ></market-organization-access-keys>

</div>
