<div class="content-wrapper page_inner">

  <div class="page_header">
    <h2>{{organizationData?.name}}</h2>
  </div>

  <div class="tabs_wrap tabs_wrap__moving">

    <span
      class="tab_item tab_item__main"
      [ngClass]="{'active': activeTabType == 'a'}"
      (click)="activeTabType = 'a'">Профиль
    </span>

    <ng-container *ngIf="isAdmin">

      <span
        class="tab_item tab_long"
        [ngClass]="{'active': activeTabType == 'b'}"
        (click)="activeTabType = 'b'; isEditable = false">
          <span class="data_counter data_counter__gray" [attr.data_counter]="users?.length || null">Пользователи</span>
      </span>

      <span
        class="tab_item tab_long"
        [ngClass]="{'active': activeTabType == 'c'}"
        (click)="activeTabType = 'c'; isEditable = false">
          <span class="data_counter data_counter__gray" [attr.data_counter]="participationRequests?.length || null">Запросы</span>
      </span>

      <span
        class="tab_item tab_long"
        [ngClass]="{'active': activeTabType == 'd'}"
        (click)="activeTabType = 'd'; isEditable = false">Одноразовые пароли
      </span>

      <span
        class="tab_item tab_long"
        (click)="createAccessKeyComponentModal()">Получить пароль
      </span>

    </ng-container>

  </div>


  <ng-container *ngIf="activeTabType == 'a'">

    <market-organization-operate
      operationType="edit"
      [organizationData]="organizationData"
      [legalRequisites]="legalRequisites"
      (organizationDataChange)="updateOrganization($event)"
      *ngIf="isEditable"></market-organization-operate>

    <market-organization-view
      [isAdmin]="isAdmin"
      [organizationData]="organizationData"
      (editOrganizationChange)="isEditable = true"
      *ngIf="!isEditable">
    </market-organization-view>

  </ng-container>

  <market-organization-users
    [users]="users"
    (removeUserRequestChange)="createRemoveUserModal($event)"
    *ngIf="activeTabType == 'b'"
  ></market-organization-users>

  <market-organization-requests
    [requests]="participationRequests"
    (makeRequestDecisionRequestChange)="createMakeRequestDecisionModal($event)"
    *ngIf="activeTabType == 'c'"
  ></market-organization-requests>

  <market-organization-access-keys
    [accessKeys]="accessKeys"
    (removeAccessKeyRequestChange)="createRemoveAccessKeyModal($event)"
    *ngIf="activeTabType == 'd'"
  ></market-organization-access-keys>

</div>
