<div class="documents_infinite_scroll" infiniteScroll (scrolled)="documentsLoading(page + 1)">
  <div class="table_list table_list__orders">

    <div class="table_row table_header">
      <div class="table_cell cell_title">
        <span>Отправитель</span>
      </div>
      <div class="table_cell cell_number">
        <span>Номер счета</span>
      </div>
      <div class="table_cell cell_date">
        <span>Дата</span>
      </div>
      <div class="table_cell cell_sum">
        <span>Сумма</span>
      </div>
    </div>

    <div class="table_row table_data" *ngFor="let document of documents" (click)="openDocument(payment_document)">
      <div class="table_cell cell_title" data-title="Отправитель:">
        <div class="supplier_title">
          <span class="supplier_image" style="{{document.partyInn | organizationLogo}}"></span>
          <span class="supplier_name">{{document.party | abbreviatedBusinessName}}</span>
        </div>
      </div>
      <div class="table_cell cell_number" data-title="Счет:">
        {{document.orderNumber}}
      </div>
      <div class="table_cell cell_date" data-title="Дата:">
        {{ document.orderDate | date:'dd MMMM yyyy г. HH:mm' }}
      </div>
      <div class="table_cell cell_sum" data-title="Сумма:">
        <span class="price">{{document.price | marketMultiplier:'.01' | currencyPrice: document.currency}}</span>
      </div>
      <div class="table_cell cell_action">
        <button type="button" class="btn btn-gray btn_long">Посмотреть счет</button>
      </div>
      <ng-template #payment_document>
        <market-payment-document
          [documentId]="document.id"
          [documentType]="'ACCOUNT'"
        ></market-payment-document>
      </ng-template>
    </div>
  </div>
</div>

