@media all and (max-width: 992px) {
  .content-main {
    padding: 0 20px 40px;
    display: flex;
    flex-direction: column;
    border-left: none;
  }

  .content-wrapper {
    order: 3;
  }

  .catalog_header {
    flex-direction: column;
    margin-bottom: 5px;

    &__count {
      margin-top: 15px;
      margin-right: 0;
      text-align: center;

      & + .catalog_header__btns {
        margin-top: 10px;
      }
    }
  }

  .product {
    &_content {
      display: block;
    }

    &_main {
      display: flex;
      flex-direction: column;
    }

    &_about {
      order: 3;
    }
  }
}
