:host-context(my-card:hover) .nomenclature-card {
  .meta {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0), 0px -1px 2px rgba(0, 0, 0, 0);
  }

  .count {
    background-color: var(--color-accent-lighter);
    color: #060606;
    border: var(--color-accent-lighter);
  }

  .price {
    background-color: var(--color-accent);
    color: #060606;
    border-color: var(--color-accent);
  }
}

.nomenclature-card {
  display: flex;
	flex-direction: column;
	width: 100%;
  flex-basis: 100%;
  height: 100%;
}

.cover {
	padding: 12px;
	height: 79px;
	margin-bottom: 18px;
	display: flex;
	align-items: center;
  justify-content: flex-start;

  img {
    max-width: 100px;
    max-height: 55px;
  }
}

.title {
	display: block;
	font-weight: var(--font-weight-medium);
	line-height: 19px;
	min-height: 68px;
	margin-bottom: 15px;
}

.meta {
	justify-self: flex-end;
	margin-top: auto;
	display: flex;
	transition: box-shadow .3s;
}

.count {
	width: 50%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
  transition: background-color .3s;
  border: 1px solid #E0E0E0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--color-main);
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-medium);
  transition: background-color 0.3s, border 0.3s;
}

.price {
	width: 50%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
  transition: background-color .3s;
  font-weight: var(--font-weight-medium);
  border: 1px solid #E0E0E0;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  white-space: nowrap;
  transition: background-color 0.3s, border 0.3s;
}

