<a class="nomenclature-card" *ngIf="productOffer" [routerLink]="'/product/' + productOffer.product.id">
  <span class="cover">
    <span *ngIf="!imageUrl"
          class="empty__img"></span>

      <img
        alt="{{productOffer.product.productName}}"
        title="{{productOffer.product.productName}}"
        [defaultImage]="'./assets/img/svg/clean.svg'"
        [lazyLoad]="imageUrl"
        *ngIf="imageUrl"
      />

  </span>
  <span class="body">
    <span class="title"
          nz-tooltip
          nzTooltipTitle="{{productOffer.product.productName}}">
      {{productOffer.product.productName}}
    </span>
    <span class="meta">
      <span class="count"
            nz-tooltip
            nzTooltipTitle="Количество предложений от поставщиков">{{productOffer.offersTotal | number:'1.0'}}</span>
      <span
        class="price"
        nz-tooltip
        nzTooltipTitle="Минимальная цена"><span>{{productOffer.offersMinPrice | marketMultiplier:'.01' | currencyPrice:'643'}}</span></span>
    </span>
  </span>
</a>
