:host {
  display: inline-block;
  width: 320px;
  background: #f5f5f5;
  height: 100%;
  min-height: 100vh;
  transition: width 0.1s;

  a:hover {
    text-decoration: none;
  }

  .logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 35px 0 0 0;

    &:hover {
      cursor: pointer;
      .opener {
        background: #f24e43;
      }
    }

    .label {
      display: block;
      margin: 0 0 0 15px;

      &::first-letter {
        letter-spacing: -3px;
      }
    }

    .opener {
      display: inline-flex;
      cursor: pointer;
      background: #3e3e3e;
      width: 40px;
      display: flex;
      justify-content: center;
      border-radius: 7px;
      height: 40px;
      align-items: center;
      transition: background-color 0.2s;
    }

    .btn_close {
      display: none;
    }
  }

  .panel {
    margin: 40px 0 0 0;

    .list {
      padding: 0;
      margin: 0;
    }

    .item {
      list-style-type: none;
      font-weight: var(--font-weight-medium);

      &.delimiter {
        margin: 25px 0 0 0;
      }
      a {
        cursor: pointer;
        display: flex;
        color: var(--color-secondary);
        align-items: center;
        height: 50px;
        padding-left: 20px;
        background-color: transparent;
        transition: background-color 0.2s, padding-left 0.1s;

        &.active {
          color: var(--color-primary);
          background-color: #fbfbfb;
        }
        &:hover {
          background: #fedc7b;
        }
      }
    }

    .list-secondary {
      .item {
        a {
          cursor: pointer;
          color: #737373;
          opacity: 0.89;
        }
      }
    }

    .icon {
      width: 40px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
    }

    .label {
      display: block;
    }

    .counter {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-10);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      padding: 0 3px;
      background-color: #fdc82f;
      border-radius: 2px;
      color: var(--color-secondary);
      margin-left: 8px;
    }

    .expandable {
      display: block;
      width: 0;
      height: 0;
      margin-left: 10px;
      margin-top: 3px;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #454545 transparent transparent transparent;
    }

    .collapsible {
      display: block;
      width: 0;
      height: 0;
      margin-left: 10px;
      margin-top: 3px;
      border-style: solid;
      border-width: 0 4px 5px 4px;
      border-color: transparent transparent #454545 transparent;
    }
  }

  .categories {
    background: #fff;
    position: fixed;
    top: 0;
    left: 320px;
    width: calc(100% - 320px);
    height: 100vh;

    &.showed {
      z-index: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

:host(.minified) {
  width: 60px;

  .logo {
    padding: 0 10px;
    .label {
      display: none;
    }
  }

  .panel {
    .label {
      display: none;
    }

    .counter {
      display: none;
    }

    .expandable,
    .collapsible {
      display: none;
    }

    .item {
      a {
        padding: 0 10px;
      }
    }

    .list-secondary {
      .item {

        a {
          display: flex;
          justify-content: center;
          padding: 0;
        }
        .icon-point {
          display: block;
          width: 6px;
          height: 6px;
          margin-right: 0;
          background: var(--color-secondary);
          border-radius: 50%;
        }
      }
    }
  }

  .categories {
    left: 60px;
    width: calc(100% - 60px);
  }
}

.categories {
  display: none;
}

.categories-mobive-nav {
  display: none;
}

.categories_base {
  display: flex;
  flex: 1;
  position: relative;
}

.categories_fade {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.2s linear, transform 0.2s linear;
}

.categories_fade.showed {
  opacity: 1;
  transform: translateX(0);
}

.categories_header {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 55px;
  margin-bottom: 40px;
  font-weight: var(--font-weight-demi);
  font-size: var(--font-size-18);
  line-height: 23px;
  flex-shrink: 0;
}

.categories_panel .categories_header {
  padding-right: 40px;
}

.categories_list {
  width: 320px;
  height: auto;
  min-height: 100%;
  padding-top: 35px;
  padding-bottom: 90px;
  position: relative;
  flex-shrink: 0;
}

.categories_list:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  opacity: 0.95;
  z-index: -1;
}

.categories_list .nav_item {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: transparent;
  transition: background-color 0.2s;
  padding-left: 55px;
  padding-right: 56px;
  color: var(--color-main);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-13);

  &:hover {
    background-color: #f6f6f6;
  }
}

.categories_list .nav_item.active {
  background-color: #fbfbfb;
  color: #4f4f4f;
}

.categories_list .nav_item span {
  flex: 1;
  padding-right: 35px;
}

.categories_list .nav_item:after {
  content: "";
  width: 8px;
  height: 14px;
  background: url(../../../../../../../assets/img/svg/icon__arrow_right.svg)
    no-repeat;
}

.categories_panel {
  flex: 1;
  height: 100%;
  padding-top: 35px;
  padding-right: 65px;
  padding-bottom: 90px;
  position: relative;
}

.categories_panel:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fafafa;
  opacity: 0.95;
  z-index: -1;
}

.categories_close {
  position: absolute;
  right: 50px;
  top: 40px;
  z-index: 3;
}

.categories_close button.btn_close {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background: url(../../../../../../../assets/img/svg/icon__close.svg) no-repeat
    center center;
  min-width: 40px;
}

.category_item {
  display: none;
  height: 100%;
  flex-direction: column;
}

.category_item.showed {
  display: flex;
}

.sub_categories {
  height: calc(100vh - 135px);
  overflow-y: auto;
  flex-grow: 1;
}

.sub_category {
  padding-left: 55px;
  margin-bottom: 25px;
}

.sub_category__link {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-13);
  white-space: nowrap;
}

.sub_category__link:hover {
  border-bottom: 1px solid #fedc7b;
}

.sub_category__name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-13);
  margin-top: 18px;
}

.sub_category__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 11px;
}

.sub_category__item {
  margin: 3px 20px 3px 0;
}

.category__content {
  margin-bottom: 25px;
}

.category__content h2 {
  margin-bottom: 15px;
  margin-top: 35px;
}

.categories__mobile_back {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-button {
  display: none;
}
.scrollbar::-webkit-scrollbar-track {
  width: 1px;
  background-color: #ebebeb;
}
.scrollbar::-webkit-scrollbar-track-piece {
  width: 1px;
  background-color: #ebebeb;
}
.scrollbar::-webkit-scrollbar-thumb {
  height: 50px;
  width: 5px;
  background-color: var(--color-accent-light);
}
.scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.scrollbar::-webkit-resizer {
  display: none;
}
