:host {
  display: inline-block;
  width: 320px;
  background: #f5f5f5;
  height: 100vh;
}

:host(.expanded) {
  .logo {
    .label {
      display: block;
      margin: 0 0 0 15px;

      &::first-letter {
        letter-spacing: -3px;
      }
    }
  }

  .panel {
    .label {
      display: block;
    }

    .counter {
      font-weight: var(--font-weight-medium);
      font-size: var(--font-size-10);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      padding: 0 3px;
      background-color: #fdc82f;
      border-radius: 2px;
      color: #3a3a3a;
      margin-left: 8px;
    }

    .expandable {
      display: block;
      width: 0;
      height: 0;
      margin-left: 10px;
      margin-top: 3px;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #454545 transparent transparent transparent;
    }

    .collapsible {
      display: block;
      width: 0;
      height: 0;
      margin-left: 10px;
      margin-top: 3px;
      border-style: solid;
      border-width: 0 4px 5px 4px;
      border-color: transparent transparent #454545 transparent;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin: 35px 0 0 0;

  .opener {
    display: inline-flex;
    cursor: pointer;
    background: #3e3e3e;
    width: 40px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    height: 40px;
    align-items: center;

    &:hover {
      background: #f24e43;
    }
  }

  .label {
    display: none;
  }

  .btn_close {
    display: none;
  }
}

.panel {
  margin: 40px 0 0 0;

  .icon {
    width: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }

  .label {
    display: none;
  }

  .counter {
    display: none;
  }

  .expandable,
  .collapsible {
    display: none;
  }

  .list {
    padding: 0;
    margin: 0;
  }

  .item {
    list-style-type: none;

    &.delimiter {
      margin: 25px 0 0 0;
    }
    a {
      cursor: pointer;
      display: flex;
      color: #3a3a3a;
      align-items: center;
      height: 50px;
      padding-left: 20px;
      background-color: transparent;
      transition: background-color 0.2s, padding-left 0.1s;

      &.active {
        background-color: #fbfbfb;
        color: #4f4f4f;
      }
      &:hover {
        background: #fedc7b;
      }
    }
  }

  .list-secondary {
    .item {
      a {
        cursor: pointer;
        color: #737373;
        opacity: 0.89;
      }
    }
  }
}

.nav_item.active {
  background-color: #fbfbfb;
  color: #4f4f4f;
}
