<ng-container *ngIf="requests?.length; else emptyRequests">
  <div class="table_list table_list__organizations">
    <div class="table_row table_header">
      <div class="table_cell cell_title">
        <span>Сообщение</span>
      </div>
      <div class="table_cell cell_action">
        <span>Дата запроса</span>
      </div>
      <div class="table_cell cell_action">
        <span>Действие</span>
      </div>
    </div>
    <div class="table_row" *ngFor="let request of requests">
      <div class="table_cell cell_title">
        <span class="supplier_title">
          <span class="supplier_image" style="{{request.requesterNotes | organizationLogo : true}}"></span>
          <span class="supplier_name">
            {{request?.requesterNotes}}
          </span>
        </span>
      </div>
      <div class="table_cell cell_status" data-title="Дата запроса:">
        {{request?.requestDate | date:'dd MMMM yyyy г.'}}
      </div>
      <div class="table_cell cell_action">
        <div class="table_cell__inner">
          <button
            class="btn btn-gray btn_get_access-key btn_long"
            (click)="emitMakeRequestDecisionRequestChange(request?.requestId)">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #emptyRequests>
  <div class="empty">
    <nz-empty
      nzNotFoundImage="./assets/img/svg/empty.svg"
      [nzNotFoundContent]="contentTpl"
    >
      <ng-template #contentTpl>
        <span>Список запросов пуст</span>
      </ng-template>
    </nz-empty>
  </div>
</ng-template>
