.breadcrumbs {
  padding: 12px 0;
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
  margin-top: 20px;

  nz-breadcrumb-item {
    font-weight: var(--font-weight-light);
    line-height: 19px;
    color: #908d8d;
    font-size: var(--font-size-15);
  }

  span {
    list-style: none none;
    display: inline-block;
    font-size: var(--font-size-15);
  }

  a {
    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  li {
    list-style: none none;
    display: inline-block;
  }
}

