.section_paragraph {
  margin-top: 25px;

  & > *:last-child {
    margin-bottom: 0;
  }

  h3 {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-demi);
    line-height: 19px;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  p {
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  ul {
    margin: 0 0 10px 0;
    padding: 0;
  }

  li {
    list-style-image: none;
    list-style-type: none;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    line-height: 1.4;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      background-color: #bdbdbd;
      position: absolute;
      left: 3px;
      top: 4px;
      border-radius: 12px;
    }
  }
}

.info_group {
  display: flex;
  align-items: flex-start;
  position: relative;
  line-height: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #f5f5f5;

  &__label {
    padding-right: 10px;
    flex-shrink: 0;
  }

  &__value {
    padding-right: 2px;
    flex-grow: 1;
    text-align: right;
  }

  &__small {
    max-width: 270px;
  }

  &__supplier {
    max-width: 360px;
  }
}
