@media all and (max-width: 992px) {
  .product_side {
    margin-top: 15px;
    order: 2;
    position: relative;
    width: auto;
    margin-left: 0;
    margin-bottom: 30px;
    display: flex;

    .price_matrix {
      margin-left: 18px;
    }

    .to_cart__wrap {
      margin-bottom: 0;
    }
  }

  .price_matrix {
    &__group {
      margin: 0 auto;
    }

    h3 {
      margin-bottom: 5px;
    }
  }
}
