<div *ngIf="tradeOffer">
  <div class="product_side" *ngIf="orderStatus === 'TO_CART'">
    <div class="to_cart__wrap">
      <h3>Добавить товар в <a [routerLink]="['/cart']">корзину</a></h3>
      <p class="to_cart__supplier" *ngIf="isProductPage">от {{tradeOffer?.supplier.name | abbreviatedBusinessName}}</p>
      <ng-container *ngTemplateOutlet="product_side"></ng-container>
      <div class="to_cart__total_price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <p *ngIf="tradeOffer?.termsOfSale.price?.hasDiscount">
          <span class="price_before_discount"
                nz-tooltip
                nzTooltipTitle="Цена без скидки"
                itemprop="price">{{tradeOffer?.termsOfSale.price?.matrix | marketMinPrice: true | marketMultiplier:'.01' | currencyPrice: tradeOffer.termsOfSale.price?.currencyCode}}
          </span>
        </p>
        <p>
          <span *ngIf="tradeOffer?.termsOfSale.price?.matrix?.length"
                itemprop="price">{{tradeOffer?.termsOfSale.price?.matrix | marketMinPrice | marketMultiplier:'.01' | currencyPrice: tradeOffer.termsOfSale.price?.currencyCode}}
          </span>

          <span *ngIf="!tradeOffer?.termsOfSale.price?.matrix?.length" itemprop="price">
            цена по запросу
          </span>
        </p>
      </div>
      <p class="to_cart__nds">{{vatInfo}}</p>
      <p class="to_cart__low_price" *ngIf="isProductPage">НИЗКАЯ ЦЕНА</p>
      <div class="tooltip_wrap" *ngIf="tradeOffer.audience">
        <span class="tooltip"
              nz-tooltip
              nzTooltipTitle="Поставщик установил специальную выгодную цену для вас">
          Специальная цена
        </span>
      </div>
      <div *ngIf="matrix?.length > 1"
           class="price_matrix__btn attention-link"
           data-modal="modalPriceMatrix"
           (click)="isVisible = true">
        Матрица цен
      </div>
      <ng-container *ngTemplateOutlet="price_matrix_modal"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="price_matrix"></ng-container>
  </div>

  <div class="product_side" *ngIf="orderStatus === 'IN_CART'">
    <div class="to_cart__wrap">
      <h3>Товар добавлен в <a [routerLink]="['/cart']">корзину</a></h3>
      <p class="to_cart__supplier" *ngIf="isProductPage">от {{tradeOffer?.supplier.name | abbreviatedBusinessName}}</p>
      <ng-container *ngTemplateOutlet="product_side"></ng-container>
      <div class="to_cart__total_price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span *ngIf="price"
              itemprop="price">{{price | marketMultiplier:'.01' | currencyPrice: tradeOffer.termsOfSale.price?.currencyCode}}
        </span>
        <span *ngIf="!price" itemprop="price">
          цена по запросу
        </span>
      </div>
      <p class="to_cart__nds">{{vatInfo}}</p>
      <p class="to_cart__low_price" *ngIf="isProductPage">НИЗКАЯ ЦЕНА</p>
      <div class="tooltip_wrap" *ngIf="tradeOffer.audience">
        <span class="tooltip"
              nz-tooltip
              nzTooltipTitle="Поставщик установил специальную выгодную цену для вас">
          Специальная цена
        </span>
      </div>
      <div *ngIf="matrix?.length > 1"
           class="price_matrix__btn attention-link"
           data-modal="modalPriceMatrix"
           (click)="isVisible = true"
      >Матрица цен
      </div>
      <ng-container *ngTemplateOutlet="price_matrix_modal"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="price_matrix"></ng-container>
  </div>

  <ng-template #price_matrix_modal>
    <nz-modal #matrixModal nzWrapClassName="test__modal" [(nzVisible)]="isVisible" [nzFooter]="null"
              (nzOnCancel)="isVisible = false">
      <ng-container *ngTemplateOutlet="price_matrix"></ng-container>
    </nz-modal>
  </ng-template>

  <ng-template #price_matrix>
    <div class="price_matrix" *ngIf="matrix?.length > 1">
      <h3>Матрица цен</h3>
      <div class="price_matrix__group" *ngFor="let item of matrix">
        <p>
          <span class="price_matrix__label">
            От {{item.fromPackages}} {{tradeOffer.product.ref1cNomenclature?.baseUnitOkei?.nsymb || tradeOffer.product.supplierNomenclature?.baseUnitOkei?.nsymb}}.
          </span>

          <span class="price_matrix__value">
            {{item.price | marketMultiplier:'.01' | currencyPrice: tradeOffer.termsOfSale.price?.currencyCode}}
          </span>

          <span class="price_matrix__nds">
            {{vat}}
          </span>

          <img class="discount"
               src="./assets/img/svg/discount.svg" alt="Скидки"
               nz-tooltip
               nzTooltipTitle="Цена без скидки {{item.priceBeforeDiscount | marketMultiplier:'.01' | currencyPrice: tradeOffer.termsOfSale.price?.currencyCode}}"
               *ngIf="item.priceBeforeDiscount">
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template #product_side>
    <div class="side">
      <market-product-side
        [tradeOffer]="tradeOffer"
        [minQuantity]="matrix | marketMinQuantity : tradeOffer.termsOfSale?.packageMultiplicity"
        [orderStep]="tradeOffer.termsOfSale.packageMultiplicity"
        (isMadeOrder)="isMadeOrder.emit($event)"
      ></market-product-side>
    </div>
  </ng-template>

</div>
