<div class="single">

  <market-category-list
    [category]="category"
  ></market-category-list>

  <market-search-bar
    [query]="query"
    [page]="page"
    [filters]="filters"
    [suggestionsOff]="true"
    (submitClick)="changeQueryParamsAndRefresh($event)"
    (cityChange)="changeCityAndRefresh($event)"
  ></market-search-bar>

  <market-banners [bannerItems]="bannerItems" *ngIf="bannerItems?.length">></market-banners>

  <market-main-popular
    *ngIf="isNotSearchUsed && isPopularEnabled"
    [categoryId]="categoryId"
  ></market-main-popular>

  <market-search-results
    [popularComponentHeight]="popularComponentHeight"
    [bannersComponentHeight]="bannersComponentHeight"
    [categoryListComponentHeight]="categoryListComponentHeight"
    [category]="category"
    (sortingChanged)="changeSortingAndRefresh($event)"
    (pageChanged)="changePage($event)"
  ></market-search-results>

</div>
