<div class="single">

  <market-category-list
    [category]="categoryModel"
  ></market-category-list>

  <market-search-bar
    [query]="query"
    [filters]="filters"
    [suggestionsOff]="true"
    (submitClick)="changeQueryParamsAndRefresh($event)"
    (cityChange)="changeCityAndRefresh($event)"
  ></market-search-bar>

  <ng-container *ngTemplateOutlet="banners"></ng-container>

  <market-main-popular *ngIf="!usedSearch && supplierBannerItems?.length"></market-main-popular>

  <market-search-results
    [productOffers]="productOffers"
    [productsTotal]="productsTotal"
    [page]="page"
    [sort]="sort"
    [visibleSort]="productOffers?.length > 1"
    (loadProducts)="loadProducts($event)"
    (sortingChanged)="changeSortingAndRefresh($event)"
  ></market-search-results>

  <ng-template #banners>
    <div class="banners_suppliers" *ngIf="supplierBannerItems?.length">
      <market-main-banners-banner
        *ngFor="let item of supplierBannerItems"
        title="{{item.title}}"
        btnLink="{{item.btnLink}}"
        btnText="Подобрать товары">
          <span class="description">{{item.description}}</span>
          <img class="cover" src="{{item.imgUrl}}" alt="{{item.title}}" title="{{item.title}}">
      </market-main-banners-banner>
    </div>
  </ng-template>

</div>
