<div class="single">

  <market-category-list
    [category]="categoryModel"
  ></market-category-list>

  <market-search-bar
    [query]="query"
    [filters]="filters"
    [suggestionsOff]="true"
    (submitClick)="changeQueryParamsAndRefresh($event)"
    (cityChange)="changeCityAndRefresh($event)"
  ></market-search-bar>

  <market-search-results
    [productOffers]="productOffers"
    [productsTotal]="productsTotal"
    [page]="page"
    [sort]="sort"
    [visibleSort]="productOffers?.length > 1"
    [isLoading]="isLoadingProducts"
    (loadProducts)="loadProducts($event)"
    (sortingChanged)="changeSortingAndRefresh($event)"
  ></market-search-results>

</div>
