@media all and (max-width: 768px) {
  .banners_main {
    display: flex;
    margin-right: 0;

    &.banners_main_simple {
      display: none;
    }

    market-main-banners-banner {
      margin-right: 0;
      width: 100%;
      flex-basis: 100%;
    }
  }
}
