<div class="banners banners_main">
  <nz-carousel [nzEffect]="'fade'">
    <div nz-carousel-content>
      <ng-container *ngTemplateOutlet="banner1"></ng-container>
    </div>
    <div nz-carousel-content>
      <ng-container *ngTemplateOutlet="banner2"></ng-container>
    </div>
    <div nz-carousel-content>
      <ng-container *ngTemplateOutlet="banner3"></ng-container>
    </div>
  </nz-carousel>
</div>

<div class="banners banners_main banners_main_simple">
  <ng-container *ngTemplateOutlet="banner1"></ng-container>
  <ng-container *ngTemplateOutlet="banner2"></ng-container>
  <ng-container *ngTemplateOutlet="banner3"></ng-container>
</div>

<ng-template #banner1>
  <market-main-banners-banner title="Скидка 10% на первый заказ!" btnLink="/promo/first-order" btnText="Подробнее">
    <span class="description">До 31 октября скидки от Поставщиков</span>
    <img class="cover" src="assets/img/tmp/banner_1.png" alt="Скидка 10%" title="Скидка 10%">
  </market-main-banners-banner>
</ng-template>

<ng-template #banner2>
  <market-main-banners-banner title="Все для офиса!" btnLink="/category/616" btnText="Подробнее">
    <span class="description">до 10% на заказы в категории «Товары для школы и офиса»</span>
    <img class="cover" src="assets/img/tmp/banner_2.png" alt="Канцтовары" title="Канцтовары">
  </market-main-banners-banner>
</ng-template>

<ng-template #banner3>
  <market-main-banners-banner title="Все для магазина и ресторана!" btnLink="/supplier/889f29b7-7766-4da1-9397-06ab88cbc7cd" btnText="Подробнее">
    <span class="description">> 7000 товаров в категории «Продукты, напитки, табак»</span>
    <img class="cover" src="assets/img/tmp/banner_3.png" alt="Продукты питания" title="Продукты питания">
  </market-main-banners-banner>
</ng-template>





