[nz-carousel-content] {
  width: 100%;
  overflow: hidden;
  padding: 0 0 26px 0;
}

.banners {
  width: 100%;
}

.banners_main {
  display: none;
  margin-bottom: 20px;

  &.banners_main_simple {
    display: flex;
    margin-right: -20px;

    market-main-banners-banner:last-child {
      margin-right: 0;
    }
  }

  market-main-banners-banner {
    margin-right: 20px;
    position: relative;
  }
}
