<market-search-area
  [areAdditionalFiltersEnabled]="false"
  [filterCollapsed]="true"
  [enableSuggestions]="true"
  (submitClick)="navigateToCategoryRoute($event)"
>
  <ng-container ngProjectAs="upper-slot">
    <market-banners></market-banners>
  </ng-container>

  <ng-container ngProjectAs="middle-slot">
    <market-product-range></market-product-range>
  </ng-container>

  <ng-container ngProjectAs="main-slot">
    <market-main-popular></market-main-popular>
  </ng-container>

</market-search-area>
