.title {
  font-size: var(--font-size-18);
  line-height: 23px;

  span::before {
    content: ' – ';
  }

  a {
    color: inherit;
    border-bottom: 1px solid #fedc8b;
    text-decoration: none;

    &:hover {
      border: none;
    }
  }
}

.result_info {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;

  &.lined {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -10px 0;
}

virtual-scroller {
  height: 100vh;
}
