.title {
  font-size: var(--font-size-18);
  line-height: 23px;
  margin-bottom: 10px;

  span::before {
    content: " – ";
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.product_infinite_scroll {
  display: flex;
  flex-wrap: wrap;
}

.icon_scroll {
  position: fixed;
  font-size: 50px;
  color: var(--color-accent-light);
}

.result_info {
  display: flex;
  justify-content: space-between;
}

.line {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #918C8C;
}
