.btn__feedback {
  width: 60px;
  height: 60px;
  background: var(--color-accent-light) url("../../../../../assets/img/svg/feedback.svg") center center no-repeat;
  background-size: 30px;
  border-radius: 50%;
  cursor: pointer;

  position: fixed;
  z-index: 1;
  right: 15px;
  bottom: 15px;
}
