.about {

  font-size: var(--font-size-15);
  line-height: initial;

  p {
    margin-bottom: 10px;
  }

  strong {
    font-weight: 600;
  }

  h2 {
    font-weight: var(--font-weight-demi);
    font-size: var(--font-size-18);
    margin-bottom: 15px;
    margin-top: 25px;
  }

  h4 {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  a {
    color: inherit;
    border-bottom: 1px solid #fedc8b;
    text-decoration: none;

    &:hover {
      border: none;
    }
  }

  .trading_scheme_img {
    display: block;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  ol {
    li {
      list-style-type: decimal;
      margin-left: 30px;
    }
  }

  ul:not(.toc) {
    li {
      list-style-type: disc;
      margin-left: 30px;
    }
  }

  ul.toc {
    li {
      margin: 6px 0;
    }
  }

  *[id]:before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
  }
}

@media all and (max-width: 768px) {
  .about{
    .trading_scheme_img {
      width: 100%;
    }
  }
}
