<div class="about">

  <ul class="toc">
    <li>
      <a href="./about#what-is">Что такое «1С:Бизнес-сеть.Торговая площадка»?</a>
    </li>
    <li>
      <a href="./about#how-it-works">Как работает «1С:Бизнес-сеть.Торговая площадка»?</a>
    </li>
    <li>
      <a href="./about#how-to-register">Как зарегистрироваться в сервисе?</a>
    </li>
    <li>
      <a href="./about#how-to-choose-tradeoffer">Как выбрать торговое предложение?</a>
    </li>
    <li>
      <a href="./about#how-to-order">Как оформить заказ?</a>
    </li>
    <li>
      <a href="./about#delivery">Как осуществляется доставка?</a>
    </li>
    <li>
      <a href="./about#how-to-get-docs">Как обменяться документами с поставщиком?</a>
    </li>
    <li>
      <a href="./about#no-price">Что делать, если у поставщика не указана цена?</a>
    </li>
    <li>
      <a href="./about#min-price">Какая минимальная сумма заказа?</a>
    </li>
    <li>
      <a href="./about#why-become-supplier">Зачем становиться поставщиком «1С:Бизнес-сеть.Торговая площадка»?</a>
    </li>
    <li>
      <a href="./about#how-to-become-supplier">Как стать поставщиком?</a>
    </li>
    <li>
      <a href="./about#how-much">Сколько стоит сервис?</a>
    </li>
    <li>
      <a href="./about#agreements">Какие соглашения действуют в сервисе?</a>
    </li>
    <li>
      <a href="./about#from-1c">Как работать с сервисом из программных продуктов «1С»?</a>
    </li>
    <li>
      <a href="./about#questions">У меня остались вопросы. Как связаться со службой поддержки?</a>
    </li>
  </ul>

  <h2 id="what-is">Что такое «1С:Бизнес-сеть.Торговая площадка»?</h2>

  <p>
    Сервис «1С:Бизнес-сеть.Tорговая площадка» - это B2B-маркетплейс фирмы «1С», на котором независимые производители и дистрибьюторы продают товары на общей витрине и в своих персональных магазинах. Продавать и покупать товары на торговой площадке могут только юридические лица и индивидуальные предприниматели. Работать с торговой площадкой можно через сайт 1c.market или непосредственно из программного обеспечения «1С». На торговой площадке поставщики зарабатывают, продавая свои товары и получая новых клиентов, а покупатели экономят, находя выгодных и надежных поставщиков в своём регионе.
  </p>

  <h2 id="how-it-works">Как работает «1С:Бизнес-сеть.Торговая площадка»?</h2>

  <p>
    Сервис «1С:Бизнес-сеть.Tорговая площадка» обеспечивает непосредственное взаимодействие покупателя с поставщиком. На нашей торговой площадке поставщик сам обеспечивает описание продаваемого товара и актуализацию своего прайс-листа, общение с покупателями, обработку и доставку заказа.
  </p>

  <p>
    Чтобы начать закупать на торговой площадке, покупателю нужно:
  </p>

  <ol>
    <li>
      Зарегистрировать учетную запись пользователя, или использовать существующую учетную запись сервисов «1С:ИТС». Для отправки заказа нужно зарегистрировать юридическое лицо, от имени которого будет оформляться заказ.
    </li>
    <li>
      Воспользоваться каталогом или строкой поиска для выбора необходимого товара.
    </li>
    <li>
      Положить товар в корзину и ввести сопроводительную информацию.
    </li>
    <li>
      Отправить заказ.
    </li>
    <li>
      В ответ на ваш заказ поставщик оформит и вышлет счет на оплату.
    </li>
  </ol>

  <div class="trading_scheme_img">

    <img src="./assets/img/tmp/trading_scheme.png" alt="1С:Торговая площадка" title="1С:Торговая площадка" >

  </div>

  <p>
    Сервис «1С:Бизнес-сеть.Tорговая площадка» помогает покупателю экономить и организует полезные акции и их информационную поддержку. Следите за нашими новостями!
  </p>

  <h2 id="how-to-register">Как зарегистрироваться в сервисе?</h2>
  <p>
    Ознакомиться с ассортиментом торговой площадки можно без регистрации. Однако для оформления заказа потребуется зарегистрироваться.
  </p>

  <p>
    Зарегистрироваться в сервисе можно напрямую на сайте 1с.market или через типовые конфигурации фирмы «1С». Возможность подключения встроена в следующие программные продукты:
  </p>

  <ul>
    <li>
      «1C:ERP Управление предприятием 2»
    </li>
    <li>
      «1С:Управление торговлей»
    </li>
    <li>
      «1C:Управление нашей фирмой»
    </li>
    <li>
      «1С:Комплексная автоматизация 2»
    </li>
    <li>
      «1С:Управление холдингом 8»
    </li>
    <li>
      «1С:Клиент ЭДО»
    </li>
  </ul>

  <br/>
  <p>
    Регистрация в сервисе состоит из двух простых шагов и занимает не более минуты:
  </p>

  <h4>
    Шаг 1. Регистрация учетной записи.
  </h4>

  <p>
    На первом шаге потребуется создать учетную запись пользователя в сервисе.
  </p>
  <p>
    Если у вас уже есть учетная запись "Интернет-поддержки пользователей (1С:ИТС)", указанная в вашем программном продукте "1С", или учетная запись облачного сервиса "1С:Предприятие через Интернет (1С:Фреш)" – вы можете использовать любую из них для входа в сервис и не создавать новую учетную запись.
  </p>

  <h4>
    Шаг 2. Регистрация организации.
  </h4>

  <p>
    На заключительном шаге необходимо зарегистрировать юридического лицо или индивидуального предпринимателя, от имени которого вы будете оформлять заказ. Для регистрации потребуются ИНН и КПП организации. Сразу после завершения регистрации вы сможете отправить заказ поставщику.
  </p>

  <p>
    Если указанная вами организация ранее уже была зарегистрирована в сервисе – система предложит отправить запрос на присоединение к этой организации. Сотрудник, ранее зарегистрировавший в сервисе вашу организацию, (администратор организации в сервисе «1С:Бизнес-сеть») должен принять этот запрос в личном кабинете сервиса. В этом случае, вы сможете отправить заказ только после подтверждения вашего запроса сотрудником, зарегистрировавшим вашу организацию.
  </p>

  <p>
    Если учетная запись администратора организации утеряна - обратитесь в службу поддержки сервиса "1С:Бизнес-сеть" по адресу bn@1c.ru для подключения организации к вашей учетной записи, зарегистрированной на Шаге 1. Потребуется предоставить подтверждающие документы.
  </p>

  <h2 id="how-to-choose-tradeoffer">Как выбрать торговое предложение?</h2>

  <p>
    Найти торговое предложение можно по наименованию товара, по названию бренда, по региону, по наименованию (ИНН) поставщика или по категории товара.
  </p>

  <p>
    После выбора торгового предложения нажмите кнопку «в корзину», товар добавится в вашу корзину.
  </p>

  <p>
    Для просмотра полного списка поставщиков сервиса необходимо войти на сайт под своей учетной записью (см. раздел «Как зарегистрироваться в сервисе?»).
  </p>

  <h2 id="how-to-order">Как оформить заказ?</h2>

  <p>
    Если вы закончили подбор товара, перейдите в корзину, нажав на ссылку «в корзину» в карточке товара или в основном меню сервиса.
  </p>

  <p>
    На странице корзины будут перечислены все выбранные вами товары. Убедитесь, что вас устраивают условия поставки (наличие и регионы доставки/самовывоза) и минимальная сумма заказа у данного поставщика. Минимальная сумма выводится справочно под итоговой суммой заказа в корзине.
  </p>

  <p>
    В поле количество вы можете изменить количество товара для покупки. После изменения количества товара сумма заказа пересчитается автоматически. Над каждым товаром можно произвести следующие действия: либо удалить товар из корзины, либо увеличить или уменьшить количество.
  </p>

  <p>
    После ввода необходимой информации о доставке товара (контактные данные и способ поставки) нажмите кнопку «Оформить заказ». Копия заказа будет выслана на ваш e-mail, указанный при оформлении. Если вам необходимо связаться с поставщиком, контактные данные поставщика указаны в торговом предложении на закладке «о поставщике».
  </p>

  <p>
    Для каждого поставщика в корзине формируется отдельный заказ.
  </p>

  <h2 id="delivery">Как осуществляется доставка?</h2>

  <p>
    Доставка осуществляется поставщиком. Информация о возможных зонах доставки указывается поставщиком в описании торгового предложения. В сопроводительной информации к заказу вы можете указать желаемое время доставки. Точный график доставки остается на усмотрение поставщика.
  </p>

  <h2 id="how-to-get-docs">Как обменяться документами с поставщиком?</h2>

  <p>
    Если вы оформляете заказ непосредственно из программы «1С», вы можете обменяться с поставщиками электронными документами при помощи бесплатного сервисе «ЭДО без цифровой подписи». Документы не нужно выгружать, распечатывать или сканировать для отправки контрагенту – отправка происходит непосредственно из учетной системы «1С» клиента в учетную систему поставщика. Сервис не требует заключения договора и приобретения сертификатов электронной подписи, подключение осуществляется сразу после регистрации в сервисе «1С:Бизнес-сеть».
  </p>

  <p>
    На основании заказа вы можете автоматически оприходовать товар, оформив поступление товаров и услуг, а также получить счет на оплату в электронном формате, на основании которого сформировать заявку на расходование денежных средств для клиент-банка.
  </p>

  <h2 id="no-price">Что делать, если у поставщика не указана цена?</h2>

  <p>
    Если  у торгового предложения, которое вы выбрали, не указана цена, вы можете отправить запрос  цен поставщику, нажав на кнопку «запрос цен». Копия запроса будет выслана на ваш e-mail, указанный при оформлении заказа.
  </p>

  <h2 id="min-price">Какая минимальная сумма заказа?</h2>

  <p>
    Минимальная сумма заказа зависит от условий поставщика. Вы можете посмотреть условия заказа в торговом предложении. Дополнительно минимальная сумма заказа выводится справочно под итоговой суммой заказа в корзине. Отгрузка заказа на итоговую сумму, меньшую указанной поставщиком минимальной сумме заказа, остается на усмотрение поставщика.
  </p>

  <h2 id="why-become-supplier">Зачем становиться поставщиком «1С:Бизнес-сеть.Торговая площадка»?</h2>

  <p>
    <strong>Получить новых клиентов.</strong> Сервис «1С:Бизнес сеть.Торговая площадка» уже встроен в программные продукты «1С» и является для поставщика <strong>дополнительным каналом</strong> сбыта, не замещающим и <strong>не конкурирующим</strong> с другими каналами продаж компании за счет того, что сервис позволяет обратиться напрямую к аудитории пользователей программ и сервисов «1С».
  </p>

  <p>
    <strong>Удержать существующих клиентов.</strong> Сервис «1С:Бизнес сеть.Торговая площадка» уже встроен в программные продукты «1С» ваших клиентов. Для ваших контрагентов вы можете опубликовать на торговой площадке персональные торговые предложения, видимые только ими. Торговые предложения с ограниченной видимостью могут содержать персональные цены и прочие специальные условия. Увидев ваше специальное предложение рядом с торговыми предложениями ваших конкурентов, ваш покупатель останется вашим.
  </p>

  <p>
    <strong>Упростить процессы обработки заказа.</strong> Достаточно один раз настроить публикацию торговых предложений в учетной системе «1С» и данные о ценах, ассортименте и остатках будут автоматически обновляться на торговой площадке по заданному вами расписанию. Таким образом, информация о ценах всегда актуальна, что помогает клиентам оформить заказ без ошибок.
  </p>

  <p>
    Заказы покупателей, отправленные с сайта 1c.market или из программного продукта «1С», доступны для загрузки в вашу учетную систему «1С» сразу же после отправки. Это значит, что больше не нужно тратить время на ручной ввод, копируя в программу заказанные товары из электронной почты или файлов Excel. На основании полученного заказа можно сразу выставить клиенту счет или оформить документы на отгрузку.
  </p>


  <h2 id="how-to-become-supplier">Как стать поставщиком?</h2>

  <p>
    Стать поставщиком на нашей торговой площадке сможет каждый.
  </p>

  <p>
    Пользователи учетных систем «1С» могут, следуя инструкции (ссылка на раздел «<a href="./about#from-1c">Как работать с сервисом из программных продуктов «1С»?</a>»), зарегистрировать юридическое лицо поставщика в сервисе «1С:Бизнес-сеть», подготовить в учетной системе качественное описание номенклатуры и опубликовать прайс-лист на торговой площадке.
  </p>

  <p>
    Если вы не являетесь пользователем программных продуктов «1С», вы можете зарегистрироваться на сайте сервиса 1с.market и опубликовать прайс-лист в разделе "Мои продажи" на торговой площадке в формате файла Excel.
  </p>

  <h2 id="how-much">Сколько стоит сервис?</h2>

  <p>
    На сегодняшний день использование сервиса <strong>бесплатно</strong> и для поставщиков и для покупателей
  </p>

  <h2 id="agreements">Какие соглашения действуют в сервисе?</h2>

  <p>
    Пользователь сервиса принимает пользовательское соглашение <a href="https://1cbn.ru/agreement/" target="_blank" rel="noopener noreferrer">«Условия использования сервисов «1С:Бизнес-сеть» и их сайтов».</a>
  </p>
  <h2 id="from-1c">Как работать с сервисом из программных продуктов «1С»?</h2>

  <p>
    Возможность подключения сервиса встроена непосредственно в типовые решения «1С» и не требует трудоемкой настройки. Подключение сервиса «1С:Бизнес-сеть.Tорговая площадка» абсолютно бесплатно – с ним могут работать все пользователи, программы которых находятся на официальной поддержке.
  </p>

  <p>
    <a href="https://1cbn.ru/trading.html" target="_blank" rel="noopener noreferrer">Инструкции по подключению и работе с сервисом из типовых конфигураций «1С»:</a>
  </p>

  <p>
    По вопросам подключения к сервису из программ «1С» обращайтесь на почту: <a href="mailto:bn@1c.ru" target="_blank" rel="noopener noreferrer">bn@1c.ru</a>
  </p>

  <h2 id="questions">У меня остались вопросы. Как связаться со службой поддержки?</h2>

  <p>
    По общим вопросам обращайтесь на почту: <a href="mailto:bn@1c.ru" target="_blank" rel="noopener noreferrer">bn@1c.ru</a>
  </p>

  <p>
    По техническим вопросам работы с сервисом из учетных систем «1С» обращайтесь по адресу <a href="mailto:bntech@1c.ru" target="_blank" rel="noopener noreferrer">bntech@1c.ru</a>. В теме письма указывайте «1С:Бизнес-сеть.Tорговая площадка». Услуга предоставляется только тем пользователям, программные продукты которых находятся на официальной поддержке.
  </p>
</div>
