<div class="category-search-form">
  <form nz-form [formGroup]="form">
    <nz-form-item>
      <nz-form-control nzSpan="20" nzOffset="2">
        <nz-form-label nzFor="category"
                       nzTooltipTitle="Выберите наиболее соответствующую категорию 1СН."
                       nzTooltipIcon="info-circle">Категория 1СН
        </nz-form-label>

        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="Для поиска введите более 3 символов" formControlName="categoryName">
        </nz-input-group>

        <ng-template #suffixIcon>
          <i nz-icon nzType="search"></i>
        </ng-template>

        <div class="category-tree">
          <nz-tree
            [nzData]="categoryTree"
            (nzClick)="clickOnCategory($event)">

            <ng-template #nzTreeTemplate let-node>
              <span class="ant-tree-node-content-wrapper" [class.ant-tree-node-selected]="node.isSelected">
                <span>
                  <i nz-icon
                     [nzType]="!node.isSelectable && !node.isExpanded ? 'folder' : !node.isSelectable && node.isExpanded ? 'folder-open' : 'file'"></i> {{ node.title }}
                </span>
              </span>
            </ng-template>

          </nz-tree>
        </div>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="register-area">
      <nz-form-control nzOffset="8">
        <button style="margin-top: 15px" nz-button nzType="primary" (click)="save()" [disabled]="form.invalid">
          Сохранить
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

