::ng-deep .ant-tree .ant-tree-node-content-wrapper {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ant-input-affix-wrapper > input.ant-input {
  padding: 7px 15px 7px 0;
}

.category-tree {
  margin-top: 15px;
  overflow-x: auto;
  max-height: 400px;
}
