@media all and (max-width: 1300px){

  nav .nav_icon {
    padding-left: 0;
    width: 60px;
  }

  nav   .nav_label, .nav-list_item.collapsed::after, .nav-list_item.expanded::after {
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s;
  }

}

