<nav [ngClass]="{'showed': isMenuExpanded$ | async}">
  <ul class="nav-list">
    <li ngClass="{{item.styleClass}}" *ngFor="let item of navItems">
      <a
        class="nav-list_item"
        [ngClass]="{'active': false, 'collapsed': item.items?.length && !item.expanded, 'expanded': item.items?.length && item.expanded}"
        (click)="navigateNavItem(item)">
        <div class="nav_icon">
          <img src="assets/img/svg/icon__{{item.icon}}.svg" alt="{{item.label}}" title="{{item.label}}" >
        </div>
        <span class="nav_label">{{item.label}}</span>
      </a>
      <ul class="nav-list nav-list_secondary" *ngIf="item.items?.length && item.expanded">
        <li *ngFor="let subItem of item.items">
          <a class="nav-list_item" (click)="navigateNavItem(subItem)">
            <div class="nav_icon">
              <span class="nav_icon_point"></span>
            </div>
            <span class="nav_label">{{subItem.label}}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
