@media all and (max-width: 992px){

	nav {
		position: fixed;
		top: 80px;
		left: -320px;
		width: 320px;
		display: block;
		background-color: #f6f6f6;
		z-index: 5;
		height: 100%;
		margin-top: 0;
		padding-top: 20px;
		transition: left .2s;
	}

	nav.showed {
		left: 0;
	}

	nav.showed .nav_label {
		opacity: 1;
		visibility: visible;
	}

}

