<h2>Акция программный продукт в подарок!</h2>

<p class="description">До 28 февраля включительно для пользователей сервиса «1С:Торговая площадка» проводится акция <strong>"Программный продукт в подарок!"</strong></p><br/>
<img src="assets/img/promo/podarok/banner.png" style="float: right; margin: 0 0 0 15px;">
<p class="description">В Акции могут принять участие организации (юридические лица и индивидуальные предприниматели), зарегистрированные в сервисе «1С:Бизнес-сеть. Торговая площадка». Для участия в Акции необходимо:</p><br/>
<ol>
  <li>
    <span>Оформить от имени зарегистрированной организации заказ у одного из поставщиков, присутствующих в списке участников акций <a [routerLink]="['/promo/school-office']">«Акция до 10% в подарок на товары и услуги для офиса»</a> и <a [routerLink]="['/promo/first-order']">«Акция 10% на первый заказ»</a>.</span>
  </li>
  <li>
    <span>Оплатить выставленный поставщиком счет.</span>
  </li>
  <li>
    <span>Подтвердить намерение участия организации в Акции письмом на адрес <a [attr.href]="'mailto:bn@1c.ru'">bn@1c.ru</a>, где указать наименование организации поставщика, наименование организации участника Акции, дату оплаты счета, действующий телефон, email и контактное лицо.</span>
  </li>
</ol>
<br/>

<p class="description">В качестве приза победитель Акции выбирает <strong>программный продукт «1С:Предприятие 8»</strong> стоимостью не более 50 000 (пятидесяти тысяч) рублей из перечня программных продуктов или лицензий, указанных в подразделах 1.1.-1.2. прайс-листа фирмы «1С» (<a href="https://1c.ru/rus/partners/pricelst.jsp" target="_blank">https://1c.ru/rus/partners/pricelst.jsp</a>), за исключением программных продуктов или лицензий для международного рынка, в том числе для стран ближнего зарубежья.</p><br/>
<cite class="description">Программный продукт в подарок получит участник акции, зарегистрированный под номером, определяемым по формуле:<br>((K-1) * R<sub>k</sub>) / 4294967296 + 1, где:<br>K – количество участников акции;<br>R<sub>k</sub> – определяется по следующему алгоритму:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R<sub>0</sub> = 2021<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R<sub>k</sub> = (214013 * R<sub>k-1</sub> + 2531011) mod 4294967296<br>Округление деления производится до ближайшего целого по стандартным правилам. Например, для участия в акции зарегистрировалось 325 пользователя сервиса, в этом случае подарок получит участник с номером 103. Победитель акции обязуется самостоятельно исчислить и уплатить налог на прибыль с полученного приза.
</cite>
<br/>
<br/>

<p class="description">Все участники акции дополнительно получают <strong>промокод на 10% скидки</strong> в магазине <a href="https://www.1c-interes.ru/" target="_blank">1c-interes.ru</a>.</p><br/>

<cite class="description">
  Условия применения промокода:
  <ul style="list-style-type: circle; margin-left: 20px;">
    <li>скидка 10% распространяется на все товары, кроме игровых консолей, товаров по предзаказу, цифровых версий (включая карты оплаты и подписки), программ 1С для бизнеса, методической литературы 1С и торгового оборудования;</li>
    <li>скидка действует только в интернет-магазине 1С Интерес, промокод необходимо ввести в специальное поле на этапе оформления заказа;</li>
    <li>промокод может быть использовать только для одного интернет-заказа;</li>
    <li>промокод действует до 30 апреля 2021 года включительно;</li>
    <li>скидка по промокоду не суммируется со скидками по другим акциям</li>
  </ul>
</cite>
<br/>

<p class="description">Ознакомиться с Положением о проведении акции можно по адресу <a [routerLink]="['/promo/podarok/polozhenie']">https://1c.market/promo/podarok/polozhenie</a>. По всем вопросам применения промокода обращайтесь, пожалуйста, по электронной почте <a [attr.href]="'mailto:info@1c-interes.ru'">info@1c-interes.ru</a> или по бесплатному телефону 8-800-333-42-63.</p><br/>
<p class="description">Результаты акции будут опубликованы на текущей странице 3 марта 2021 года.</p><br/>
