<div class="requisites-checker">

  <div class="title">Регистрация новой организации</div>

  <form [formGroup]="form" (submit)="send()">

    <div class="description" *ngIf="!enterKpp">Укажите ИНН организации</div>

    <div class="description" *ngIf="enterKpp">ИНН</div>

    <div class="form-group form-group-std">
      <input type="text"
             name="{{currentDate}}_formINN"
             id="formINN"
             [ngClass]="{'error': form.controls.inn.errors?.innControlNumberCondition || form.controls.inn.errors?.innLengthCondition}"
             marketOnlyNumber
             formControlName="inn">

      <div class="input_error"
           *ngIf="form.controls.inn.errors?.innControlNumberCondition">
        Введен недействительный ИНН
      </div>
      <div class="input_error"
           *ngIf="form.controls.inn.errors?.innLengthCondition">
        Длина должна быть 10 или 12 цифр
      </div>
    </div>

    <div class="description" *ngIf="enterKpp">Укажите КПП организации</div>

    <div class="form-group form-group-std" *ngIf="enterKpp">
      <input type="text"
             name="{{currentDate}}_formKPP"
             id="formKPP"
             [ngClass]="{'error': form.controls.kpp.invalid}"
             marketOnlyNumber
             formControlName="kpp">
      <div class="input_error"
           *ngIf="form.controls.kpp.invalid">
        Длина должна быть 9 цифр
      </div>
    </div>

    <div class="form-group form-group-btn">
      <button *ngIf="!enterKpp" nz-button [nzType]="'primary'" (click)="nexStep()"
              [disabled]="form.controls.inn.invalid">Продолжить
      </button>
      <button *ngIf="enterKpp" nz-button [nzType]="'primary'" [disabled]="form.invalid">Продолжить</button>
    </div>
  </form>

</div>

