<div class="requisites-checker">

  <div class="title">Добавить организацию</div>
  <div class="description">Чтобы продолжить работу, <br>укажите данные организации:</div>

  <form [formGroup]="form" (submit)="send()">
    <div class="form-group form-group-std">
      <label for="formINN">ИНН *</label>
      <input type="number" id="formINN" autocomplete="off" formControlName="inn">
    </div>
    <div class="form-group form-group-std">
      <label for="formKPP">КПП</label>
      <input type="number" id="formKPP" autocomplete="off" formControlName="kpp">
    </div>
    <div class="form-group form-group-btn">
      <button nz-button [nzType]="'primary'" [disabled]="!form.valid">Продолжить</button>
    </div>
  </form>

</div>

