<div class="requisites-checker">

  <div class="title">Добавить организацию</div>

  <form [formGroup]="form" (submit)="send()">

    <div class="description" *ngIf="!enterKpp">Укажите ИНН организации</div>

    <div class="description" *ngIf="enterKpp">ИНН</div>

    <div class="form-group form-group-std">
      <input type="number" id="formINN" autocomplete="off" formControlName="inn">
    </div>

    <div class="description" *ngIf="enterKpp">Укажите КПП организации</div>

    <div class="form-group form-group-std" *ngIf="enterKpp">
      <input type="number" id="formKPP" autocomplete="off" formControlName="kpp">
    </div>

    <div class="form-group form-group-btn">
      <button *ngIf="!enterKpp" nz-button [nzType]="'primary'" (click)="nexStep()"
              [disabled]="form.controls.inn.invalid">Продолжить
      </button>
      <button *ngIf="enterKpp" nz-button [nzType]="'primary'" [disabled]="form.invalid">Продолжить</button>
    </div>
  </form>

</div>

