.item {
  display: flex;
  align-items: center;
  width: 100%;
	font-size: var(--font-size-12);
	line-height: 17px;
  padding: 5px 13px 5px 5px;
  color: var(--color-primary);

  &:hover {
    background-color: var(--color-accent-light);
    font-weight: var(--font-weight-base);
    color: var(--color-black);
    .cover img, .title, .meta {
      opacity: 1;
    }
  }
}

.cover {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
  flex-shrink: 0;

  img {
    max-width: 20px;
    max-height: 20px;
    opacity: 0.3;
  }
}

.title {
	margin-right: 20px;
}

.meta {
	opacity: 0.3;
	justify-self: flex-end;
	margin-left: auto;
	flex-shrink: 0;
  font-weight: var(--font-weight-light);
}

::ng-deep {
  .item > .title {
    color: var(--color-primary);
    font-weight: var(--font-weight-base);
    em {
      font-weight: var(--font-weight-bold);
      font-style: normal;
    }
  }
}

