<a class="item">

  <div class="cover">
    <img src="{{imageUrl(img)}}"
         alt="{{imgAlt}}"
         title="{{imgAlt}}"
         onerror="src='./assets/img/svg/clean.svg'; onerror='';">
  </div>

  <div class="title">
    <ng-content></ng-content>
  </div>

  <div class="meta">
    <ng-container *ngIf="type === 'searchQueryHistory'">
       <span (click)="removeHistoricalSuggestion(); $event.stopPropagation()">Удалить</span>
    </ng-container>
    <ng-container *ngIf="type === 'productOffer'">
      {{offersCount}} предложений
    </ng-container>
    <ng-container *ngIf="type === 'category'">
      {{offersCount}} предложений
    </ng-container>
  </div>

</a>


