:host {
  display: block;
}

.empty-organizations-info {
  width: 270px;
  margin: 0 auto;
}

.description {
  font-size: var(--font-size-18);
  line-height: 23px;
  text-align: center;
  margin: 20px 0 20px;
}

.action__btns {
  display: flex;
  justify-content: center;
  width: 100%;
}
