.page_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.supplier_image {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
