<div class="content-wrapper page_inner">

  <div class="page_header" *ngIf="supplier">
    <span class="supplier_image" style="{{supplier.id | organizationLogo}}"></span>
    <h2>{{supplier?.name | abbreviatedBusinessName}}</h2>
  </div>

  <nz-tabset nzTabPosition="top" nzType="card">

    <nz-tab nzTitle="Торговые предложения">
      <market-supplier-trade-offers-list
        [supplier]="supplier"
        [tradeOffers]="tradeOffers"
        [tradeOffersTotal]="tradeOffersTotal"
        [page]="page"
        [query]="query"
        [filters]="filters"
        [sort]="sort"
        (loadTradeOffers)="loadTradeOffers($event)"
        (cityChange)="changeCityAndRefresh($event)"
      ></market-supplier-trade-offers-list>
    </nz-tab>

    <nz-tab nzTitle="О поставщике">
      <market-about-supplier
        [supplier]="supplier"
        [showStoreButton]="false"
      ></market-about-supplier>
    </nz-tab>
  </nz-tabset>

</div>
