.page_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.supplier_image {
  display: flex;
  align-items: center;
  margin-right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.area-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 0;
}

.verified_org {
  width: 20px;
  margin-bottom: 4px;
  margin-left: 5px;
}
