<div class="content-wrapper page_inner">

  <div class="page_header" *ngIf="supplier">
    <span class="supplier_image" style="{{supplier.inn | organizationLogo}}"></span>
    <h2>
      {{supplier.name | abbreviatedBusinessName}}
      <img class="verified_org" *ngIf="supplier.isVerifiedOrg"
           nz-tooltip
           nzTooltipTitle="Проверенная организация. Предоставлено подтверждение принадлежности учетной записи в сервисе к организации."
           src="./assets/img/svg/verified.svg" alt="" title="">
    </h2>
  </div>

  <nz-tabset nzTabPosition="top" nzType="card">
    <nz-tab nzTitle="Торговые предложения">
      <ng-template nz-tab>
        <div class="area-container">
          <market-search-area *ngIf="supplier"
            [searchType]="'supplier'"
            [markerIsSupplierControlVisible]="false"
            [areCategoriesShown]="false"
            [filters]="filters"
            [query]="query"
            [filterCollapsed]="true"
            (submitBoxClick)="navigateToSupplierRoute($event)"
            (submitFiltersClick)="updateResultsByFilters($event)">
            <ng-container ngProjectAs="main-slot">
              <market-supplier-trade-offers-list
                [supplier]="supplier"
                [tradeOffers]="tradeOffers"
                [tradeOffersTotal]="tradeOffersTotal"
                [page]="page"
                [query]="query"
                [filters]="filters"
                [sort]="sort"
                (loadTradeOffers)="loadTradeOffers($event)"
              ></market-supplier-trade-offers-list>
            </ng-container>
          </market-search-area>
        </div>
      </ng-template>
    </nz-tab>

    <nz-tab nzTitle="О поставщике">
      <ng-template nz-tab>
        <market-about-supplier
          [supplier]="supplier"
          [showStoreButton]="false"
        ></market-about-supplier>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
