.history {
  padding-top: 4px;
  padding-left: 28px;
  padding-right: 15px;
}

.title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-15);
  line-height: 17px;
  margin-bottom: 8px;
  padding-left: 10px;
}

.items {
	max-height: 180px;
	overflow-y: auto;
	padding-right: 13px;
}
