<market-category-list
  [rootCategoryId]="category?.id"
  [rootCategoryName]="category?.name">
</market-category-list>

<market-search-area
  [filters]="filters"
  [query]="query"
  [enableSuggestions]="true"
  [areAdditionalFiltersEnabled]="areAdditionalFiltersEnabled"
  [filterCollapsed]=false
  [summaryFeaturesData]="summaryFeaturesData"
  (submitClick)="navigateInCategoryRoute($event)">

  <ng-container ngProjectAs="upper-slot">
    <market-banners></market-banners>
  </ng-container>

  <ng-container ngProjectAs="main-slot">

    <market-main-popular *ngIf="isNotSearchUsed && !category"></market-main-popular>

    <market-search-results
      [productOffers]="productOffers"
      [productsTotal]="productsTotal"
      [category]="category"
      [page]="page"
      [sort]="sort"
      [pageSize]="pageSize"
      [scrollCommand]="scrollCommand"
      [visibleSort]="productOffers?.length > 1"
      (sortingChanged)="changeSortingAndRefresh($event)"
      (positionChanged)="loadProducts($event)"
      *ngIf="!isNotSearchUsed || category">

      <ng-container ngProjectAs="tags-slot" *ngIf="showTags">
        <market-tag (click)="resetUrlFilters()">
          Сбросить все фильтры
        </market-tag>
      </ng-container>

    </market-search-results>
  </ng-container>
</market-search-area>
