<div class="logo">
  <div class="opener" (click)="handleOpenerClick()">
    <img src="assets/img/svg/icon__site.svg" alt="1C:Бизнес-сеть" title="1C:Бизнес-сеть">
  </div>
  <div class="label" (click)="goToRoot()">
    <h1>1C:Бизнес-сеть</h1>
    <span class="user-login" *ngIf="userLogin">
      <img src="assets/img/svg/icon__personal.svg"> {{userLogin}}
    </span>
  </div>
  <button
    type="button"
    class="btn btn_close btn_bordered nav__mobile__btn_close"
    (click)="closeMenu()">
  </button>
</div>

<div class="panel">
  <ul class="list">
    <li
      class="item"
      ngClass="{{item.styleClass}}"
      *ngFor="let item of navItems">
        <a [ngClass]="{'active': item.label === navItemActive?.label}" (click)="navigateNavItem(item)">
          <span
            class="icon"
            [attr.title]="item.counter || null"
            [attr.data-counter]="item.counter | marketNaviCounter">
              <img
                src="assets/img/svg/icon__{{item.icon}}.svg"
                alt="{{item.label}}"
                title="{{item.label}}">
          </span>

          <span class="label" [attr.data-counter]="item.counter | marketNaviCounter">
            {{item.label}}
          </span>

          <span [ngClass]="{'expandable': item.items?.length && !item.expanded, 'collapsible': item.items?.length && item.expanded}"></span>
        </a>
        <ul class="list list-secondary" *ngIf="item.items?.length && item.expanded">
          <li class="item" *ngFor="let subItem of item.items">
            <a [ngClass]="{'active': subItem.label === navItemActive?.label}" (click)="navigateNavItem(subItem)">
              <span class="icon icon-point"></span>
              <span class="label" [attr.data-counter]="subItem.counter | marketNaviCounter">
                {{subItem.label}}
              </span>
            </a>
          </li>
        </ul>
    </li>
  </ul>
</div>

<div class="extra">
  <ul class="list">
    <li class="item">
      <a href="mailto:bn@1c.ru" target="_blank">bn@1c.ru</a>
    </li>
    <li class="item">
      <span>© 2020 ООО «1С-СОФТ»</span>
    </li>
  </ul>
</div>

<div class="categories" [ngClass]="{'showed': areCategoriesShowed}">
  <div class="categories-mobive-nav">
    <div class="logo">
      <div class="opener">
        <img src="./assets/img/svg/icon__site.svg" alt="1C:Бизнес-сеть" title="1C:Бизнес-сеть" >
      </div>
      <div class="label">
        <h1>1C:Бизнес-сеть</h1>
        <span class="user-login" *ngIf="userLogin">
          <img src="assets/img/svg/icon__personal.svg"> {{userLogin}}
        </span>
      </div>
    </div>
    <div class="nav-btns">
        <a class="btn btn_bordered">
          <img
            class="cart"
            src="./assets/img/svg/icon__basket.svg"
            alt="Корзина"
            title="Корзина"
            [attr.data-counter]="cartNavItem.counter || null">
        </a>
        <a class="btn btn_bordered btn_mobile-menu" (click)="closeMenuWithCategories()">
          <span></span>
        </a>
    </div>
  </div>

  <div class="categories_base">
    <div class="categories_close">
      <button class="categories__btn_close btn_close" (click)="handleCategories()"></button>
    </div>
    <div class="categories_list">
      <div class="categories_header">Каталог</div>
      <nav>
          <ul class="nav_list">
              <li *ngFor="let categoryItem of categoryItems$ | async">
                  <a class="nav_item category_control" [ngClass]="{'active': categoryItem.id  == mainCategorySelectedId}" (click)="setMainCategorySelectedId(categoryItem.id)">
                      <span>{{categoryItem.name}}</span>
                  </a>
              </li>
          </ul>
      </nav>
    </div>
    <div class="categories_panel" [ngClass]="{'main-category-selected': mainCategorySelectedId}">
      <div class="categories__mobile_back" (click)="setMainCategorySelectedId(null)">Каталог</div>
      <ng-container *ngFor="let categoryItem of categoryItems$ | async">
        <div class="category_item" [ngClass]="{'showed': categoryItem.id == mainCategorySelectedId}">
          <div class="categories_header">{{categoryItem.name}}</div>
          <div class="sub_categories scrollbar">
            <div class="sub_category" *ngFor="let subCategoryItem of categoryItem.children">
                <div class="sub_category__name">
                    <a [routerLink]="['/category/' + subCategoryItem.id]" [queryParams]="{}">{{subCategoryItem.name}}</a>
                </div>
                <ul class="sub_category__list">
                    <li class="sub_category__item" *ngFor="let subSubCategoryItem of subCategoryItem.children">
                        <a [routerLink]="['/category/' + subSubCategoryItem.id]"  [queryParams]="{}" class="sub_category__link">{{subSubCategoryItem.name}}</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
