:host {
  --color-logo-icon: #3e3e3e;
}

.navbar-logo {
  display: flex;
	align-items: center;
  height: 40px;

  &:hover {
    .navbar-logo_icon {
      background-color: var(--color-accent-secondary);
    }
  }

  &_icon {
    cursor: pointer;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: var(--color-logo-icon);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    transition: background-color .2s;

    &-wrapper {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      margin-right: 7px;
      width: 70px;
      padding-left: 10px;
      transition: padding-left .1s;
    }
  }

  h1 {
    visibility: visible;
    opacity: 1;
    transition: opacity .4s;
    font-weight: var(--font-weight-demi);
    font-size: 25px;
    line-height: 32px;
    letter-spacing: .025em;
    &.showed {
      opacity: 1;
      visibility: visible;
    }
    span {
      letter-spacing: -3px;
    }
  }

}


