@media all and (max-width: 992px){

  h1 {
		display: block;
  }

  .navbar-logo_icon-wrapper {
    width: auto;
  }

  h1 {
    display: block;
  }

  .navbar-logo_icon-wrapper {
    width: auto;
    padding-left: 0;
    &.showed {
      width: auto;
      padding-left: 0;
    }
  }

}

