::ng-deep {
  // todo: избавиться от ::ng-deep

  .autocomplete {
    left: -21px;
    margin-top: 20px;
    width: calc(100% + 130px);

    ::-webkit-resizer {
      display: none;
    }

    ::-webkit-scrollbar {
      width: 6px;

      &-button {
        display: none;
      }

      &-track {
        width: 5px;
        background-color: #ebebeb;

        &-piece {
          width: 1px;
          background-color: #ebebeb;
        }
      }

      &-thumb {
        height: 50px;
        width: 5px;
        background-color: var(--color-accent-light);
      }

      &-corner {
        display: none;
      }
    }

    nz-auto-option {
      padding-bottom: 16px;
    }
  }
}

.search {
  height: 80px;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--color-background-base);
  display: flex;
  align-items: center;
  border-radius: 2px;
  transition: background-color .2s;
  border: 1px solid #e0e0e0;

  .input_clear {
    display: flex;
    align-items: center;
    height: 100%;

    img {
      cursor: pointer;
      opacity: .44;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  .ant-input-affix-wrapper {
    width: 100%;
    height: 40px;
    border: 1px solid #e0e0e0;
  }

  &.focused {
    background-color: var(--color-accent-light);
    border-color: var(--color-accent-light);

    .btn_search {
      border-color: var(--color-accent-light);
    }

    .btn_category {
      border-color: var(--color-accent-light);
    }

    .btn_region {
      border-color: var(--color-accent-light);
    }

    .ant-input-affix-wrapper {
      border-color: var(--color-accent-light);
    }
  }

  form {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    margin: -20px -10px -20px -20px;
    padding-left: 20px;
    padding-right: 10px;
  }

  input {
    border: none;
    background: #ffffff;
    width: 100%;
    padding: 0 15px;
    color: var(--color-primary);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    line-height: normal;
    outline: none;

    &::placeholder {
      color: var(--color-primary);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-medium);
    }
  }


  a.btn:hover {
    border: 1px solid var(--color-accent);
  }

  .buttons {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    &__item {
      margin-left: 10px;
      flex-shrink: 0;

      .btn {
        border-radius: 6px;

        &:hover {
          background-color: var(--color-accent);
        }
      }

      .btn_search {
        background: #ffffff url("../../../../../assets/img/svg/icon__search.svg") no-repeat center center;
      }

      .btn_category {
        background: #ffffff url("../../../../../assets/img/svg/icon__filter.svg") no-repeat center center;
      }
    }
  }

  .region {
    display: flex;
    align-items: center;
    margin-left: 10px;

    .btn {
      height: 40px;
      min-width: 140px;
      padding: 0 35px;
      white-space: nowrap;

      &::after {
        content: "";
        width: 0;
        height: 0;
        margin-left: 3px;
        margin-top: 2px;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: #454545 transparent transparent transparent;
      }
    }
  }

  .too-small-query {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-13);
    padding-left: 10px;
  }

}

.sort {
  margin-right: 10px;
}

.closer {
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 30px;
}
