<div class="search" [ngClass]="{'hovered': isInputHovered, 'focused': isInputFocused}">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input
      placeholder="Поиск товаров"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
      aria-autocomplete="list"
      name="query"
      formControlName="query"
      (mouseenter)="isInputHovered = true"
      (mouseleave)="isInputHovered = false"
      (focus)="isInputFocused = true; visibleFilterForm = false; visibleLocationForm = false"
      (blur)="isInputFocused = false">

    <div class="buttons">
      <div class="buttons__item">
        <button class="btn btn_square btn_search" [disabled]="form.invalid"></button>
      </div>
      <div class="buttons__item">
        <a class="btn btn_square btn_category" (click)="clickFilterButton()"></a>
      </div>
    </div>

    <div class="suggest"
         (mouseover)="quickSearchOver = true"
         (mouseout)="quickSearchOver = false"
         *ngIf="!suggestionsOff && (isInputFocused || quickSearchOver)">

      <my-search-bar-history
        *ngIf="useBrowserStorage && (!searchQuery || searchQuery && searchQuery.length < MIN_QUERY_LENGTH)"
      ></my-search-bar-history>

      <my-search-bar-products
        [products]="productsSuggestions"
        [categories]="categoriesSuggestions"
        *ngIf="searchQuery.length >= MIN_QUERY_LENGTH"
      ></my-search-bar-products>

    </div>

    <div class="search-bar-filter">
      <my-search-bar-filter
        [availableFilters]="availableFilters"
        (stateAvailableFilters)="recFilter($event)"
        *ngIf="visibleFilterForm"
      ></my-search-bar-filter>
    </div>

    <div class="search-bar-location">
      <my-search-bar-location
        *ngIf="visibleLocationForm"
        (stateLocationForm)="recLocation($event)"
      ></my-search-bar-location>
    </div>

  </form>

  <div class="region">
    <a class="btn" (click)="clickLocationButton()">{{userLocation.name}}</a>
  </div>

</div>
