<div class="search" [ngClass]="{'hovered': isInputHovered, 'focused': isInputFocused}">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <!-- todo: Переделать input и nz-autocomplete, так же поправить отрисовку дропдауна при изменении размера страницы!!! -->
    <nz-input-group [nzSuffix]="inputClearTpl">

      <input
        nz-input
        placeholder="{{placeholder}}"
        (keyup.enter)="submit()"
        autocomplete="off"
        name="query"
        formControlName="query"
        [nzAutocomplete]="auto"
        (mouseenter)="isInputHovered = true"
        (mouseleave)="isInputHovered = false"
        (focus)="isInputFocused = true;"
        (blur)="isInputFocused = false"/>

    </nz-input-group>

    <ng-template #inputClearTpl>
      <img class="search_input__clear"
           src="assets/img/svg/icon__close.svg"
           *ngIf="searchQuery.length"
           alt=""
           (click)="cleanQuery()">
    </ng-template>

    <nz-autocomplete #auto nzOverlayClassName="autocomplete" nzBackfill>
      <!--todo возможно стоит весь контент из my-search-bar-history и my-search-bar-products вынести сюда и отображать через *ngFor-->
      <ng-container *ngIf="isShowSuggestions">
        <nz-auto-option [nzValue]="form.controls['query'].value">
          <my-search-bar-history
            *ngIf="useBrowserStorage && (!searchQuery || searchQuery && searchQuery.length < minQueryLength)"
          ></my-search-bar-history>

          <my-search-bar-products
            [products]="productsSuggestions"
            [categories]="categoriesSuggestions"
            *ngIf="searchQuery.length >= minQueryLength"
          ></my-search-bar-products>
        </nz-auto-option>
      </ng-container>
    </nz-autocomplete>

    <div class="buttons">
      <div class="buttons__item">
        <button class="btn btn_square btn_search" [disabled]="form.invalid"></button>
      </div>
      <div class="buttons__item">
        <a class="btn btn_square btn_category"
           nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
           [nzDropdownMenu]="filter_menu"
           (nzVisibleChange)="changeFilterButton($event)" [(nzVisible)]="visibleFilterForm"></a>

        <nz-dropdown-menu #filter_menu="nzDropdownMenu">
          <my-search-bar-filter
            [availableFilters]="availableFilters"
            (stateAvailableFilters)="recFilter($event)"
          ></my-search-bar-filter>
        </nz-dropdown-menu>
      </div>
    </div>
  </form>

  <div class="region">
    <a class="btn btn_region" nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
       [nzDropdownMenu]="location_menu"
       (nzVisibleChange)="changeLocationButton($event)" [(nzVisible)]="visibleLocationForm">{{userLocation.name}}</a>

    <nz-dropdown-menu #location_menu="nzDropdownMenu">
      <my-search-bar-location
        [cleanLocationForm]="visibleLocationForm"
        (stateLocationForm)="recLocation($event)"
      ></my-search-bar-location>
    </nz-dropdown-menu>
  </div>

</div>

<div class="sort">
  <my-results-sorter
    *ngIf="visibleSort"
    [sort]="sort"
    (sortChange)="sortChange($event)"
  ></my-results-sorter>
</div>
