<div class="search" [ngClass]="{'focused': isInputFocused}">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <nz-input-group [nzSuffix]="inputClearTpl">

      <input
        nz-input
        placeholder="{{placeholder}}"
        autocomplete="off"
        name="query"
        formControlName="query"
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        [(nzVisible)]="visibleSuggestions"
        (focus)="isInputFocused = true;"
        (blur)="isInputFocused = false"/>


    </nz-input-group>

    <ng-template #inputClearTpl>
      <div class="input_clear">
        <img src="assets/img/svg/icon__close.svg"
             *ngIf="searchQuery.length"
             alt=""
             (click)="cleanQuery()">
      </div>
    </ng-template>

    <nz-dropdown-menu #menu="nzDropdownMenu">

      <ng-container *ngIf="isShowSuggestions">
      <div class="autocomplete">

        <my-search-bar-history
          [query]="searchQuery"
          *ngIf="useBrowserStorage && (!searchQuery || searchQuery?.length < minQueryLength)"
        ></my-search-bar-history>

        <my-search-bar-products
          [products]="productsSuggestions"
          [categories]="categoriesSuggestions"
          *ngIf="searchQuery.length >= minQueryLength"
        ></my-search-bar-products>

      </div>

      </ng-container>

    </nz-dropdown-menu>



    <div class="buttons">
      <div class="buttons__item">
        <button class="btn btn_square btn_search" [disabled]="form.invalid"></button>
      </div>
      <div class="buttons__item">
        <a class="btn btn_square btn_category"
           nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
           [nzDropdownMenu]="filterMenu"
           (nzVisibleChange)="changeFilterFormVisibility($event)"
           [(nzVisible)]="isFilterFormVisible"></a>

        <nz-dropdown-menu #filterMenu="nzDropdownMenu">
          <div class="closer">
            <img src="assets/img/svg/icon__close.svg" alt="" (click)="changeFilterFormVisibility(false)">
          </div>
          <my-search-bar-filter
            [availableFilters]="availableFilters"
            (stateAvailableFilters)="recFilter($event)"
          ></my-search-bar-filter>
        </nz-dropdown-menu>
      </div>
    </div>
  </form>

  <div class="region">
    <a class="btn btn_region" nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
       [nzDropdownMenu]="locationMenu"
       (nzVisibleChange)="changeLocationButton($event)" [(nzVisible)]="visibleLocationForm">{{userLocation.name}}</a>

    <nz-dropdown-menu #locationMenu="nzDropdownMenu">
      <my-search-bar-location
        [cleanLocationForm]="visibleLocationForm"
        (stateLocationForm)="recLocation($event)"
      ></my-search-bar-location>
    </nz-dropdown-menu>
  </div>

</div>

<div class="sort">
  <my-results-sorter
    *ngIf="visibleSort"
    [sort]="sort"
    (sortChange)="sortChange($event)"
  ></my-results-sorter>
</div>
