@media all and (max-width: 768px) {
  .table_list {
    display: block;
    border-bottom: none;
  }

  .table_row {
    display: flex;
    flex-direction: column;
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px 20px 25px 20px;

    &:not(.table_header) {
      display: inherit;

      .cell_action {
        padding: 12px 0 0 0;
      }
    }

    &.table_header {
      display: none;
    }

    .table_cell {
      display: flex;
      align-items: flex-start;
      border-top: none;
      height: auto;
      padding: 0;
      width: 100%;
      min-width: auto;

      &[data-title]:before {
        content: attr(data-title);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-12);
        color: var(--color-primary);
        opacity: 0.6;
        width: auto;
        margin-right: 10px;
        flex-shrink: 0;
      }

      &.cell_title {
        font-size: var(--font-size-12);
        margin-bottom: 10px;
        padding-right: 40px;
      }

      &.cell_status {
        margin-bottom: 5px;
        padding-right: 40px;
        height: auto;
        font-weight: var(--font-weight-medium);
      }
    }
  }

}
