<div class="search" [ngClass]="{'focused': isInputFocused}">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <nz-input-group [nzSuffix]="inputClearTpl">
      <input
        nz-input
        id="search_bar_input"
        placeholder="{{placeholder}}"
        autocomplete="off"
        name="query"
        formControlName="query"
        nz-dropdown
        nzTrigger="click"
        [nzDropdownMenu]="menu"
        [(nzVisible)]="visibleSuggestions"
        (focus)="isInputFocused = true;"
        (blur)="isInputFocused = false"/>
    </nz-input-group>

    <ng-template #inputClearTpl>
      <div class="input_clear">
        <img src="assets/img/svg/icon__close.svg"
             *ngIf="searchQuery.length"
             alt=""
             (click)="cleanQuery()">
      </div>
    </ng-template>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ng-container *ngIf="isShowSuggestions">
      <div class="autocomplete">
        <market-search-bar-history
          [query]="searchQuery"
          *ngIf="useBrowserStorage && (!searchQuery || searchQuery?.length < minQueryLength)"
        ></market-search-bar-history>

        <market-search-bar-products
          [products]="productsSuggestions"
          [categories]="categoriesSuggestions"
          *ngIf="searchQuery.length >= minQueryLength"
        ></market-search-bar-products>
      </div>
      </ng-container>
    </nz-dropdown-menu>

    <div class="buttons">
      <div class="buttons__item">
        <button class="btn btn_square btn_search"
                id="search_bar_button"
                [ngClass]="{'disabled': form.invalid && filterIsEmpty}">
        </button>
      </div>

      <div class="buttons__item" *ngIf="filterVisible">
        <a class="btn btn_square btn_filter"
           id="search_bar_filter"
           [attr.filter_count]="filterCount"
           nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
           [nzDropdownMenu]="filterMenu"
           (nzVisibleChange)="changeFilterFormVisibility($event)"
           [(nzVisible)]="isFilterFormVisible"
           [nzOverlayClassName]="'form_filter_mobile'"
        ></a>

        <nz-dropdown-menu #filterMenu="nzDropdownMenu">
          <market-search-bar-filter
            [filters]="filters"
            [city]="userLocation.name"
            [activeFilters]="activeFilters"
            (stateLocationForm)="changeLocation($event)"
            (stateFilters)="recFilter($event)"
            (closeFilter)="changeFilterFormVisibility($event)"
            (filtersCount)="recFiltersCount($event)"
            *ngIf="isFilterFormVisible"
          ></market-search-bar-filter>
        </nz-dropdown-menu>
      </div>
    </div>
  </form>

  <div class="region">
    <a class="btn btn_region" nz-dropdown nzTrigger="click" nzPlacement="bottomRight"
       [nzDropdownMenu]="locationMenu"
       (nzVisibleChange)="changeLocationButton($event)" [(nzVisible)]="visibleLocationForm">{{userLocation.name}}</a>

    <nz-dropdown-menu #locationMenu="nzDropdownMenu">
      <market-search-bar-location
        [cleanLocationForm]="visibleLocationForm"
        (stateLocationForm)="changeAndCloseLocation($event)"
      ></market-search-bar-location>
    </nz-dropdown-menu>
  </div>

</div>
