.dropdown_block {
  background-color: #ffffff;
  box-shadow: 2px 4px 23px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 99;
  transition: opacity 0.3s;
}

.form-group {
  position: relative;

  & .checkbox-wrap {
    font-size: var(--font-size-18);
    font-weight: normal;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &_title {
    margin: 14px 0 5px 0;
    font-weight: var(--font-weight-demi);
    font-size: var(--font-size-15);
    color: #454545;
    letter-spacing: 0.05px;
  }

  label {
    font-weight: var(--font-weight-medium);
    line-height: 19px;
    display: block;
    margin-bottom: 10px;

    &.radio-wrap {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

input[type='text'],
input[type='number'],
textarea {
  font-size: var(--font-size-base);
  letter-spacing: 0.05em;
  padding: 10px 15px;
  background-color: #ffffff;
  resize: none;
  border-radius: 2px;

  &.error {
    border-color: #f6837b;
    border-width: 1px;
    outline-color: #f6837b;
    color: #6a6a6a;
  }
}

input[type='text'] {
  height: 40px;
  line-height: 40px;
}

.radio-wrap::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  opacity: 0.7;
  border: 2px solid #d6d6d6;
  border-radius: 20px;
  margin-right: 5px;
  transition: border-color 0.1s;
}

.radio-wrap {
  &.checked {
    &::before {
      border-color: #fdc82f;
    }

    &::after {
      background-color: #fdc82f;
    }
  }

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    position: absolute;
    left: 5px;
    transition: background-color 0.1s;
  }

  input {
    position: absolute;
    left: -333px;
  }
}

.form_filter {
  min-width: 290px;
  display: flex;
  flex-direction: column;
}

.form_category {
  min-width: 325px;
  width: auto;
  padding-left: 30px;
  margin-left: 30px;
  border-left: 1px solid #e0e0e0;
}

.filter_city__list {
  height: 432px;
  overflow-y: auto;
  padding-right: 13px;
  margin-top: 15px;
}

.filter_title {
  margin: 0 0 20px 0;
  font-weight: var(--font-weight-demi);
  font-size: var(--font-size-15);
  color: #454545;
  letter-spacing: 0.05px;
}

.filter_wrap {
  display: flex;

  padding: 30px 35px;
  min-width: 350px;
  width: 740px;

  & .form-group .checkbox-wrap {
    display: flex;
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-medium);
  }

  & .form-group_radio {
    display: flex;
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-medium);
  }

  input[type='text'] {
    width: 100%;
  }

  label.radio-wrap {
    margin-left: 15px;
    margin-bottom: 0;
  }
}

.noUi {
  &-horizontal {
    height: 2px;

    & .noUi-handle {
      height: 16px;
      width: 16px;
      right: -8px;
      top: -7px;
    }
  }

  &-target {
    background: #e2e2e2;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  &-connect {
    background: #fdc82f;
  }

  &-handle {
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;

    &:after {
      display: none;
    }

    &:before {
      background: #fdc82f;
      width: 4px;
      top: 1px;
      left: 6px;
    }
  }
}

.range_input {
  text-align: center;
  width: 100%;
  max-width: 120px;
  content: '₽';
}

.range_inputs {
  display: flex;
  align-items: center;
  margin-top: 15px;

  &-text {
    padding: 8px;
  }

  &-delimiter {
    margin-left: 10px;
  }
}

.filter_dropdown-btns {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.filter_btns {
  display: flex;
  margin-top: auto;
  margin-left: 10px;
}

.margin-cleared {
  margin: 0;
}

.form-group_checkbox {
  margin-top: 5px;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0;
}

.form_filter_mobile {
  display: none;
}

.form_category .dropdown_close {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background: url(../../../../../../../assets/img/svg/icon__close.svg) no-repeat center center;
  width: 20px;
  height: 20px;
  right: 30px;
  top: auto;
  margin-left: auto;
}
