<h2>Акция до 10% в подарок на товары и услуги для офиса</h2>
<span class="description">С 1 сентября по 31 октября для пользователей сервиса 1С:Торговая площадка действует скидка до 10% на любой заказ
  в категории <a [routerLink]="['/category/616']">«Товары для школы и офиса»</a> и <a [routerLink]="['/category/3751']">«Полиграфические услуги»</a>. Чтобы посмотреть товары, перейдите в соответствующий магазин поставщика.
  Цены в категории указаны без скидок. Чтобы воспользоваться скидкой, отправьте заказ поставщику, участвующему в акции,
  ваш заказ будет доставлен со статусом "скидка 5%" или "скидка 10%" в зависимости от условий поставщика.
  Скидка к заказу будет применена поставщиком при выставлении счета. Скидки не суммируются с условиями других акций на площадке.
</span>

<div class="banners_suppliers">
  <market-main-banners-banner
    *ngFor="let item of supplierItems"
    title="{{item.title}}"
    btnLink="{{item.btnLink}}"
    btnText="Подобрать товары">
      <span class="description">{{item.description}}</span>
      <img class="cover" src="{{item.imgUrl}}" alt="{{item.title}}" title="{{item.title}}">
  </market-main-banners-banner>

  <!--todo так как school-office.component это временное решение которое скорее всего удалться 15 ноября не стал париться-->
  <market-main-banners-banner title="Все для офиса!" btnLink="/category/616" btnText="Подобрать товары">
    <span class="description">до 10% на заказы в категории «Товары для школы и офиса»</span>
    <img class="cover" src="assets/img/tmp/banner_2.png" alt="Канцтовары" title="Канцтовары">
  </market-main-banners-banner>
</div>

<h3>Как применить скидку на заказ?</h3>
<h4>Чтобы применить скидку на заказ:</h4>

<ol>
  <li>
    <span>Выберите популярные товары на текущей страничке или перейдите в магазин поставщика, участвующего в акции, нажав на соответствующий баннер на странице акции.</span>
  </li>
  <li>
    <span>Укажите нужное количество товара и перейдите в корзину для оформления заказа.</span>
    <br/>
    <img class="preview" src="assets/img/promo/school-office/step-1.jpg" alt="Шаг 1" title="Шаг 1">
  </li>
  <li>
    <span>Внесите ваши контакты данные, чтобы менеджер поставщика смог связаться с вами и оформить скидку на заказ.</span>
    <br/>
    <img class="preview" src="assets/img/promo/school-office/step-2.jpg" alt="Шаг 2" title="Шаг 2">
  </li>
  <li>Все отправленные заказы со скидкой можно увидеть в личном кабинете.</li>
</ol>
<br/>
