<h2>Акция до 10% в подарок на товары и услуги для офиса</h2>
<span class="description">С 1 сентября по 15 ноября для пользователей сервиса «1С:Торговая площадка» действует скидка до 10% на любой заказ
  в категории <a [routerLink]="['/category/616']">«Товары для офиса»</a> и <a [routerLink]="['/category/3751']">«Полиграфические услуги»</a>. Чтобы посмотреть товары, перейдите в соответствующий магазин поставщика.
  Цены в категории указаны со скидками. Чтобы воспользоваться скидкой, отправьте заказ поставщику, участвующему в акции.
  Скидка к заказу будет применена поставщиком при выставлении счета. Скидки не суммируются с условиями других акций на площадке.
</span>

<div class="banners_suppliers">
  <market-banners [bannerItems]="supplierItems"></market-banners>
</div>

<h3>Как применить скидку на заказ?</h3>
<h4>Чтобы применить скидку на заказ:</h4>

<ol>
  <li>
    <span>Выберите категорию товаров и перейдите в магазин поставщика, участвующего в акции, нажав на соответствующий баннер на страничке акции.</span>
  </li>
  <li>
    <span>Укажите нужное количество товара и перейдите в корзину для оформления заказа.</span>
    <br/>
    <img class="preview" src="assets/img/promo/school-office/step-1.jpg" alt="Шаг 1" title="Шаг 1">
  </li>
  <li>
    <span>Внесите ваши контактные данные, чтобы менеджер поставщика смог связаться с вами и оформить скидку на заказ.</span>
    <br/>
    <img class="preview" src="assets/img/promo/school-office/step-2.jpg" alt="Шаг 2" title="Шаг 2">
  </li>
  <li>Все отправленные заказы со скидкой можно увидеть в личном кабинете.</li>
</ol>
<br/>
