<div class="catalog_item__link">
  <span class="catalog_item__img" [style]="{'background-color': argb}"></span>

  <span class="catalog_item__descr">
    <span class="catalog_item__title">
          {{tradeOffer.supplierName}}
    </span>

    <span class="catalog_item__about">
      {{tradeOffer.description}}
    </span>

    <span class="catalog_item__info">

      <span class="catalog_item__count tooltip" nz-tooltip nzTooltipTitle="Наличие товара"
            *ngIf="tradeOffer.stock">{{tradeOffer.stock}}</span>

      <span class="catalog_item__price"
            *ngIf="tradeOffer.price">{{tradeOffer.price | myMultiplier:'.01' | currency:'RUB':'symbol'}}</span>

    </span>
  </span>

  <span class="tooltip_wrap">
    <span class="tooltip" nz-tooltip nzTooltipTitle="Поставщик установил специальную выгодную цену для вас"
          *ngIf="tradeOffer.isSpecialPrice">Специальная цена</span>
  </span>

</div>


