@media all and (max-width: 768px) {
  .form_filter, .form_category {
    display: none;
  }

  .form_filter_mobile {
    display: block;
  }

  .dropdown_block.filter_wrap {
    width: 100%;
    height: 100%;
  }

  .filter_title {
    font-size: var(--font-size-16);
  }

  .available__filter {
    display: block;
    height: 100%;
    width: 80%;
    max-width: 400px;

    &.not_visible {
      display: none;
    }
  }

  .city__filter {
    display: none;

    &.visible {
      display: block;
      height: 100%;
      width: 80%;
      max-width: 400px;
    }

  }

  .category__filter {
    display: none;

    &.visible {
      display: block;
      height: 100%;
      width: 80%;
      max-width: 400px;
    }
  }


  .filter__choose_city {
    display: flex;
    align-items: center;
    height: 40px;
    flex-shrink: 0;
    margin-bottom: 20px;
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-medium);
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
  }

  .filter__choose_city:after {
    content: "";
    width: 7px;
    height: 13px;
    background: #ffffff url(../../../../../../../assets/img/svg/icon__arrow_right.svg) no-repeat center center;
    margin-left: auto;
    margin-right: 1px;
  }

  .filter__choose_city .user_location {
    font-weight: var(--font-weight-demi);
    margin-left: 4px;
  }


  .filter__choose_category {
    display: flex;
    align-items: center;
    height: 40px;
    flex-shrink: 0;
    margin-bottom: 5px;
    margin-top: -20px;
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-medium);
    border-bottom: 1px solid #c4c4c4;
  }

  .filter__choose_category:after {
    content: "";
    width: 7px;
    height: 13px;
    background: #ffffff url(../../../../../../../assets/img/svg/icon__arrow_right.svg) no-repeat center center;
    margin-left: auto;
    margin-right: 1px;
  }

  .form_filter_mobile .dropdown_close {
    position: absolute;
    cursor: pointer;
    border: none;
    outline: none;
    background: url(../../../../../../../assets/img/svg/icon__close.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    right: 60px;
    top: auto;
    margin-left: auto;
  }

  .choose__return_wrap {
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-weight-light);
    color: #908d8d;
    margin-bottom: 12px;
  }

  .city__filter .filter_btns,
  .category__filter .filter_btns {
    margin-top: 20px;
  }

  .form-group_title {
    margin: 13px 0 10px 0;
  }


  .filter_category__list {
    height: 430px;
  }

  .choose-city_item {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-medium);
    min-height: 30px;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f6f6f6;
    }
  }


}
