@media all and (max-width: 400px) {
  .filter_wrap {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;

    & .form-group_radio {
      flex-direction: column;
      margin-left: 0;
    }

    label.radio-wrap {
      margin-left: 0;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
