<div class="dropdown_block filter_wrap">

  <!--
  todo: Нужна стратегия по валидации данной формы, что делаем если введены не кооректные значения или условия, блокируем дальнейший ввод или ругаемся?
  -->

  <p class="filter_title">Фильтр для поиска</p>

  <form nz-form id="formFilter" [formGroup]="availableFiltersForm">

    <div class="form-group">
      <nz-form-item class="margin-cleared">
        <nz-form-control>
          <nz-form-label nzFor="formFilterInn">ИНН или наименованию поставщика</nz-form-label>
          <input nz-input type="text" name="formFilterInn" id="formFilterInn" placeholder="Укажите поставщика"
                 formControlName="supplier">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group">
      <nz-form-item class="margin-cleared">
        <nz-form-control>
          <nz-form-label nzFor="formFilterBrand">Наименование бренда производителя</nz-form-label>
          <input nz-input type="text" name="formFilterBrand" id="formFilterBrand" placeholder="Укажите бренд"
                 formControlName="trademark">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="form-group_title">Способ доставки</div>
    <div class="form-group_radio">
      <nz-radio-group formControlName="deliveryMethod">
        <label nz-radio [nzValue]="opt.value" *ngFor="let opt of deliveryOptions">{{ opt.label }}</label>
      </nz-radio-group>
    </div>

    <div class="form-group_title">Параметры поиска</div>
    <div class="form-group_checkbox">
      <label nz-checkbox formControlName="inStock">Только товары в наличии</label>
      <br/>
      <label nz-checkbox formControlName="withImages">Только с картинками</label>
    </div>

    <div class="form-group_title">Цена</div>

    <div class="range_wrap range_price">
      <nz-slider nzRange nzMin="{{MIN_PRICE}}" nzMax="{{MAX_PRICE}}" formControlName="priceBetween" nzTooltipVisible="{{false}}"></nz-slider>

      <div class="range_inputs">

        <nz-form-item>
          <div class="range_inputs-text">От</div>

          <nz-form-control>
            <input nz-input type="number" name="price_from" id="formPriceFrom"
                   class="range_input range_from price_from"
                   placeholder="{{MIN_PRICE}} ₽" autocomplete="off" formControlName="priceFrom"/>
          </nz-form-control>
        </nz-form-item>


        <nz-form-item>
          <div class="range_inputs-text range_inputs-delimiter">До</div>

          <nz-form-control>
            <input nz-input type="number" name="price_to" id="formPriceTo"
                   class="range_input range_to price_to"
                   placeholder="{{MAX_PRICE}} ₽" autocomplete="off" formControlName="priceTo"/>
          </nz-form-control>
        </nz-form-item>

      </div>
    </div>

    <div class="filter_btns">
      <button nz-button type="submit" nzType="primary"
              (click)="save()">Сохранить
      </button>
      <button nz-button type="button" nzType="link"
              (click)="reset()">Сбросить
      </button>
    </div>
  </form>
</div>
