.not_clickable {
  pointer-events: none;

  market-cart-order-qty-counter {
    opacity: 0.5;
  }
}

.d-none {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal_fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}

.modal_element {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px;
}

.modal_content {
  position: relative;
}

.modal_title {
  font-weight: var(--font-weight-demi);
  text-align: center;
  margin-top: 20px;
}

.btn,
a.btn,
button.btn {
  color: var(--color-primary);
  font-size: var(--font-size-base);
  font-family: 'Futura', serif;
  font-weight: var(--font-weight-medium);
  border-radius: 2px;
  background-color: #ffffff;
  min-height: 38px;
  line-height: 38px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.2s, border 0.2s;
}

.btn-yellow,
a.btn-yellow,
button.btn-yellow {
  background-color: var(--color-accent-light);
  border-color: var(--color-accent-light);
}

.btn:hover,
a.btn:hover,
button.btn:hover {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.btn_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 30px;
  transition: background-color 0.2s;
}

.btn_bg:not([disabled]):hover {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.btn_std {
  width: 160px;
}

.btn_long {
  width: 200px;
}

.btn_more {
  flex-direction: column;
  border: none;
  padding: 0;
  outline: none;
  position: relative;
}

.btn_more:not([disabled]) {
  cursor: pointer;
}

.btn_more span,
.btn_more span::after,
.btn_more span::before {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: #8f8f8f;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.btn_more span::before {
  position: relative;
  bottom: 8px;
}

.btn_more span::after {
  position: relative;
  top: 4px;
}

.btn_more:not([disabled]):hover span,
.btn_more:not([disabled]):hover span::after,
.btn_more:not([disabled]):hover span::before {
  background-color: var(--color-accent);
}

.btn span {
  position: relative;
  z-index: 2;
}

.table_list {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.table_row {
  display: table-row;
  position: relative;
}

.cell_left,
.cell_right {
  display: flex;
  align-items: center;
}

.table_header {
  opacity: 0.6;
}

.table_cell {
  display: table-cell;
  vertical-align: middle;
  padding: 6px 0 6px 5px;
  height: 55px;
  font-size: var(--font-size-12);
  line-height: 17px;
  border-top: 1px solid #ededed;
}

.table_cell__inner {
  display: flex;
  align-items: center;
}

.table_cell .tooltip_wrap {
  width: 100%;
}

.table_header .table_cell {
  vertical-align: top;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-12);
  line-height: 15px;
  border-top: none;
  height: 45px;
}

.cell_title {
  flex-wrap: wrap;
  padding-right: 10px;
}

.cell_title span:hover {
  text-decoration: none;
}

.table_list__products {
  display: block;
  border-bottom: none;
}

.table_list__products .table_row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

.table_list__products .table_cell {
  display: flex;
  align-items: center;
  border-top: none;
}

.table_list__products .cell_title {
  cursor: pointer;
  width: 235px;
  font-weight: var(--font-weight-medium);
  margin-left: 50px;
}

.table_list__products .table_header .cell_title {
  cursor: default;
  padding-left: 0;
}

.table_list__products .cell_image {
  cursor: pointer;
  width: 55px;
  flex-shrink: 0;
}

.table_list__products .cell_image {
  img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
  }
}

.table_list__products .cell_image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.table_list__products .cell_article {
  cursor: pointer;
  width: 180px;
}

.table_list__products .cell_available {
  cursor: pointer;
  width: 165px;
}

.not-available {
  color: var(--color-danger);
}

.price {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
  line-height: 19px;
  color: var(--color-black);
  white-space: nowrap;
}

.cell_nds {
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-light);
  opacity: 0.8;
  white-space: nowrap;
  color: var(--color-black);
}

.table_list__basket .cell_more {
  width: auto;
  justify-self: flex-end;
  flex-shrink: 0;
  margin-left: auto;
  cursor: pointer;
  img {
    width: 20px;
    height: auto;
    opacity: 0.3;
  }
}

.cell_more .table_cell__inner {
  justify-content: flex-end;
}

.table_list__basket .table_row.table_header {
  padding-right: 45px;
}

.table_list__basket .cell_title {
  min-width: 210px;
  height: auto;
}

.table_list__basket .cell_count {
  width: 160px;
  min-width: 150px;
}

.table_list__basket .cell_price_one {
  display: grid;
  width: 150px;
  flex-wrap: wrap;
  white-space: nowrap;
}

.table_list__basket .table_header .cell_price_one {
  white-space: normal;
}

.table_list__basket .cell_sum {
  display: grid;
  align-items: center;
  min-width: 100px;
  white-space: nowrap;
  flex-wrap: wrap;
  width: min-content;
}

.table_list__basket .table_header .cell_sum {
  white-space: normal;
  align-items: center;
}

.price_one {
  font-size: var(--font-size-12);
  color: var(--color-black);
}

.price_before_discount {
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
  text-decoration: line-through;
  opacity: 0.5;
  white-space: nowrap;
  cursor: pointer;
}

.table_list__basket .cell_right {
  width: 100%;
}

.dropdown {
  display: block;
  position: relative;
}

.dropdown_block {
  background-color: #ffffff;
  box-shadow: 2px 4px 23px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  transition: opacity 0s;
  padding: 15px;
}

.dropdown_control__arrow {
  position: relative;
}

.dropdown_control__arrow:after {
  content: '';
  width: 13px;
  height: 7px;
  background: url(../../../../../../../assets/img/svg/icon__arrow_down.svg) no-repeat;
  background-size: cover;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
}

.dropdown_item__hover {
  background-color: #ffffff;
  transition: background-color 0.2s;
  white-space: nowrap;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  padding: 5px 12px 5px 7px;
  cursor: pointer;
}

.dropdown_item.active {
  background-color: #f5f5f5;
}

.dropdown_item__hover:hover {
  background-color: var(--color-accent-light);
}

.supplier_title {
  display: flex;
  align-items: center;
}

.supplier_image {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.supplier_image .supplier_image-color {
  width: 15px;
  height: 15px;
}

.tabs_wrap {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tabs_wrap .tab_item {
  width: 160px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding: 0 2px;
  line-height: 19px;
  outline: none;
  background-color: #f9f9f9;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s;
}

.tabs_wrap .tab_item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tabs_wrap .tab_item:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tabs_wrap .tab_item:hover {
  background-color: var(--color-accent-light);
  text-decoration: none;
}

.tabs_wrap .tab_item.active {
  background-color: #f2f2f2;
}

.section_tab__limited {
  max-width: 930px;
}

.section_tab__back {
  color: #908d8d;
  text-align: center;
  font-weight: var(--font-weight-light);
}

.section_tab__title {
  display: none;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.section_tab__title h2 {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  line-height: 23px;
  text-align: center;
  margin-top: 9px;
}

.section_tab__title p {
  color: var(--color-black);
  text-align: center;
  margin: 15px 0 0;
  line-height: 19px;
}

.section_paragraph {
  margin-top: 25px;
}

.section_paragraph > *:last-child {
  margin-bottom: 0;
}

.section_paragraph h3 {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-demi);
  line-height: 19px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.section_paragraph p {
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 10px;
}

.section_tab__supplier .supplier_title {
  margin-bottom: 15px;
}

.section_tab__supplier .supplier_title .tooltip_wrap {
  display: none;
  margin-left: 10px;
}

.section_tab__supplier .supplier_title .supplier_name {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-12);
}

.switch_count {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: stretch;
}

.switch_count__increase,
.switch_count__decrease {
  width: 20px;
  height: 40px;
  position: relative;
  border: none;
  outline: none;
  z-index: 1;
  flex-shrink: 0;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08);
  transition: background-color 0.2s;
}

.switch_count__decrease {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.switch_count__increase {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.switch_count__decrease::before,
.switch_count__increase::before,
.switch_count__increase::after {
  content: '';
  display: block;
  background-color: var(--color-primary);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.switch_count__increase::before,
.switch_count__decrease::before {
  width: 11px;
  height: 1px;
}

.switch_count__increase::after {
  width: 1px;
  height: 11px;
}

.switch_count__value,
input[type='number'].switch_count__value {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-13);
  line-height: 17px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number'].switch_count__value {
  -moz-appearance: textfield;
  border: none;
  outline: none;
}

.color_scheme_grey .switch_count__increase,
.color_scheme_grey .switch_count__decrease {
  background-color: #f9f9f9;
}

.color_scheme_grey .switch_count__increase:hover,
.color_scheme_grey .switch_count__decrease:hover {
  background-color: #f2f2f2;
}

.color_scheme_grey .switch_count__value {
  background-color: #f2f2f2;
  border: none;
}

.order .tabs_wrap {
  margin-bottom: 10px;
}

.wrapper_delivery_input {
  display: inline-flex;
}

.order {
  padding-top: 25px;
  padding-bottom: 35px;
  border-top: 1px solid #ececec;
}

.order_info {
  margin-bottom: 20px;
}

.order_spec {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  min-height: 20px;
}

.order_label {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  opacity: 0.6;
  width: 190px;
  min-width: 190px;
}

.order_value {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  padding-left: 9px;
}

.order__customer {
  width: 100%;
  max-width: 290px;
}

.order__customer_current .supplier_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order__customer_current {
  width: 100%;
  height: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  display: block;
  align-items: center;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  line-height: 23px;
  padding: 2px 31px 2px 8px;
  cursor: pointer;
}

.order__customer_list {
  width: 100%;
}

.order__customer_list .supplier_title {
  padding: 5px 9px;
  cursor: pointer;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  min-height: 30px;
}

.order__total {
  margin-top: 25px;
  font-size: var(--font-size-18);
}

.order__total_price {
  display: flex;
  margin-bottom: 5px;
}

.order__total_label {
  font-weight: var(--font-weight-demi);
  margin-right: 10px;
}

.order__total_value {
  font-weight: var(--font-weight-bold);
}

.order__total_btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.form_error {
  font-size: var(--font-size-13);
  margin: 10px 0 0 0;
  color: var(--color-accent-secondary);
}

.form_warning {
  font-size: var(--font-size-13);
  margin: 10px 0 0 0;
  opacity: 0.8;
  color: var(--color-black);
}

.img_warning {
  width: 25px;
  height: 25px;
  padding-bottom: 4px;
}

.order__shipping_type .form-group_title {
  font-weight: var(--font-weight-medium);
  line-height: 19px;
  display: block;
}

.order__shipping_type {
  margin-bottom: 18px;
}

.order__shipping .radio-wrap {
  margin-left: 25px;
  font-size: var(--font-size-13);
  margin-bottom: 0;
}

.order__shipping_form__title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: var(--font-weight-demi);
}

.section_paragraph .order__shipping p {
  margin-bottom: 7px;
}

.order__shipping_time {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.order__shipping_date {
  margin-right: 25px;
}

.order__shipping_interval {
  display: flex;
  align-items: center;
  height: 40px;
}

.order__shipping .order__shipping_interval__wrap .radio-wrap {
  margin-left: 0;
  margin-right: 25px;
  margin-bottom: 0;
}

.order_modal__text {
  margin-bottom: 20px;
  text-align: center;
}

.order_modal .btn {
  margin: 0 5px;
}

.order_modal .modal_close {
  margin-left: auto;
}

.order_modal__btns {
  display: flex;
  justify-content: center;
}

.info_group {
  display: flex;
  align-items: flex-start;
  position: relative;
  line-height: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #f5f5f5;
}

.info_group__label {
  padding-right: 10px;
  flex-shrink: 0;
}

.info_group__value {
  padding-right: 2px;
  flex-grow: 1;
  text-align: right;
}

.info_group__link {
  padding-right: 2px;
  flex-grow: 1;
  text-align: right;
  font-size: var(--font-size-15);
  cursor: pointer;

  &:hover {
    color: var(--color-accent);
  }
}

.info_group__value a:hover {
  border-bottom: 1px solid var(--color-accent-light);
}

.info_group__small {
  max-width: 270px;
}

.info_group__supplier {
  max-width: 360px;
}

.form-group_title {
  font-weight: var(--font-weight-demi);
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group-std {
  width: 100%;
  max-width: 230px;
}

.form-group-long {
  width: 100%;
  max-width: 500px;

  &.desktop {
    display: block;
  }

  &.mobile {
    display: none;
  }
}

.form-group-std input,
.form-group-long input {
  width: 100%;
}

.form-group label {
  font-weight: var(--font-weight-medium);
  line-height: 19px;
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea {
  font-size: var(--font-size-base);
  padding: 10px 15px;
  border: 1px solid #d6d6d6;
  outline: var(--color-accent);
  resize: none;
  border-radius: 2px;

  &.error {
    border-color: #f6837b;
    outline-color: #f6837b;
    color: #6a6a6a;
  }
}

input[type='text'],
input[type='email'] {
  height: 40px;
}

input[type='text']::-ms-clear,
input[type='email']::-ms-clear,
input[type='number']::-ms-clear {
  display: none;
}

textarea {
  line-height: 19px;
  max-width: 500px;
  width: 100%;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
textarea:focus {
  border-color: var(--color-accent);
}

.textarea-wrap {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.textarea__symbols {
  font-weight: var(--font-weight-light);
  opacity: 0.75;
  width: 100%;
  padding-right: 5px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-group label.radio-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  margin-bottom: 10px;
  line-height: 19px;
}

.radio-wrap::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  opacity: 0.7;
  border: 2px solid #d6d6d6;
  border-radius: 20px;
  margin-right: 5px;
  transition: border-color 0.1s;
}

.radio-wrap.checked::before {
  border-color: var(--color-accent);
}

.radio-wrap::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: background-color 0.1s;
}

.radio-wrap.checked::after {
  background-color: var(--color-accent);
}

.radio-wrap input {
  position: absolute;
  left: -333px;
}

.tooltip_wrap {
  display: block;
}

.tooltip {
  position: relative;
  border: 1px solid var(--color-accent-light);
  border-radius: 2px;
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-bold);
  color: #70706f;
  line-height: 13px;
  padding: 0 3px;
  background-color: #ffffff;
  white-space: nowrap;
  cursor: default;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s, border-color 0.3s;
}

.tooltip.hovered {
  overflow: visible;
  background-color: var(--color-accent-light);
  border-color: var(--color-accent-light);
}

.tooltip_fill {
  background-color: var(--color-accent-light);
  border-color: var(--color-accent-light);
}

.tooltip .tooltip_inner {
  width: 220px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-normal);
  line-height: 15px;
  text-align: center;
  background: #ffffff;
  color: #444343;
  right: 50%;
  bottom: 100%;
  transform: translateX(50%);
  border-radius: 2px;
  padding: 5px 7px;
  margin-bottom: 7px;
  white-space: normal;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
}

.tooltip .tooltip_inner.tooltip_hide {
  position: fixed;
}

.tooltip .tooltip_inner.to_left {
  right: auto;
  left: 0;
  transform: none;
}

.tooltip .tooltip_inner:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -8px;
  border: 3px solid transparent;
  border-top: 6px solid #ffffff;
}

.tooltip .tooltip_inner.to_left:before {
  right: 90%;
}

.tooltip.hovered .tooltip_inner {
  opacity: 1;
  visibility: visible;
}

nz-date-picker {
  width: 100%;
  height: 40px;
}

.tab-content {
  margin: 10px 0 0 0;
  color: var(--color-primary);
}

.input_error {
  opacity: 0.8;
  position: absolute;
  padding-left: 25px;
  bottom: 12px;
  width: 100%;
  left: 500px;
}

.input_error_region {
  opacity: 0.8;
  position: absolute;
  padding-left: 25px;
  padding-right: 30px;
  width: 70%;
  bottom: -10px;
  left: 500px;
}
