@media all and (max-width: 360px) {
  .form-group-std {
    width: 100%;
  }
  .table_list__products .table_row {
    padding: 15px 15px 20px 15px;
  }
  .table_list__products .cell_right {
    margin-right: 10px;
  }
  .table_list__basket .tooltip_wrap {
    bottom: 23px;
  }
}
