@media all and (max-width: 992px) {
  .content-wrapper {
    order: 3;
  }

  .input_error,
  .input_error_region {
    position: initial;
    padding-left: 0;
    padding-right: 0;
    margin-top: 5px;
    width: 100%;
  }
}
