.not_clickable {
  pointer-events: none;

  market-cart-order-qty-counter {
    opacity: 0.5;
  }
}

.d-none {
  display: none;
}

.table_list {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ededed;
}

.table_row {
  display: table-row;
  position: relative;
}

.cell_left,
.cell_right {
  display: flex;
  align-items: center;
}

.table_header {
  opacity: 0.6;
}

.table_cell {
  display: table-cell;
  vertical-align: middle;
  padding: 6px 0 6px 5px;
  height: 55px;
  font-size: var(--font-size-12);
  line-height: 17px;
  border-top: 1px solid #ededed;
}

.table_header .table_cell {
  vertical-align: top;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-12);
  line-height: 15px;
  border-top: none;
  height: 45px;
}

.cell_title {
  flex-wrap: wrap;
  padding-right: 10px;
}

.cell_title span:hover {
  text-decoration: none;
}

.table_list__products {
  display: block;
  border-bottom: none;
}

.table_list__products .table_row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ededed;
}

.table_list__products .table_cell {
  display: flex;
  align-items: center;
  border-top: none;
}

.table_list__products .cell_title {
  cursor: pointer;
  width: 235px;
  font-weight: var(--font-weight-medium);
  margin-left: 50px;
}

.table_list__products .table_header .cell_title {
  cursor: default;
  padding-left: 0;
}

.table_list__products .cell_image {
  cursor: pointer;
  width: 55px;
  flex-shrink: 0;
}

.table_list__products .cell_image {
  img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;
  }
}

.table_list__products .cell_image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.table_list__products .cell_article {
  cursor: pointer;
  width: 180px;
}

.table_list__products .cell_available {
  cursor: pointer;
  width: 165px;
}

.not-available {
  color: var(--color-danger);
}

.price {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
  line-height: 19px;
  color: var(--color-black);
  white-space: nowrap;
}

.cell_nds {
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-light);
  opacity: 0.8;
  white-space: nowrap;
  color: var(--color-black);
}

.table_list__basket .cell_more {
  width: auto;
  justify-self: flex-end;
  flex-shrink: 0;
  margin-left: auto;
  cursor: pointer;
  img {
    width: 20px;
    height: auto;
    opacity: 0.3;
  }
}

.table_list__basket .table_row.table_header {
  padding-right: 45px;
}

.table_list__basket .cell_title {
  min-width: 210px;
  height: auto;
}

.table_list__basket .cell_count {
  width: 160px;
  min-width: 150px;
}

.table_list__basket .cell_price_one {
  display: grid;
  width: 150px;
  flex-wrap: wrap;
  white-space: nowrap;
}

.table_list__basket .table_header .cell_price_one {
  white-space: normal;
}

.table_list__basket .cell_sum {
  display: grid;
  align-items: center;
  min-width: 100px;
  white-space: nowrap;
  flex-wrap: wrap;
  width: min-content;
}

.table_list__basket .table_header .cell_sum {
  white-space: normal;
  align-items: center;
}

.price_one {
  font-size: var(--font-size-12);
  color: var(--color-black);
}

.price_before_discount {
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-medium);
  color: var(--color-black);
  text-decoration: line-through;
  opacity: 0.5;
  white-space: nowrap;
  cursor: pointer;
}

.table_list__basket .cell_right {
  width: 100%;
}

.dropdown {
  display: block;
  position: relative;
}

.dropdown_control__arrow {
  position: relative;
}

.dropdown_control__arrow:after {
  content: '';
  width: 13px;
  height: 7px;
  background: url(../../../../../../../assets/img/svg/icon__arrow_down.svg) no-repeat;
  background-size: cover;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
}

.supplier_title {
  display: flex;
  align-items: center;
}

.supplier_image {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.supplier_image .supplier_image-color {
  width: 15px;
  height: 15px;
}

.section_tab__limited {
  max-width: 930px;
}

.section_paragraph {
  margin-top: 25px;
}

.section_paragraph > *:last-child {
  margin-bottom: 0;
}

.section_paragraph p {
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 10px;
}

.wrapper_delivery_input {
  display: inline-flex;
}

.order {
  padding-top: 25px;
  padding-bottom: 35px;
  border-top: 1px solid #ececec;
}

.order_info {
  margin-bottom: 20px;
}

.order_spec {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  min-height: 20px;
}

.order_label {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  opacity: 0.6;
  width: 190px;
  min-width: 190px;
}

.order_value {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  padding-left: 9px;
}

.order__customer {
  width: 100%;
  max-width: 290px;
}

.order__customer_current .supplier_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order__customer_current {
  width: 100%;
  height: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  display: block;
  align-items: center;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  line-height: 23px;
  padding: 2px 31px 2px 8px;
  cursor: pointer;
}

.order__total {
  margin-top: 25px;
  font-size: var(--font-size-18);
}

.order__total_price {
  display: flex;
  margin-bottom: 5px;
}

.order__total_label {
  font-weight: var(--font-weight-demi);
  margin-right: 10px;
}

.order__total_value {
  font-weight: var(--font-weight-bold);
}

.order__total_btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.form_error {
  font-size: var(--font-size-13);
  margin: 10px 0 0 0;
  color: var(--color-accent-secondary);
}

.form_warning {
  font-size: var(--font-size-13);
  margin: 10px 0 0 0;
  opacity: 0.8;
  color: var(--color-black);
}

.img_warning {
  width: 25px;
  height: 25px;
  padding-bottom: 4px;
}

.order__shipping_type .form-group_title {
  font-weight: var(--font-weight-medium);
  line-height: 19px;
  display: block;
}

.order__shipping_type {
  margin-bottom: 18px;
}

.order__shipping_form__title {
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: var(--font-weight-demi);
}

.section_paragraph .order__shipping p {
  margin-bottom: 7px;
}

.form-group_title {
  font-weight: var(--font-weight-demi);
  margin-top: 5px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group-long {
  width: 100%;
  max-width: 500px;

  &.desktop {
    display: block;
  }

  &.mobile {
    display: none;
  }
}

.form-group-long input {
  width: 100%;
}

.form-group label {
  font-weight: var(--font-weight-medium);
  line-height: 19px;
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
input[type='email'],
textarea {
  font-size: var(--font-size-base);
  padding: 10px 15px;
  border: 1px solid #d6d6d6;
  outline: var(--color-accent);
  resize: none;
  border-radius: 2px;

  &.error {
    border-color: #f6837b;
    outline-color: #f6837b;
    color: #6a6a6a;
  }
}

input[type='text'],
input[type='email'] {
  height: 40px;
}

input[type='text']::-ms-clear,
input[type='email']::-ms-clear {
  display: none;
}

textarea {
  line-height: 19px;
  max-width: 500px;
  width: 100%;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border-color: var(--color-accent);
}

.textarea-wrap {
  position: relative;
  width: 100%;
  max-width: 500px;
}

nz-date-picker {
  width: 100%;
  height: 40px;
}

.tab-content {
  margin: 10px 0 0 0;
  color: var(--color-primary);
}

.input_error {
  opacity: 0.8;
  position: absolute;
  padding-left: 25px;
  bottom: 12px;
  width: 100%;
  left: 500px;
}

.input_error_region {
  opacity: 0.8;
  position: absolute;
  padding-left: 25px;
  padding-right: 30px;
  width: 70%;
  bottom: -10px;
  left: 500px;
}

.ant-btn-text {
  padding-left: 0;
  padding-right: 0;
  font-weight: 500;
  font-size: var(--font-size-14);
  height: auto;

  &:hover {
    background-color: var(--color-accent-lighter);
  }
}

.customer_btn {
  height: auto;
  background-color: var(--color-accent-light);
  padding: 4px 10px;
  border-radius: 2px;
  color: var(--color-primary);
  font-size: var(--font-size-12);
  font-style: normal;
  border: 1px solid var(--color-accent-light);

  &.not-valid {
    background-color: var(--color-accent-secondary);
    border: 1px solid var(--color-accent-secondary);
  }
}
