<div class="search_bar">
  <my-search-bar
    [sort]="sort"
    [query]="query"
    (submitClick)="queryParametersChange($event)"
    [availableFilters]="availableFilters"
    [suggestionsOff]="true"
    [visibleSort]="visibleSort"
  ></my-search-bar>
</div>

<div class="catalog_header">
  <div class="catalog_header__count">
    <span class="catalog_header__title">Торговые предложения</span> <strong>{{tradeOffersTotal}}</strong>
  </div>
</div>


<div class="table_list table_list__products" *ngIf="tradeOffers">

  <div class="table_row table_header">

    <div class="cell_pre">
      <div class="cell_left">
        <div class="table_cell cell_title">
          Наименование товара
        </div>
        <div class="table_cell cell_article">
          Артикул
        </div>
        <div class="table_cell cell_packaging">
          Упаковка
        </div>
        <div class="table_cell cell_available">
          Доступность
        </div>
      </div>
      <div class="cell_right">
        <div class="table_cell cell_price">
          Цена за штуку
        </div>
      </div>
    </div>
    <div class="table_cell cell_buy">
      Купить
    </div>
  </div>

  <ng-template #indicatorTemplate>
    <em class="icon_scroll" nz-icon nzType="loading"></em>
  </ng-template>

  <nz-spin [nzSpinning]="isLoading" [nzIndicator]="indicatorTemplate">

    <div class="trade_offers_infinite_scroll" infiniteScroll (scrolled)="tradeOffersLoading(page + 1)">

      <div class="table_row" *ngFor="let tradeOffer of tradeOffers">
        <div class="cell_pre">
          <div class="cell_left">
            <div class="table_cell cell_title">
              <a (click)="route(tradeOffer.id)"
                 title="Браслет Honor Band 5 четвертая версия">{{tradeOffer.productName}}</a>
            </div>
            <div class="table_cell cell_article" data-title="Артикул:">
              {{tradeOffer.productPartNumber || tradeOffer.supplierPartNumber}}
            </div>
            <div class="table_cell cell_packaging" data-title="Упаковка:">
              {{tradeOffer.packaging.description}}
            </div>
            <div class="table_cell cell_available" data-title="Доступность:">
              {{stock(tradeOffer.stock?.stockBalanceSummary.level)}}
            </div>
          </div>
          <div class="cell_right">
            <div class="cell_image">
              <img src="{{imageUrl(tradeOffer.imageUrls)}}" alt="" title="">
            </div>
            <div class="table_cell cell_price">
              <span class="price">{{price(tradeOffer.priceProjection.price)}} ₽</span>
              <span class="cell_nds">{{vat(tradeOffer.price)}}</span>
              <div class="tooltip_wrap" *ngIf="tradeOffer.audience">
                <span class="tooltip"
                      nz-tooltip
                      nzTooltipTitle="Поставщик установил специальную выгодную цену для вас">Специальная цена</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table_cell cell_buy">
          <button type="button" class="btn btn-yellow to_cart__btn" (click)="addItemToCart(tradeOffer)"></button>
          <a (click)="route(tradeOffer.id)" class="btn btn-gray btn__product_link">О товаре</a>
        </div>
      </div>

    </div>

  </nz-spin>

</div>

