<div class="payment-document" *ngIf="document">

  <div class="payment_account" *ngIf="document.sender.paymentAccount">
    <table>
      <tr>
        <td rowspan=2 colspan="2" class="name_bank">
          <p>{{document.sender.paymentAccount.bankName}}</p>
          <p class="down">Банк получателя</p>
        </td>
        <td>
          БИК
        </td>
        <td class="bic_bank">
          {{document.sender.paymentAccount.bic}}
        </td>
      </tr>
      <tr>
        <td class="account">
          Сч. №
        </td>
        <td class="account_bank">
          {{document.sender.paymentAccount.accountCorr}}
        </td>
      </tr>
      <tr>
        <td>
          ИНН {{document.sender.inn}}
        </td>
        <td>
          КПП {{document.sender.kpp}}
        </td>
        <td rowspan=2>
          Сч. №
        </td>
        <td class="account_sender">
          {{document.sender.paymentAccount.accountNum}}
        </td>
      </tr>
      <tr>
        <td colspan="2" class="sender_name">
          <p>{{document.sender.name}}</p>
          <p class="down">Получатель</p>
        </td>
        <td class="empty">
          &nbsp;
        </td>
      </tr>
    </table>
  </div>

  <p class="title">{{document.typeOperation}} №{{document.numberOperation}}
    от {{ document.dateOperation | date:'dd MMMM yyyy г.' }}</p>

  <hr>

  <p>{{document | marketCounterPartLine:'sender'}}</p>
  <p>{{document | marketCounterPartLine:'recipient'}}</p>

  <table>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Товары (работы, услуги)</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Цена</th>
      <th scope="col">НДС</th>
      <th scope="col">Сумма</th>
    </tr>
    <tr *ngFor="let product of document.products; let i = index">
      <td>{{i + 1}}</td>
      <td>{{product.productName}}</td>
      <td>{{product.amount}} {{product.baseUnit.shortName}}.</td>
      <td *ngIf="product.price">{{product.price | marketMultiplier:'1.00' | currency:'RUB':'руб.':'1.0'}}</td>
      <td *ngIf="!product.price">-</td>
      <td>{{product.tax?.vatSum | marketMultiplier:'1.00' | currency:'RUB':'руб.':'1.0'}}</td>
      <td>{{product.totalPrice | marketMultiplier:'1.00' | currency:'RUB':'руб.':'1.0'}}</td>
    </tr>
  </table>

  <div class="right">
    <table>
      <tr>
        <th>Итого:</th>
        <td>{{document.totalSum | marketMultiplier:'1.00' | currency:'RUB':'руб.':'1.0'}}</td>
      </tr>
      <tr>
        <th>В том числе НДС:</th>
        <td>{{outcomeVat | marketMultiplier:'1.00' | currency:'RUB':'руб.':'1.0'}}</td>
      </tr>
      <tr>
        <th>Всего к оплате:</th>
        <td>{{document.totalSum | marketMultiplier:'1.00' | currency:'RUB':'руб.':'1.0'}}</td>
      </tr>
    </table>
  </div>

  <p class="info">{{sumLetters}}</p>

  <hr>

  <p>Исполнитель: {{document.signatory}}</p>
  <p *ngIf="document.comment">Комментарий: {{document.comment}}</p>
</div>

<div class="error" *ngIf="isError">
  <h3>Невозможно отобразить документ. Внутренняя ошибка сервера.</h3>
</div>
