hr {
  border: none;
  background-color: var(--color-black);
  color: var(--color-black);
  height: 2px;
  margin-bottom: 20px;
}

table {
  border: 2px solid var(--color-black);
  width: 100%;
  margin-bottom: 5px;
}

th, td {
  color: var(--color-black);
  font-size: var(--font-size-10);
  border: 1px solid var(--color-black);
}

th {
  text-align: center;
  font-weight: var(--font-weight-bold);
}

td {
  text-align: right;
  font-weight: var(--font-weight-medium);
}

p {
  color: var(--color-black);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-medium);
  margin-bottom: 0.8em;
}

.title {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-demi);
  margin-top: 15px;
  margin-right: 10px;
}

.info {
  margin-top: 55px;
}

.sum_letters {
  margin-top: -10px;
  font-weight: var(--font-weight-demi);
}

.right {
  position: absolute;
  right: 30px;
  width: auto;

  table, th, td {
    border: none;
  }

  th, td {
    text-align: right;
    padding: 0;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-medium);
  }

  th {
    padding-right: 10px;
  }
}

.payment_account {

  margin-top: 20px;

  table {
    border: 1.5px solid var(--color-black);
    width: 100%;
    margin-bottom: 5px;
  }

  td {
    text-align: left;
    vertical-align: baseline;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-12);
  }

  .name_bank {
    width: 50%;
  }

  .account_bank {
    border-top: none;
  }

  .account_sender {
    border-bottom: none;
  }

  .bic_bank {
    border-bottom: none;
  }

  .account {
    width: 7%;
    height: 30px;
  }

  .empty {
    border-top: none;
  }

  .sender_name {
    height: 40px;
  }

  p {
    font-size: var(--font-size-10);
  }

  .down {
    margin-bottom: 0;
  }
}

.error {
  text-align: center;
}
