<div class="search">
  <market-search-bar
    [query]="query"
    [filters]="filters"
    [page]="page"
    [productsSuggestions]="productsSuggestions"
    [categoriesSuggestions]="categoriesSuggestions"
    (queryChange)="searchSuggestions($event)"
    (submitClick)="changeQueryParamsAndRefresh($event)"
    (cityChange)="changeCityAndRefresh($event)"
  ></market-search-bar>

  <market-search-results
    (sortingChanged)="changeSortingAndRefresh($event)"
    (pageChanged)="changePage($event)"
    (visibleBanners)="changeVisibleBanners($event)"
  ></market-search-results>

  <market-main-banners
    *ngIf="visibleBanners"
  ></market-main-banners>

  <market-main-popular
    *ngIf="visibleBanners"
  ></market-main-popular>

</div>


