<div class="search">
  <market-search-bar
    [query]="query"
    [availableFilters]="availableFilters"
    [sort]="sort"
    (queryChange)="searchSuggestions($event)"
    (submitClick)="queryParametersChange($event)"
    [productsSuggestions]="productsSuggestions"
    [categoriesSuggestions]="categoriesSuggestions"
    [visibleSort]="productsTotal > 0"
  ></market-search-bar>

  <ng-template #indicatorTemplate>
    <em class="icon_scroll" nz-icon nzType="loading"></em>
  </ng-template>

  <nz-spin [nzSpinning]="isSearching" [nzIndicator]="indicatorTemplate">

    <my-search-results
      [productOffers]="productOffers"
      [productsTotal]="productsTotal"
      [page]="page"
      [isLoading]="isLoadingProducts"
      (loadProducts)="loadProducts($event)"
    ></my-search-results>

    <my-main-banners
      *ngIf="productsTotal === 0"
    ></my-main-banners>

    <my-main-popular
      *ngIf="productsTotal === 0"
    ></my-main-popular>

  </nz-spin>

</div>


