<ng-container *ngIf="requests?.length; else emptyRequests">

  <div class="page_header">
    <h2>Отправленные запросы</h2>
  </div>

  <div class="table_list table_list__requests">
    <div class="table_row table_header">
      <div class="table_cell cell_title">
        <span>Наименование организации</span>
      </div>
      <div class="table_cell cell_status">
        <span>Статус</span>
      </div>
      <div class="table_cell cell_date">
        <span>Дата</span>
      </div>
    </div>
    <div class="table_row" [ngClass]="{'new_info': lastVisitLt(req.requestDate)}" *ngFor="let req of requests">
      <div class="table_cell cell_title">
        <span class="supplier_title">
          <span class="supplier_image" style="{{req.organization.legalRequisites.inn | organizationLogo : true}}"></span>
          <span class="supplier_name">
            {{req.organization?.name}}
          </span>
        </span>
      </div>
      <div class="table_cell cell_status" data-title="Статус:">
        {{req.requestStatus?.resolutionStatus | marketOrganizationRequestStatus}}
      </div>
      <div class="table_cell cell_date">
        <div class="table_cell__inner">
          {{req.requestStatus?.resolutionDate || req.requestDate | date:'HH:mm dd MMMM yyyy г.' }}
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #emptyRequests>
  <div class="empty">
    <nz-empty
      nzNotFoundImage="./assets/img/svg/empty.svg"
      [nzNotFoundContent]="contentTpl"
      >
      <ng-template #contentTpl>
        <span>Список запросов пуст</span>
      </ng-template>
    </nz-empty>
  </div>
</ng-template>
