<div class="history">
  <div *ngIf="searchQueriesHistory?.length" class="title">История запросов:</div>

  <div class="items">

    <market-search-bar-item
      *ngFor="let searchQuery of searchQueriesHistory"
      historicalSuggestionId="{{searchQuery.id}}"
      img="{{searchQuery.imageUrl}}"
      imgAlt="{{searchQuery.searchText}}"
      type="searchQueryHistory"
      (cleanHistory)="cleanHistory($event)"
      (click)="clickSearchQuery(searchQuery)"
    ><div [innerHTML]="searchQuery.searchText"></div></market-search-bar-item>

  </div>
</div>

