<div class="search">
  <my-search-bar
    [query]="query"
    [availableFilters]="availableFilters"
    [sort]="sort"
    (queryChange)="searchSuggestions($event)"
    (submitClick)="queryParametersChange($event)"
    [productsSuggestions]="productsSuggestions"
    [categoriesSuggestions]="categoriesSuggestions"
    [visibleSort]="productsTotal > 0"
  ></my-search-bar>

  <my-search-results
    [productOffers]="productOffers"
    [productsTotal]="productsTotal"
    [page]="page"
    [isLoading]="isLoadingProducts"
    (loadProducts)="loadProducts($event)"
  ></my-search-results>

  <my-main-popular
    *ngIf="productsTotal === 0"
  ></my-main-popular>

</div>


