<a class="catalog_item__inner" *ngIf="supplier" [routerLink]="'/supplier/' + supplier.id">
  <span class="catalog_item__img" style="{{legalIdToInn(supplier.legalId) | organizationLogo}}"></span>
  <span class="catalog_item__descr">
    <span class="catalog_item__title"
          nz-tooltip
          nzTooltipTitle="{{supplier.name | abbreviatedBusinessName}}">
        {{supplier.name | abbreviatedBusinessName}}
    </span>
    <span class="catalog_item__about"
          nz-tooltip
          nzTooltipTitle="{{supplier.description}}">
        {{supplier.description}}
    </span>
  </span>
</a>
