<div class="region-question" *ngIf="!isApprovedRegion">
  <ng-template #regionQuestionTemplateRef let-notification>
    <div>
      <div class="message">
        Некоторые поставщики имеют ограниченную зону доставки.
        Выберите ваш населенный пункт и мы покажем товары тех поставщиков, которые могут быть доставлены в ваш регион.
      </div>
      <div class="question">
        <img src="./assets/img/svg/placeholder.svg" alt="">
        Ваш регион "{{city}}"?
      </div>
      <span class="question-btn">
            <button nz-button nzType="link" nzSize="small" (click)="approveRegion(notification)">
              <span>Да, все верно</span>
            </button>
           <button style="margin-left: 5px" nz-button nzType="link" nzSize="small" (click)="newRegion(notification)">
              <span>Выбрать другой</span>
            </button>
          </span>
    </div>
  </ng-template>
</div>
