:host {
  display: block;
}

.requisites-checker {
  width: 260px;
  margin: 0 auto;
}

.title {
  font-weight: var(--font-weight-demi);
  text-align: center;
  margin-top: 20px;
}

.description {
  line-height: 23px;
  text-align: center;
  margin: 10px 0 20px;
}

form {
  width: 100%;
}

input[type="text"].error, textarea.error {
  border-color: #f6837b;
  outline-color: #f6837b;
  color: #6a6a6a;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group-std {
  width: 100%;
  max-width: 260px;
}

.form-group-std input,
.form-group-std textarea {
  width: 100%;
  font-size: var(--font-size-base);
  padding: 10px 15px;
  background-color: #ffffff;
  resize: none;
  border-radius: 2px;
}

.form-group label {
  font-weight: var(--font-weight-medium);
  line-height: 19px;
  display: block;
  margin-bottom: 10px;
}

.form-group-btn {
  margin-top: 22px;
  text-align: center;
}
