<div class="single">

  <my-category-list
    [category]="categoryModel"
    (breadcrumbsForCategory)="refreshBreadcrumbs($event)"
  ></my-category-list>

  <my-search-bar
    [query]="query"
    [sort]="sort"
    (submitClick)="queryParametersChange($event)"
    [suggestionsOff]="true"
    [visibleSort]="true"
  ></my-search-bar>

  <my-search-results
    [productOffers]="productOffers"
    [productsTotal]="productsTotal"
    [page]="page"
    [isLoading]="isLoadingProducts"
    (loadProducts)="loadProducts($event)"
  ></my-search-results>

</div>
