::ng-deep .error-code > .ant-alert {
  @media all and (max-width: 340px) {
    padding-right: 20px;

    .page_error__text br {
      display: none;
    }
    .ant-alert-close-icon {
      right: 10px;
    }
  }
}
