.root {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.content {
  width: 100%;
  flex: 1;
  padding: 15px 100px 70px 370px;

  &.wide {
    padding-left: 110px;
  }

  &.scrollblock {
    overflow: hidden;
    height: calc(100vh - 20px);
  }
}
