<div class="spinner">
  <div class="spinner-line">
    <div class="spinner-point spinner-point1"></div>
    <div class="spinner-point spinner-point2"></div>
  </div>
  <div class="spinner-line">
    <div class="spinner-point spinner-point3"></div>
    <div class="spinner-point spinner-point4"></div>
  </div>
  <div class="spinner-line">
    <div class="spinner-point spinner-point5"></div>
    <div class="spinner-point spinner-point6"></div>
    <div class="spinner-point spinner-point7"></div>
    <div class="spinner-point spinner-point8"></div>
    <div class="spinner-point spinner-point9"></div>
    <div class="spinner-point spinner-point10"></div>
  </div>
  <div class="spinner-line">
    <div class="spinner-point spinner-point11"></div>
    <div class="spinner-point spinner-point12"></div>
  </div>
  <div class="spinner-line">
    <div class="spinner-point spinner-point13"></div>
    <div class="spinner-point spinner-point14"></div>
  </div>
</div>
