<h2>Положение о проведении акции "Программный продукт в подарок!"</h2>

<p class="description">
  Утверждено<br/>
  Директор ООО «Софтехно»<br/>
  Е.В. Иванова<br/>
  15  января 2021 г.<br/>
</p>
<br/>

<p class="description" style="text-align: center">
  Положение о проведении акции «Программный продукт в подарок»<br/>
  на «1С:Бизнес-сеть. Торговая площадка»<br/>
  (далее – Положение)<br/>
</p>
<br/>
<br/>
<br/>

<p class="description" style="text-align: center; text-transform: uppercase">1. ОБЩИЕ ПОЛОЖЕНИЯ</p><br/>

<p class="description">1.1. Организатором Акции «Программный продукт в подарок!» для пользователей сервиса «1С:Бизнес-сеть. Торговая площадка» (далее Акция) является ООО «Софтехно».</p><br/>
<p class="description">1.2. Цели проведения Акции.<br/>
Акция проводится для популяризации сервиса «1С:Бизнес-сеть. Торговая площадка», формирования положительного имиджа фирмы «1С».<br/><br/>
  Информационная поддержка Акции осуществляется на сайте 1c.market по адресу <a [routerLink]="['/promo/podarok']">https://1c.market/promo/podarok</a>.<br/>На сайте размещается информация об условиях и сроках проведения Акции, информация о призе, победителе Акции, которая является неотъемлемой частью настоящего Положения.</p><br/><br>

<p class="description" style="text-align: center; text-transform: uppercase">2. УЧАСТИЕ В АКЦИИ</p><br/>

<p class="description">2.1. Акция проводится с 15.01.2021 по 28.02.2021 включительно.</p><br/>
<p class="description">2.2. В Акции могут принять участие организации (юридические лица и индивидуальные предприниматели), зарегистрированные их представителями в сервисе «1С:Бизнес-сеть. Торговая площадка» (как это описано в пунктах 1.3, 1.4. и 2.2. Условий использования сервисов «1С:Бизнес-сеть» и их сайтов, доступных в сети интернет по адресу: <a href="https://1cbn.ru/agreement/" target="_blank">https://1cbn.ru/agreement/</a>), оформившие в данном сервисе заказ у поставщиков, принимающих участие в акциях «Акция до 10% в подарок на товары и услуги для офиса» (<a [routerLink]="['/promo/school-office']">https://1c.market/promo/school-office</a>) и «Акция 10% на первый заказ» (<a [routerLink]="['/promo/first-order']">https://1c.market/promo/first-order</a>) и оплатившие выставленный счет в период проведения Акции</p><br/>
<p class="description">2.3. Участие в Акции добровольное. Для участия в Акции необходимо лицу, надлежаще уполномоченному организацией:</p>
<ul class="description" style="list-style-type: circle; margin-left: 20px;">
  <li>Зарегистрировать организацию в сервисе «1С:Бизнес-сеть.Торговая площадка», как это описано в пунктах 1.3, 1.4. и 2.2. Условий использования сервисов «1С:Бизнес-сеть» и их сайтов, доступных в сети интернет по адресу: <a href="https://1cbn.ru/agreement/" target="_blank">https://1cbn.ru/agreement/</a> (если организация не была зарегистрирована в сервисе ранее);</li>
  <li>Оформить от имени зарегистрированной организации заказ у одного из поставщиков, присутствующих в списке участников акций «Акция до 10% в подарок на товары и услуги для офиса» и «Акция 10% на первый заказ»</li>
  <li>Оплатить выставленный поставщиком счет</li>
  <li>Подтвердить намерение участия организации в Акции письмом на адрес <a [attr.href]="'mailto:bn@1c.ru'">bn@1c.ru</a> с приложением скан-копии документов, подтверждающих полномочия лица действовать от имени и в интересах организации-участника.</li>
</ul>
<br/>

<p class="description">
  В письме необходимо указать наименование организации поставщика, наименование организации участника Акции, дату оплаты счета, действующий телефон, email и контактное лицо в организации, с которым организатор Акции сможет связаться по организационным вопросам проведения Акции.</p><br/>
<p class="description">Отправляя письмо на адрес <a [attr.href]="'mailto:bn@1c.ru'">bn@1c.ru</a>, участник Акции, подтверждает ознакомление и согласие с данным Положением и иными условиями проведения Акции в полном объеме. Если пользователь не согласен с данным Положением, он не должен принимать участие в данной Акции.</p><br/><br/>

<p class="description" style="text-align: center; text-transform: uppercase">3. ОПРЕДЕЛЕНИЕ ПОБЕДИТЕЛЕЙ</p><br/>

<p class="description">3.1. В ответ на письмо с подтверждением намерения участия организации в Акции, участнику Акции присваиваются порядковый номер. Один участник Акции может иметь только один порядковый номер, вне зависимости от количества сделанных заказов.</p><br/>
<p class="description">3.2. 03 марта 2021 года организатор Акции определит победителя среди зарегистрированных порядковых номеров участников Акции, используя формулу, указанную на странице Акции.<br/>
  В качестве приза победитель Акции выбирает программный продукт «1С:Предприятие 8» стоимостью не более 50 000 (пятидесяти тысяч) рублей из перечня  программных продуктов или лицензий, указанных в подразделах 1.1.-1.2. прайс-листа фирмы «1С» (<a href="https://1c.ru/rus/partners/pricelst.jsp" target="_blank">https://1c.ru/rus/partners/pricelst.jsp</a>), за исключением программных продуктов или лицензий для международного рынка, в том числе для стран ближнего зарубежья.</p><br/>
<p class="description">3.3. Списки участников Акции и победитель Акции будут опубликованы на странице Акции.</p><br/>


<p class="description" style="text-align: center; text-transform: uppercase">4. НАГРАЖДЕНИЕ ПОБЕДИТЕЛЕЙ</p><br/>

<p class="description">4.1. Приз передается организатором Акции победителю в течение 30 рабочих дней после опубликования победителя на странице Акции и выбора им  конкретного программного продукта «1С:Предприятие 8» в пределах суммы, указанной в п. 3.2. Положения.</p><br/>
<p class="description">4.2. Победитель Акции обязуется самостоятельно исчислить и уплатить налог на прибыль с полученного приза.<br/>
  Для получения награды, победителю Акции необходимо предоставить Организатору следующие сведения:<br/>
</p>
<ul class="description" style="list-style-type: circle; margin-left: 20px;">
  <li>название организации,</li>
  <li>ИНН,</li>
  <li>юридический адрес (с индексом).</li>
</ul>
<p class="description">Организатор гарантирует обеспечение конфиденциальности представленных победителем сведений, за исключением тех, что указаны в п. 4.6. Положения.</p><br/>
<p class="description">В случае отказа победителя сообщить указанные данные Организатор вправе отказать ему в выдаче приза.</p><br/>

<p class="description">4.4. Если с победителем Акции не удаётся связаться по телефону до 31  марта 2021 года включительно, приз остаётся у организатора Акции.</p><br/>

<p class="description">4.5. Персональные данные представителей участников Акции обрабатываются в соответствии с Федеральным законом от 27.07.2006 г. №152 «О персональных данных» и Политикой в отношении обработки и защиты персональных данных организатора доступной в сети интернет по адресу: <a href="https://portal.1c.ru/download/public/instruction/SoftechnoPolicy.pdf" target="_blank">https://portal.1c.ru/download/public/instruction/SoftechnoPolicy.pdf</a>. для целей исполнения организатором настоящего Положения.</p><br/>

<p class="description">4.6. Участник дает согласие на публикацию следующих данных на странице Акции: наименование, ИНН, КПП Участника, а также наименование поставщика, у которого был сделан заказ и дату заказа.</p><br/>

