@media all and (max-width: 400px) {
  .auth-decision-maker {
    width: 270px;
  }

  .description {
    font-size: var(--font-size-15);
  }

  .ant-btn-primary {
    font-size: var(--font-size-base);
    padding: 0 30px;
  }
}

