<div *ngIf="supplierData">

  <market-search-bar
    [query]="query"
    placeholder="Поиск поставщиков"
    (submitClick)="changeQueryParameters($event)"
    [suggestionsOff]="true"
    [filterVisible]="false"
    minQueryLength="3"
    maxQueryLength="100"
  ></market-search-bar>

  <div class="catalog_header">
    <div class="catalog_header__count">
      <span class="catalog_header__title">Все поставщики</span>
      {{supplierData.page?.totalElements}}{{supplierData.page?.totalElements | marketDeclension: ' поставщик': ' поставщика': ' поставщиков'}}
    </div>
  </div>

  <virtual-scroller
    [items]="suppliers"
    [parentScroll]="scroll.window"
    [enableUnequalChildrenSizes]="true"
    (vsEnd)="loadSuppliers($event)"
    #scroll>

    <div class='content' #container>
      <market-card *ngFor="let supplier of scroll.viewPortItems; let i = index">
        <market-supplier-card
          [supplier]="supplier">
        </market-supplier-card>
      </market-card>
    </div>

  </virtual-scroller>
</div>
