<div *ngIf="supplierData">

  <market-search-bar
    [query]="query"
    placeholder="Поиск поставщиков"
    (submitClick)="queryParametersChange($event)"
    (queryChange)="queryChange($event)"
    [suggestionsOff]="true"
    [filterVisible]="false"
    minQueryLength="4"
    maxQueryLength="100"
  ></market-search-bar>


  <div class="catalog_header">
    <div class="catalog_header__count">
      <span class="catalog_header__title">Все поставщики</span>
      {{supplierData.page?.totalElements}}{{supplierData.page?.totalElements | marketDeclension: ' поставщик': ' поставщика': ' поставщиков'}}
    </div>
  </div>

  <div class="catalog catalog_suppliers">

    <div class="suppliers_infinite_scroll" infiniteScroll (scrolled)="supplierLoading()">
      <market-card *ngFor="let item of suppliers">
        <market-supplier-card [supplier]="item"></market-supplier-card>
      </market-card>
    </div>

  </div>

</div>
