.catalog_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  &__count {
    font-size: var(--font-size-18);
    line-height: 23px;
    margin-right: 20px;
  }

  &__title {
    font-weight: var(--font-weight-demi);

    &:after {
      content: ' – ';
      font-weight: var(--font-weight-light);
    }
  }
}

.suppliers_infinite_scroll {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.catalog_suppliers {
  & .product_supplier-type {
    margin-bottom: 10px;
  }

  & .catalog_item-title {
    font-size: var(--font-size-10);
    min-height: auto;
    margin-bottom: 18px;
  }
}

.product_supplier-name .product_supplier-type {
  margin-right: 5px;
}


virtual-scroller {
  height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
