:host {
  display: flex;
  padding: 10px;
  width: 100%;
  max-width: 242px;
  flex-basis: 100%;
}

.catalog_item {

  &__link {
    width: 100%;
    min-height: 275px;
    font-size: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 30px;
    position: relative;
    border-radius: 4px;

    &:hover {
      text-decoration: none;
      border-color: #fdc82f;
      color: #060606;
    }
  }

  &__img {
    padding: 12px;
    height: 34px;
    width: 34px;
    border-radius: 3px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    display: block;
    font-weight: var(--font-weight-medium);
    line-height: 19px;
    margin-bottom: 15px;
  }

  &__info {
    justify-self: flex-end;
    display: flex;
  }

  &__price {
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    font-size: 15px;
    font-weight: var(--font-weight-medium);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: 1px solid #e0e0e0;
    border-left: 0.5px;
    transition: background-color 0.3s;
  }

  &__about {
    display: block;
    font-size: var(--font-size-12);
    line-height: 15px;
    margin-bottom: 17px;
    margin-right: -18px;
    margin-top: auto;
  }
}

.catalog_item__count,
.catalog_item__link .catalog_item__count.tooltip {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  color: var(--color-main);
  font-size: 15px;
  font-weight: var(--font-weight-medium);
  border-radius: 2px 0 0 2px;
  transition: background-color 0.3s, border 0.3s;
}

.catalog_item__count.tooltip .tooltip_inner {
  min-width: 120px;
  width: auto;
  padding: 0 15px;
}

.catalog_item__img {
  height: 35px;
  padding: 0;
  margin-bottom: 11px;
  width: 34px;
}

.catalog_item__title {
  min-height: auto;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
  line-height: 15px;
  color: #383837;
  opacity: 0.8;
}

.catalog_item__link {

  & .tooltip_wrap {
    position: absolute;
    top: 30px;
    left: 110px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    &.tooltip + .tooltip {
      margin-top: 4px;
    }
  }

  & .tooltip {
    border-color: #d7d7d7;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: #70706f;
    padding: 0 3px;

    &:hover {
      background-color: var(--color-accent);
    }
  }

  &:hover {
    cursor: pointer;

    & .tooltip {
      border-color: #fdc82f;
    }

    & .catalog_item__count {
      background-color: var(--color-accent-light);
      border-color: var(--color-accent-light);
      color: #060606;
    }

    & .catalog_item__price {
      background-color: #fdc82f;
      border-color: #fdc82f;
      color: #060606;
    }
  }
}

.section_tab__supplier .supplier_title .tooltip_wrap {
  display: none;
  margin-left: 10px;
}

.tooltip {
  // todo вынести в глобальный конфиг, много где дублируется
  position: relative;
  border: 1px solid var(--color-accent-light);
  border-radius: 2px;
  font-size: var(--font-size-10);
  font-weight: var(--font-weight-bold);
  color: #70706f;
  line-height: 13px;
  padding: 0 3px;
  background-color: #ffffff;
  white-space: nowrap;
  cursor: default;
  z-index: 1;
  overflow: hidden;
  transition: background-color 0.3s, border-color 0.3s;

  &:hover {
    overflow: visible;
    background-color: var(--color-accent-light);
    border-color: var(--color-accent-light);
  }
}
