<a class="catalog_item__link" *ngIf="tradeOffer"
   [routerLink]="'/supplier/' + tradeOffer.supplierId + '/offer/' + tradeOffer.id">
  <span class="catalog_item__img" style="{{tradeOffer.supplierInn | organizationLogo}}"></span>
  <span class="catalog_item__descr">
    <span class="catalog_item__title"
          nz-tooltip
          nzTooltipTitle="{{tradeOffer.supplierName | abbreviatedBusinessName}}">
          {{tradeOffer.supplierName | abbreviatedBusinessName}}
    </span>
    <span class="catalog_item__about"
          nz-tooltip
          nzTooltipTitle="{{tradeOffer.description}}">
      {{tradeOffer.description}}
    </span>
    <span class="catalog_item__info">
      <span *ngIf="tradeOffer.stock || tradeOffer.amount; else elseStockBlock"
            class="catalog_item__count tooltip"
            nz-tooltip
            nzTooltipTitle="Наличие товара">{{tradeOffer.amount | marketStock : tradeOffer.stock : false}}</span>

      <span *ngIf="tradeOffer.price; else elsePriceBlock"
            class="catalog_item__price"
            nz-tooltip
            nzTooltipTitle="Цена"
            >{{tradeOffer.price | marketMultiplier:'.01' | currencyPrice: tradeOffer.currencyCode}}</span>
    </span>
  </span>

  <div class="tooltip_wrap" *ngIf="tradeOffer.audience">
    <span class="tooltip"
          nz-tooltip
          nzTooltipTitle="Поставщик установил специальную выгодную цену для вас">Специальная цена</span>
  </div>

  <img class="discount" *ngIf="tradeOffer.hasDiscount"
       src="./assets/img/svg/discount.svg" alt="Скидки"
       nz-tooltip
       nzTooltipTitle="Поставщик установил скидку на торговое предложение">
</a>

<ng-template #elsePriceBlock>
  <span class="catalog_item__price"
        nz-tooltip
        nzTooltipTitle="У торгового предложения не указана цена, вы можете отправить запрос цены поставщику">цена по запросу</span>
</ng-template>

<ng-template #elseStockBlock>
  <span class="catalog_item__count tooltip"
        nz-tooltip
        nzTooltipTitle="У торгового предложения не указаны складские остатки, это не мешает отправить заказ поставщику">не указано</span>
</ng-template>
