.filter_category__list {
  height: 400px;
  overflow-y: auto;
  padding-right: 13px;
  margin-top: 15px;
}

.filter_category__count {
  color: #d6d6d6;
  margin-left: 3px;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar::-webkit-scrollbar-track {
  width: 1px;
  background-color: #ebebeb;
}

.scrollbar::-webkit-scrollbar-track-piece {
  width: 1px;
  background-color: #ebebeb;
}

.scrollbar::-webkit-scrollbar-thumb {
  height: 50px;
  width: 5px;
  background-color: #fedc7b;
}

.scrollbar::-webkit-scrollbar-corner {
  display: none;
}

.scrollbar::-webkit-resizer {
  display: none;
}

.form-group_checkbox {
  margin-top: 5px;
}

.category {
  display: none;

  &.visible {
    display: block;
  }
}
