@media (max-width: 768px) {
  .title-block > .product_specs {
    display: none;
  }

  .carousel + .product_specs {
    margin-top: 20px;
    display: block;
  }

  .product-base {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .title {
    margin: 0 0 20px 0;
    text-align: center;
    padding-right: 0;

    &-block {
      order: 1;
    }
  }

  .carousel {
    margin: auto;
    order: 2;
  }

  .product_specs {
    order: 3;
  }

  .peppermint-slides {
    margin-bottom: 18px;
  }
}
