<div class="banners">

  <my-main-banners-banner
    title="Магазин для магазинов"
    btnLink="routerLink"
    btnText="О сервисе"
    img="banner_1.png"
  >Короткий описательный текст<br> о бизнес-сети и сервисе</my-main-banners-banner>

  <my-main-banners-banner
    title="Samsung Galaxy S8"
    btnLink="routerLink"
    btnText="О товаре"
    img="banner_2.png"
  >Короткий рекламный текст<br> о товаре и почему его стоит купить</my-main-banners-banner>

  <my-main-banners-banner
    title="Samsung Galaxy S8"
    btnLink="routerLink"
    btnText="О товаре"
    img="banner_2.png"
  >Короткий рекламный текст<br> о товаре и почему его стоит купить</my-main-banners-banner>

</div>
