@media all and (max-width: 1680px) {
  .banners {
    * {
      display: none;
      &:nth-child(1) {
        display: flex;
      }
      &:nth-child(2) {
        display: flex;
      }
    }
  }
}

