<div class="popular">

  <div class="title">
    <strong>Популярные товары</strong>
    <span>количество предложений от поставщиков и минимальная цена</span>
  </div>

  <div class="content" itemtype="http://schema.org/ItemList" itemscope="itemscope">

    <my-nomenclature-card *ngFor="let nomenclature of nomenclatures"
      [nomenclature]="nomenclature"
    ></my-nomenclature-card>

    <!-- <my-banner-card
      [routerLink]="['./product/100']"
      imageUrl="/assets/img/tmp/catalog_banner_popular.png"
      imgAlt="Умная колонка с Алисой"
    >
      <span class="banner-card-title">Умная колонка<br> с Алисой</span>
      <span class="banner-card-body">И другие товары Яндекса</span>
    </my-banner-card> -->

  </div>

</div>


