@media all and (max-width: 576px) {
  .order {
    .order__total_btn {
      flex-direction: column;
    }

    .order__total_btn .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
