.dropdown_block {
  background-color: #ffffff;
  box-shadow: 2px 4px 23px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 99;
  transition: opacity 0.3s;
}

.form-group {
  margin-bottom: 10px;
  position: relative;

  label {
    font-weight: var(--font-weight-medium);
    line-height: 19px;
    display: block;
    margin-bottom: 10px;
  }
}

input[type="text"],
input[type="number"],
textarea {
  font-size: var(--font-size-main);
  font-family: "Futura", Arial, Helvetica, sans-serif;
  letter-spacing: 0.05em;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  outline-color: #fdc82f;
  resize: none;
  border-radius: 2px;
}

input[type="text"] {
  height: 40px;
  line-height: 40px;
}

.choose-city_wrap {
  width: 400px;
  height: 500px;
  overflow: scroll;
  padding: 30px 17px 15px 30px;

  & .form-group label {
    font-weight: var(--font-weight-demi);
  }

  input {
    width: 100%;
  }
}

.choose-city_item {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-medium);
  min-height: 30px;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f6f6f6;
  }
}

::-webkit-scrollbar {
  width: 5px;

  &-track {
    background: #f1f1f1;
  }
  &-thumb {
    background: #888;
    &:hover {
      background: #555;
    }
  }
}
