<div class="banner-card" itemtype="http://schema.org/Product" itemprop="itemListElement" itemscope="itemscope">
  <a class="link banner banner-popular" itemprop="url" [routerLink]="routerLink">

    <span class="heart-points">
      <img src="assets/img/svg/heart_points.svg" alt="" title="">
    </span>
    <span class="title">
      <ng-content select=".banner-card-title"></ng-content>
    </span>
    <span class="body">
      <ng-content select=".banner-card-body"></ng-content>
    </span>
    <span class="cover">
      <img src="{{imgUrl}}" alt="{{imgAlt}}" title="{{imgAlt}}">
    </span>

  </a>
</div>
