<div class="content-wrapper page-orders page_inner">
  <div class="page_header">
    <h2>Мои заказы</h2>
  </div>

  <nz-tabset nzTabPosition="top" nzType="card" [nzTabBarExtraContent]="extraTemplate">
    <nz-tab nzTitle="Заказы" (nzClick)="refreshOrderDocuments()">
      <ng-template nz-tab>
        <market-order-list
          type="outbound"
          [documents]="orderDocuments"
          [page]="pageOrderDocuments"
          (loadDocuments)="loadOrderDocuments($event)"
        ></market-order-list>
      </ng-template>
    </nz-tab>

    <nz-tab [nzTitle]="account" (nzClick)="refreshAccountDocuments()">
      <ng-template nz-tab>
        <market-account-list
          [documents]="accountDocuments"
          [page]="pageAccountDocuments"
          (loadDocuments)="loadAccountDocuments($event)"
        ></market-account-list>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>

<ng-template #account>
  <div class="account" [attr.new-accounts]="(newAccountDocumentsCounter$ | async) || null">Счета</div>
</ng-template>

<ng-template #extraTemplate>
  <button class="desk_btn" nz-button nzType="primary" (click)="refreshAll()">
    Обновить страницу <em nz-icon nzType="sync" nzTheme="outline"></em>
  </button>
  <button class="mob_btn" nz-button nzType="primary" nzShape="circle" (click)="refreshAll()">
    <em nz-icon nzType="sync" nzTheme="outline"></em>
  </button>
</ng-template>
