<ng-container *ngIf="accessKeys?.length; else emptyAccessKeys">
  <div class="table_list table_list__organizations">
    <div class="table_row table_header">
      <div class="table_cell cell_title">
        <span>Пароль</span>
      </div>
      <div class="table_cell cell_action">
        <span>Выдан</span>
      </div>
      <div class="table_cell cell_action">
        <span>Истекает</span>
      </div>
      <div class="table_cell cell_status">
        <span>Статус</span>
      </div>
      <div class="table_cell cell_action">
        <span>Действие</span>
      </div>
    </div>
    <div class="table_row" *ngFor="let accessKey of accessKeys">
      <div class="table_cell cell_title">
        <span class="supplier_title" >
          <span class="supplier_image" [ngStyle]="{'background-color': setHexColor(accessKey?.accessCode)}"></span>
          <span class="supplier_name">
            {{accessKey?.accessCode}}
          </span>
        </span>
      </div>
      <div class="table_cell cell_status" data-title="Выдан:">
        {{accessKey?.creationDate | date:'dd MMMM yyyy г.'}}
      </div>
      <div class="table_cell cell_status" data-title="Истекает:">
        {{accessKey?.accessCodeExpirationDate | date:'dd MMMM yyyy г.'}}
      </div>
      <div class="table_cell cell_status" data-title="Статус:">
        {{accessKey?.status}}
      </div>
      <div class="table_cell cell_action">
        <div class="table_cell__inner">
          <button
            class="btn btn-gray btn_get_access-key btn_long"
            (click)="emitRemoveAccessKeyRequestChange(accessKey?.keyId)">
            Удалить
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #emptyAccessKeys>
  <div class="empty">
    <nz-empty
      nzNotFoundImage="./assets/img/svg/empty.svg"
      [nzNotFoundContent]="contentTpl"
      >
      <ng-template #contentTpl>
        <span>Список одноразовых паролей пуст</span>
      </ng-template>
    </nz-empty>
  </div>
</ng-template>
