<div *ngIf="tradeOffer">
  <div class="product_side" *ngIf="orderStatus === 0">
    <div class="to_cart__wrap">
      <h3>Добавить товар в корзину</h3>
      <div class="to_cart__btn_wrap">
        <button type="button" class="btn btn-yellow to_cart__btn" disabled></button>
      </div>
      <div class="to_cart__total_price">
        Товар не продается
      </div>
      <p class="to_cart__nds">Свяжитесь с поставщиком,<br> чтобы узнать детали</p>
    </div>
  </div>


  <div class="product_side" *ngIf="orderStatus === 1">
    <div class="to_cart__wrap">
      <h3>Добавить товар в корзину</h3>
      <div class="to_cart__btn_wrap">
        <button type="button" class="btn btn-yellow to_cart__btn" (click)="order()"></button>
      </div>
      <div class="to_cart__total_price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span itemprop="price">{{price | myMultiplier:'.01' | currency:'RUB':'symbol'}}</span>
      </div>
      <p class="to_cart__nds">{{vatInfo}}</p>
      <div class="price_matrix__btn attention-link" data-modal="modalPriceMatrix" (click)="isVisible = true">Матрица цен</div>
      <ng-container *ngTemplateOutlet="price_matrix_modal"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="price_matrix"></ng-container>
  </div>


  <div class="product_side" *ngIf="orderStatus === 2">
    <div class="to_cart__wrap">
      <h3>Товар добавлен в корзину</h3>
      <div class="switch_count color_scheme_yellow" data-counter="basket__count_products" [formGroup]="form">
        <button class="switch_count__decrease" (click)="decrease()"></button>
        <input
          type="number"
          step="1" min="0"
          class="switch_count__value"
          name="totalPositions"
          formControlName="totalPositions">
        <button class="switch_count__increase" (click)="increase()"></button>
      </div>
      <div class="to_cart__total_price" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
        <span itemprop="price">{{price | myMultiplier:'.01' | currency:'RUB':'symbol'}}</span>
      </div>
      <p class="to_cart__nds">{{vatInfo}}</p>
      <div class="price_matrix__btn attention-link" data-modal="modalPriceMatrix" (click)="isVisible = true">Матрица цен</div>
      <ng-container *ngTemplateOutlet="price_matrix_modal"></ng-container>
    </div>
    <ng-container *ngTemplateOutlet="price_matrix"></ng-container>
  </div>
</div>

<ng-template #price_matrix_modal>
  <nz-modal #matrixModal nzWrapClassName="test__modal" [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="isVisible = false">
    <ng-container *ngTemplateOutlet="price_matrix"></ng-container>
  </nz-modal>
</ng-template>

<ng-template #price_matrix>
  <div class="price_matrix" *ngIf="matrix">
    <h3>Матрица цен</h3>
    <div class="price_matrix__group" *ngFor="let item of matrix">
      <span class="price_matrix__label">От {{item.fromPackages}} шт.</span>
      <span class="price_matrix__value">{{item.price | myMultiplier:'.01' | currency:'RUB':'symbol'}}</span>
      <span class="price_matrix__nds">{{vat}}</span>
    </div>
  </div>
</ng-template>
