<div class="sa">
  <market-search-box (formInitialized)="attachForm($event)"></market-search-box>
  <div class="area" [ngClass]="{'collapsed': filterCollapsed}">
    <div class="upper-slot">
      <ng-content select="upper-slot"></ng-content>
    </div>
    <div class="middle-slot">
      <ng-content select="middle-slot"></ng-content>
    </div>
    <div class="container" [ngClass]="{'collapsed': filterCollapsed}">
      <div class="content">
        <ng-content select="main-slot"></ng-content>
      </div>
      <div class="filter">
        <market-search-filter
          (formInitialized)="attachForm($event)">
        </market-search-filter>
      </div>
    </div>
  </div>
</div>
