<div class="search_bar">
  <market-search-bar
    [query]="query"
    [filters]="filters"
    [suggestionsOff]="true"
    (submitClick)="changeQueryParamsAndRefresh($event)"
    (cityChange)="changeCityAndRefresh($event)"
  ></market-search-bar>
</div>

<div class="catalog_header">

  <div class="catalog_header__count">
    <span class="catalog_header__title">Результаты поиска</span>
    <strong *ngIf="tradeOffersTotal">{{tradeOffersTotal | marketFound}}
      <b>{{foundCount}}</b> {{foundCount | marketDeclension: 'торговое предложение': 'торговых предложения': 'торговых предложений'}}
    </strong>
    <strong *ngIf="!tradeOffersTotal">поставщик не опубликовал торговые предложения для вашей организации</strong>
  </div>

  <market-results-sorter
    *ngIf="tradeOffers?.length > 1"
    [sort]="sort"
    (sortChange)="sortChange($event)"
  ></market-results-sorter>
</div>


<div class="table_list table_list__products" *ngIf="tradeOffers?.length">

  <div class="table_row table_header">

    <div class="cell_pre">
      <div class="cell_left">
        <div class="table_cell cell_title">
          Наименование товара
        </div>
        <div class="table_cell cell_article">
          Артикул
        </div>
        <div class="table_cell cell_packaging">
          Упаковка
        </div>
        <div class="table_cell cell_available">
          Доступность
        </div>
      </div>
      <div class="cell_right">
        <div class="table_cell cell_price">
          Цена за штуку
        </div>
      </div>
    </div>
    <div class="table_cell cell_buy">
      Купить
    </div>
  </div>

  <ng-template #indicatorTemplate>
    <em class="icon_scroll" nz-icon nzType="loading"></em>
  </ng-template>

  <nz-spin [nzSpinning]="isLoading" [nzIndicator]="indicatorTemplate">

    <div class="trade_offers_infinite_scroll" infiniteScroll (scrolled)="tradeOffersLoading(page + 1)">

      <div class="table_row" *ngFor="let tradeOffer of tradeOffers">
        <div class="cell_pre">
          <div class="cell_left">
            <div class="table_cell cell_title">
              <a (click)="routeToTradeOffer(tradeOffer.id)"
                 title="Браслет Honor Band 5 четвертая версия">{{tradeOffer.productName}}</a>
            </div>
            <div class="table_cell cell_article" data-title="Артикул:">
              {{tradeOffer.productPartNumber || tradeOffer.supplierPartNumber}}
            </div>
            <div class="table_cell cell_packaging" data-title="Упаковка:">
              {{tradeOffer.packaging.description}}
            </div>
            <div class="table_cell cell_available" data-title="Доступность:">
              {{stock(tradeOffer.stock?.stockBalanceSummary.level, tradeOffer.temporarilyOutOfSales)}}
            </div>
          </div>
          <div class="cell_right">
            <div class="cell_image">
              <span *ngIf="!tradeOffer.imageUrls" class="empty__img"></span>
              <img *ngIf="tradeOffer.imageUrls?.length" src="{{imageUrl(tradeOffer.imageUrls)}}" alt="" title="">
            </div>
            <div class="table_cell cell_price">
              <span *ngIf="tradeOffer.price.matrix?.length"
                    class="price">{{price(tradeOffer.price.matrix) | marketMultiplier:'.01' | currency:currencyCode(tradeOffer.price.currencyCode):'symbol':'1.0'}}</span>
              <span *ngIf="!tradeOffer.price.matrix?.length"class="price">цена по запросу</span>

              <span *ngIf="tradeOffer.price.matrix?.length" class="cell_nds">{{vat(tradeOffer.price)}}</span>
              <span *ngIf="tradeOffer.price.matrix?.length"
                    class="cell_from_packages">{{fromPackages(tradeOffer.price.matrix)}}</span>
              <div class="tooltip_wrap" *ngIf="tradeOffer.audience && tradeOffer.price.matrix?.length">
                <span class="tooltip"
                      nz-tooltip
                      nzTooltipTitle="Поставщик установил специальную выгодную цену для вас">Специальная цена</span>
              </div>
            </div>
          </div>
        </div>
        <div class="table_cell cell_buy">
          <market-product-side
            [tradeOfferId]="tradeOffer.id"
          ></market-product-side>
          <a (click)="routeToTradeOffer(tradeOffer.id)" class="btn btn-gray btn__product_link">О товаре</a>
        </div>
      </div>

    </div>

  </nz-spin>

</div>

