@media all and (max-width: 576px) {
  .table_list__products {
    .cell_right {
      width: 100px;
    }

    .cell_buy .to_cart__btn {
      width: 80px;
      margin-left: 10px;
    }

    .btn__product_link {
      margin-left: 45px;
    }
  }
}

