@media all and (max-width: 768px) {
  .table_list {
    display: block;
    border-bottom: none;
  }

  .table_row {
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px 20px 25px 20px;
  }

  .table_cell {
    display: flex;
    align-items: flex-start;
    border-top: none;
  }

  .table_cell[data-title]:before {
    content: attr(data-title);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-12);
    color: var(--color-primary);
    opacity: 0.6;
    width: 70px;
    margin-right: 10px;
    flex-shrink: 0;
  }

  .table_list__products {
    .table_row.table_header {
      display: none;
    }

    .table_row {
      border-bottom-color: #bdbdbd;
    }

    .cell_pre {
      width: 100%;
      flex-direction: row-reverse;
      align-items: flex-start;
    }

    .cell_left {
      flex-direction: column;
      width: 100%;
    }

    .cell_right {
      flex-direction: column;
      flex-shrink: 0;
      width: 120px;
      margin-right: 35px;
    }

    .table_cell {
      padding: 0;
      width: 100%;
    }

    .cell_image {
      position: static;
      margin-right: 0;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-height: 56px;
        width: auto;
      }
    }

    .cell_title {
      margin-top: 10px;
      font-size: var(--font-size-12);

      .tooltip_wrap {
        margin-bottom: 5px;
      }

      a {
        display: block;
        line-height: 15px;
        margin-bottom: 10px;
      }
    }

    .cell_article {
      height: auto;
      margin-bottom: 6px;
      margin-top: 5px;
      align-items: flex-start;
    }

    .cell_packaging {
      margin-bottom: 6px;
      align-items: flex-start;
    }

    .cell_available {
      margin-bottom: 10px;
      align-items: flex-start;
    }

    .cell_price {
      text-align: center;
      align-items: center;

      .tooltip_wrap {
        margin-top: 5px;
      }
    }

    .price {
      font-size: var(--font-size-18);
      color: var(--color-primary);
    }

    .cell_nds, .cell_from_packages {
      margin-top: 5px;
      margin-right: 0;
      font-size: var(--font-size-10);
      color: var(--color-primary);
    }

    .cell_buy {
      margin-top: 10px;
      width: 100%;
    }

    .btn__product_link {
      display: flex;
    }
  }
}
