@media all and (max-width: 360px) {
  .table_list__products {
    .table_row {
      padding: 15px 15px 20px 15px;
    }

    .price {
      font-size: var(--font-size-15);
    }

    .cell_right {
      margin-right: 10px;
    }

    .btn__product_link {
      margin-left: 20px;
    }
  }
}
