@media all and (max-width: 992px) {

  .table_list.table_list__products {
    margin-top: 25px;
  }

  .catalog_header {
    flex-direction: column;
    margin-bottom: 5px;

    &__count {
      margin-right: 0;
      text-align: center;

      & + .catalog_header__btns {
        margin-top: 10px;
      }
    }
  }
}
