<div class="search_bar">
  <market-search-bar
    [query]="query"
    [filters]="filters"
    [suggestionsOff]="true"
    (submitClick)="changeQueryParamsAndRefresh($event)"
    (cityChange)="changeCityAndRefresh($event)"
  ></market-search-bar>
</div>

<div class="catalog_header" *ngIf="tradeOffersTotal >= 0">
  <div class="catalog_header__count">
    <span class="catalog_header__title">Результаты поиска</span>
    <ng-container *ngIf="tradeOffersTotal > 0; else emptyTradeOffers">
      <strong *ngIf="tradeOffersTotal > 0">{{tradeOffersTotal | marketFound}}
        <b>{{foundCount}}</b> {{foundCount | marketDeclension: 'торговое предложение': 'торговых предложения': 'торговых предложений'}}
      </strong>
    </ng-container>
    <ng-template #emptyTradeOffers>
      <strong *ngIf="tradeOffersTotal === 0">поставщик не опубликовал торговые предложения для выбранного региона или для ваших организаций</strong>
    </ng-template>
  </div>

  <market-results-sorter
    *ngIf="tradeOffers?.length > 1"
    [sort]="sort"
    (sortChange)="sortChange($event)"
  ></market-results-sorter>
</div>

<div class="table_list table_list__products" *ngIf="tradeOffers?.length">
  <div class="table_row table_header">
    <div class="cell_pre">
      <div class="cell_left">
        <div class="table_cell cell_title">
          Наименование товара
        </div>
        <div class="table_cell cell_article">
          Артикул
        </div>
        <div class="table_cell cell_packaging">
          Упаковка
        </div>
        <div class="table_cell cell_available">
          Доступность
        </div>
      </div>
      <div class="cell_right">
        <div class="table_cell cell_price">
          Цена за штуку
        </div>
      </div>
    </div>
    <div class="table_cell cell_buy">
      Купить
    </div>
  </div>

  <div class="trade_offers_infinite_scroll" infiniteScroll (scrolled)="tradeOffersLoading(page + 1)">
    <div class="table_row backlight" *ngFor="let tradeOffer of tradeOffers">
      <a class="cell_pre" [routerLink]="'/supplier/' + supplier.id + '/offer/' + tradeOffer.id">
        <div class="cell_left">
          <div class="table_cell cell_title">
            {{tradeOffer.productName}}
          </div>
          <div class="table_cell cell_article" data-title="Артикул:">
            {{tradeOffer.productPartNumber || tradeOffer.supplierPartNumber}}
          </div>
          <div class="table_cell cell_packaging" data-title="Упаковка:">
            {{tradeOffer.packaging.description}}
          </div>
          <div class="table_cell cell_available" data-title="Доступность:">
            {{tradeOffer.stock?.stockBalanceSummary?.amount | marketStock : tradeOffer.stock?.stockBalanceSummary?.level : tradeOffer.temporarilyOutOfSales}}
          </div>
        </div>
        <div class="cell_right">
          <div class="cell_image">
            <span *ngIf="!tradeOffer.imageUrls" class="empty__img"></span>
            <img *ngIf="tradeOffer.imageUrls?.length" src="{{imageUrl(tradeOffer.imageUrls)}}"
                 alt="{{tradeOffer.productName}}" title="{{tradeOffer.productName}}"
                 onerror="this.src='./assets/img/svg/clean.svg'; this.onerror='';">
          </div>
          <div class="table_cell cell_price">
            <p>
              <span nz-tooltip
                    nzTooltipTitle="Цена без скидки"
                    *ngIf="tradeOffer.price?.hasDiscount"
                    class="priceBeforeDiscount">{{tradeOffer.price.matrix | marketMinPrice : true | marketMultiplier:'.01' | currencyPrice: tradeOffer.price.currencyCode}}</span>
            </p>

            <p>
              <span *ngIf="tradeOffer.price?.matrix?.length"
                 class="price">{{tradeOffer.price.matrix | marketMinPrice | marketMultiplier:'.01' | currencyPrice: tradeOffer.price.currencyCode}}&nbsp;&nbsp;</span>
              <span *ngIf="!tradeOffer.price?.matrix?.length" class="price">цена по запросу</span>
            </p>

            <p>
              <span *ngIf="tradeOffer.price?.matrix?.length" class="cell_nds">{{vat(tradeOffer.price)}}</span>
              <span *ngIf="tradeOffer.price?.matrix?.length"
                    class="cell_from_packages">{{fromPackages(tradeOffer.price.matrix)}}</span>
            </p>


            <div class="tooltip_wrap" *ngIf="tradeOffer.audience && tradeOffer.price?.matrix?.length">
                <span class="tooltip"
                      nz-tooltip
                      nzTooltipTitle="Поставщик установил специальную выгодную цену для вас">Специальная цена</span>
            </div>
          </div>
        </div>
      </a>
      <div class="table_cell cell_buy">
        <market-product-side
          [tradeOffer]="tradeOffer"
          [minQuantity]="minQuantity(tradeOffer.price?.matrix, tradeOffer.packageMultiplicity)"
          [orderStep]="tradeOffer.packageMultiplicity"
        ></market-product-side>
        <a [routerLink]="'/supplier/' + supplier.id + '/offer/' + tradeOffer.id" class="btn btn-gray btn__product_link">О
          товаре</a>
      </div>
    </div>
  </div>
</div>

