<h2>Акция 10% на первый заказ</h2>
<span class="description">С 1 сентября по 15 ноября для пользователей сервиса «1С:Торговая площадка» действует скидка 10% на первый заказ от поставщиков,
  участвующих в акции, в категориях <a [routerLink]="['/category/616']">«Товары для офиса»</a>, <a [routerLink]="['/category/3321']">«Продукты, напитки, табак»</a>, <a [routerLink]="['/category/1862']">«Текстиль для детей»</a>,
  <a [routerLink]="['/category/2805']">«Изделия из металла»</a> и <a [routerLink]="['/category/4469']">«Товары для животных»</a>. Чтобы посмотреть товары, перейдите в соответствующий магазин поставщика.
  Цены в категории указаны без скидок (исключение: торговые предложения компании Комус опубликованы с учетом скидки 10%). Чтобы воспользоваться скидкой, отправьте заказ поставщику, участвующему в акции,
  ваш заказ будет доставлен с пометкой "скидка".</span>

<div class="banners_suppliers">
  <market-banner *ngFor="let bannerItem of supplierItems" [item]="bannerItem"></market-banner>
</div>

<h3>Как применить скидку на заказ?</h3>
<h4>Чтобы применить скидку на первый заказ:</h4>

<ol>
  <li>
    <span>Выберите категорию товаров и перейдите в магазин поставщика, участвующего в акции, нажав на соответствующий баннер на страничке акции.</span>
  </li>
  <li>
    <span>Укажите нужное количество товара и перейдите в корзину для оформления заказа.</span>
    <br/>
    <img class="preview" src="assets/img/promo/first-order/step-1.jpg" alt="Шаг 1" title="Шаг 1">
  </li>
  <li>
    <span>Внесите ваши контактные данные, чтобы менеджер поставщика смог связаться с вами и оформить заказ.</span>
    <br/>
    <img class="preview" src="assets/img/promo/first-order/step-2.jpg" alt="Шаг 2" title="Шаг 2">
  </li>
  <li>Все отправленные заказы со скидкой можно увидеть в личном кабинете.</li>
</ol>
<br/>
