<h2>Акция Скидка 10% на первый заказ</h2>
<span class="description">С 1 сентября по 31 октября для пользователей сервиса 1С:Торговая площадка действует акция "Скидка 10% на первый заказ" от Поставщиков,
участвующих в акции в категориях «Товары для школы и офиса»,"Продукты питания", "Текстиль для детей", "Изделия из металла" и "Зоотовары ".
Чтобы посмотреть товары, перейдите в соответствующий магазин Поставщика. Цены в категории указаны без скидок.
Чтобы воспользоваться скидкой отправьте заказ Поставщику, участвующему в акции, ваш заказ будет доставлен с пометкой "скидка 10%".
  Скидка к заказу будет применена Поставщиком при выставлении счета.</span>

<div class="banners_suppliers">
  <market-main-banners-banner
    *ngFor="let item of supplierItems"
    title="{{item.title}}"
    btnLink="{{item.btnLink}}"
    btnText="Подобрать товары">
      <span class="description">{{item.description}}</span>
      <img class="cover" src="{{item.imgUrl}}" alt="{{item.title}}" title="{{item.title}}">
  </market-main-banners-banner>
</div>

<h3>Как применить скидку на заказ?</h3>

<ol>
  <li>
    <span>Перейдите в магазин Поставщика, участвующего в акции, нажав на соответствующий баннер на странице Акции вместо баннера ниже должен быть баннер комус- первый сверху;</span>
    <br/>
    <img class="preview" src="assets/img/promo/first-order/step-1.png" alt="Шаг 1" title="Шаг 1">
  </li>
  <li>
    <span>Положите нужное количество товара в корзину и перейди в корзину для оформления заказа;</span>
    <br/>
    <img class="preview" src="assets/img/promo/first-order/step-2.png" alt="Шаг 2" title="Шаг 2">
  </li>
  <li>
    <span>Укажите ваши контакты данные, чтобы менеджер поставщика смог связаться с вами, и оформить скидку на первый заказ;</span>
    <br/>
    <img class="preview" src="assets/img/promo/first-order/step-3.png" alt="Шаг 3" title="Шаг 3">
  </li>
  <li>Все отправленные заказы со скидкой можно увидеть в личном кабинете.</li>
</ol>
<br/>
<span>Акция скидка 10%  на первый заказ проводится c 1 сентября по 31 октября включительно.</span>
