h2 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 23px;
  margin-bottom: 15px;
  margin-top: 35px;
}

h3 {
  margin-bottom: 15px;
  margin-top: 35px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

span,
ol {
  line-height: normal;
}

.description {
  line-height: 1.5;
}

.banners_suppliers {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -10px;
}

market-main-banners-banner {
  padding: 10px;
}

.cover {
  width: 95px;
}

.preview {
  max-width: 512px;
  margin: 12px 0;
}

@media all and (max-width: 768px) {
  .preview {
    max-width: 256px;
  }
}
