:root {
  --color-primary: #454545;
  --color-secondary: #454545;
  --color-background-base: #f6f6f6;
  --color-black: #000000;
  --color-accent: #fdc82f;
  --color-accent-light: #fedc7b;
  --color-accent-lighter: #fff0c7;
  --color-accent-secondary: #f24e43;
  --font-weight-light: 300;
  --font-weight-base: 400;
  --font-weight-medium: 500;
  --font-weight-demi: 600;
  --font-weight-bold: bold;
  --font-size-base: 1rem;
  --font-size-10: calc(2rem / 3);
  --font-size-12: 0.8rem;
  --font-size-13: calc(13rem / 15);
  --font-size-14: calc(14rem / 15);
  --font-size-15: calc(15rem / 15);
  --font-size-16: calc(16rem / 15);
  --font-size-18: 1.2rem;
  --font-size-20: calc(20rem / 15);
}
