:root {
  font-size: 0.9375em;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

body {
  font-family: "Futura", Arial, Helvetica, sans-serif;
  background-color: #fdfdfd;
  color: var(--color-primary);
  font-size: var(--font-size-base);
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a img {
  border: none;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-weight: var(--font-weight-demi);
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.025em;
  white-space: nowrap;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.no-selection {
  user-select: none;
}

.btn,
a.btn,
button.btn {
  font-size: var(--font-size-base);
  font-family: "Futura", serif;
  font-weight: var(--font-weight-medium);
  border-radius: 2px;
  background-color: #ffffff;
  color: var(--color-black);
  min-height: 40px;
  line-height: 40px;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s;

  &:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
  }
}

.btn_square {
  width: 40px;
  border-radius: 10px;
}

.btn_bordered,
a.btn_bordered,
button.btn_bordered {
  border-radius: 6px;
}

.overlay-backdrop-dark {
  background: rgba(0, 0, 0, 0.32);

  &.cdk-overlay-backdrop-showing {
    opacity: 1;
  }
}
