@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Здесь переопределяются стили NG-ZORRO

// Common
@heading-color: #454545;
@accent-color: #fdc82f;
@outline-color: #fedc7b;
@line-height-base: 17.25px;
.active(@color: @outline-color) {
  border-color: @color;
  outline: 0;
  box-shadow: none;
}

// Input
@input-placeholder-color: rgba(69, 69, 69, 0.8);
@input-border-color: #c4c4c4;
@input-hover-border-color: @outline-color;

// Radio
@radio-prefix-cls: ~"@{ant-prefix}-radio";
@radio-size: 20px;
@radio-dot-color: @accent-color;
.ant-form label {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-medium);
}

.@{radio-prefix-cls}-wrapper {
  margin-right: 15px;
}

span.ant-radio + * {
  padding-right: 0;
  padding-left: 6px;
}

.@{radio-prefix-cls} {
  &-inner {
    &::after {
      @radio-dot-size: @radio-size - 10px;
      top: (@radio-size - @radio-dot-size) / 2 - 2px;
      left: (@radio-size - @radio-dot-size) / 2 - 2px;
      width: @radio-dot-size;
      height: @radio-dot-size;
    }

    border-width: 2px;
  }
}

// Checkbox
@checkbox-prefix-cls: ~"@{ant-prefix}-checkbox";
@label-color: #454545;
@checkbox-size: 20px;
@checkbox-color: @accent-color;
@checkbox-check-color: #fff;
@checkbox-check-bg: @checkbox-check-color;
@checkbox-border-width: @border-width-base;
.@{checkbox-prefix-cls}-wrapper {
  color: @label-color;
}

.@{checkbox-prefix-cls} + span {
  padding-right: 8px;
  padding-left: 16px;
}

// SLIDER
@slider-prefix-cls: ~"@{ant-prefix}-slider";
@slider-handle-color: @accent-color;

.@{slider-prefix-cls} {
  &-rail {
    height: 2px;
    background-color: @slider-rail-background-color;
    border-radius: @border-radius-base;
  }

  &-track {
    height: 2px;
    background-color: #fed96e;
    border-radius: @border-radius-base;
  }

  &-handle {
    width: 4px;
    border: solid @slider-handle-border-width @slider-handle-color;
    border-radius: 0;
    box-shadow: @slider-handle-shadow;

    &-dragging&-dragging&-dragging {
      border-color: @slider-handle-color-focus;
    }

    &:focus {
      border-color: @slider-handle-color-focus;
      box-shadow: 0 0 0 5px @slider-handle-color-focus-shadow;
    }

    &.@{ant-prefix}-tooltip-open {
      border-color: @slider-handle-color-tooltip-open;
    }
  }

  &:hover {
    .@{slider-prefix-cls}-track {
      background-color: #fed96e;
    }

    .@{slider-prefix-cls}-handle:not(.@{ant-prefix}-tooltip-open) {
      border-color: #fed96e;
    }
  }
}

// Carousel
.ant-carousel {
  .slick-dots {
    &-bottom {
      bottom: 7px;
    }

    li {
      width: 7px;
      margin-right: 4px;
      margin-left: 4px;
      button {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        margin-top: 2px;
        border: 1px solid #9b9b9b;
        opacity: 1;
      }

      &.slick-active {
        width: 7px;
        button {
          background: #9b9b9b;
        }
      }
    }
  }
}

// Button
@btn-height-base: 40px;
@btn-font-weight: 500;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-primary-color: #454545;
@btn-primary-bg: @accent-color;
@btn-padding-horizontal-base: 40px;
.ant-btn-link {
  color: #454545;
}

// nz-auto-option
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #ffffff;
}

// Breadcrumb
@breadcrumb-separator-margin: 1px;

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  position: fixed;
}

// Tab
@tabs-card-head-background: #f9f9f9;
@tabs-card-active-color: var(--color-primary);
@tabs-hover-color: var(--color-primary);
@tabs-active-color: var(--color-primary);
.ant-tabs-bar {
  border: none;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:hover {
  background-color: var(--color-accent-lighter);
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  font-size: var(--font-size-15);
  font-weight: var(--font-weight-base);
  margin-right: 0;
  width: 160px;
  height: 40px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid #f9f9f9;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
  background: #f2f2f2;
  font-weight: var(--font-weight-base);
  border: 1px solid #f2f2f2;
}

@media all and (max-width: 576px) {
  .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    font-size: var(--font-size-12);
    letter-spacing: 0.05em;
  }

  .ant-tabs-tab-prev.ant-tabs-tab-arrow-show,
  .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    opacity: 0;
  }

  .ant-tabs-nav-container-scrolling {
    padding-right: 0;
    padding-left: 0;
  }
}

// Tooltip
@tooltip-prefix-cls: ~"@{ant-prefix}-tooltip";
@tooltip-max-width: 220px;
@tooltip-bg: #ffffff;
@tooltip-color: #444343;
@tooltip-arrow-width: 4px;
@tooltip-distance: 5px;
@tooltip-arrow-color: @tooltip-bg;

.@{tooltip-prefix-cls} {
  &-inner {
    min-height: auto;
    padding: 5px 7px;
    text-align: center;
    border-radius: @border-radius-base;
    line-height: 15px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-normal);
  }
}
