.section_tab__title {
  display: none;
  border-bottom: 1px solid #ececec;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.section_tab__title h2 {
  font-size: var(--font-size-18);
  font-weight: var(--font-weight-bold);
  line-height: 23px;
  text-align: center;
  margin-top: 9px;
}

.title {
  font-size: var(--font-size-18);
  line-height: 23px;
  margin: 0 0 20px;
}

form {
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group-std {
  width: 100%;
  max-width: 230px;
}

.form-group-std input {
  width: 100%;
  font-size: var(--font-size-base);
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  outline: var(--color-accent);
  resize: none;
  border-radius: 2px;
}

.form-group label {
  font-weight: var(--font-weight-medium);
  line-height: 19px;
  display: block;
  margin-bottom: 10px;
}

.form-group-btn {
  margin-top: 22px;
}

.textarea-wrap {
  position: relative;
  width: 100%;
  max-width: 410px;
}

textarea {
  line-height: 19px;
  width: 100%;
}



input[type="text"].error, textarea.error {
  border-color: #f6837b;
  outline-color: #f6837b;
  color: #6a6a6a;
}

.input_error {
  display: block;
  position: absolute;
  padding-left: 25px;
  bottom: 12px;
  left: 230px;
  width: 100%;
  opacity: 0.8;
}
