<div class="content-wrapper page_inner">

  <div class="page_header">
    <h2>{{activeTabType | marketPageHeader}}</h2>
  </div>

  <div class="tabs_wrap tabs_wrap__moving">

    <span *ngIf="activeTabType !== 'c'"
          class="tab_item tab_item__main"
          [ngClass]="{'active': activeTabType == 'a'}"
          (click)="goToTab('a')">
        <span class="data_counter data_counter__gray">Действующие</span>
    </span>

    <span *ngIf="activeTabType !== 'c'"
          class="tab_item tab_long"
          [ngClass]="{'active': activeTabType == 'b'}"
          (click)="goToTab('b')">
        <span class="data_counter" [attr.data_counter]="newSentRequests">Отправленные запросы</span>
    </span>

    <span *ngIf="activeTabType !== 'c'"
          class="tab_item tab_long"
          (click)="goToTab('c')">Добавить организацию
    </span>
  </div>

  <market-active-organizations
    [organizations]="userOrganizations$ | async"
    (getAccessKeyRequestChange)="createAccessKeyModal($event)"
    *ngIf="activeTabType == 'a'"
  ></market-active-organizations>

  <market-sent-requests
    [requests]="userOwnParticipationRequests$ | async"
    *ngIf="activeTabType == 'b'"
  ></market-sent-requests>

  <market-organization-manage
    operationType="register"
    [legalRequisites]="checkedLegalRequisites"
    (organizationDataChange)="registerOrganization($event)"
    (requestDataChange)="sendParticipationRequest($event)"
    *ngIf="activeTabType == 'c'"
  ></market-organization-manage>

</div>
