<div class="content-wrapper page_inner">

  <div class="page_header">
    <h2>Мои организации</h2>
  </div>

  <div class="tabs_wrap tabs_wrap__moving">

    <span
      class="tab_item tab_item__main"
      [ngClass]="{'active': activeTabType == 'a'}"
      (click)="goToTab('a')">
        <span class="data_counter data_counter__gray" [attr.data_counter]="(userOrganizations$ | async)?.length || null">Действующие</span>
    </span>

    <span
      class="tab_item tab_long"
      [ngClass]="{'active': activeTabType == 'b'}"
      (click)="goToTab('b')">
        <span class="data_counter" [attr.data_counter]="(userOwnParticipationRequests$ | async)?.length || null">Отправленные запросы</span>
    </span>

    <span
      class="tab_item tab_long"
      [ngClass]="{'active': activeTabType == 'c'}"
      (click)="goToTab('c')">Добавить организацию
    </span>

  </div>

  <market-active-organizations
    [organizations]="userOrganizations$ | async"
    (getAccessKeyRequestChange)="createAccessKeyModal($event)"
    *ngIf="activeTabType == 'a'"
  ></market-active-organizations>

  <market-sent-requests
    [requests]="userOwnParticipationRequests$ | async"
    *ngIf="activeTabType == 'b'"
  ></market-sent-requests>

  <market-organization-operate
    operationType="register"
    [legalRequisites]="checkedLegalRequisites"
    (organizationDataChange)="registerOrganization($event)"
    *ngIf="activeTabType == 'c' && !existingOrganization"></market-organization-operate>

  <market-organization-exists
    [organization]="existingOrganization"
    (requestDataChange)="sendParticipationRequest($event)"
    *ngIf="activeTabType == 'c' && existingOrganization"></market-organization-exists>

</div>
