.section_paragraph {
  margin-top: 25px;

  h3 {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-demi);
    line-height: 19px;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  p {
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--font-size-15);
    white-space: pre-line;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  .feature span {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    display: inline-block;
    vertical-align: bottom;
    width: 33%;
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: var(--font-size-15);
    border-bottom: 1px solid #f5f5f5;

    &:first-child {
      margin: 0 2.5% 0 0;
      position: relative;
      vertical-align: top;

      &:after {
        content: ':';
      }
    }
  }
}
