@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import "../node_modules/ng-zorro-antd-mobile/ng-zorro-antd-mobile.less";

// Здесь переопределяются стили NG-ZORRO

// Common
@heading-color: #454545;
@accent-color: #fdc82f;
@outline-color: #fedc7b;
@line-height-base: 17.25px;
.active(@color: @outline-color) {
  border-color: @color;
  outline: 0;
  box-shadow: none;
}

// Input
@input-placeholder-color: rgba(69, 69, 69, 0.8);
@input-border-color: #c4c4c4;
@input-hover-border-color: @outline-color;

// Radio
@radio-prefix-cls: ~"@{ant-prefix}-radio";
@radio-size: 20px;
@radio-dot-color: @accent-color;
.ant-form label {
  display: inline-flex;
  align-items: center;
  font-size: var(--font-size-13);
  font-weight: var(--font-weight-medium);
}

.@{radio-prefix-cls}-wrapper {
  margin-right: 15px;
}

span.ant-radio + * {
  padding-right: 0;
  padding-left: 6px;
  color: var(--color-primary);
}

.@{radio-prefix-cls} {
  &-inner {
    &::after {
      @radio-dot-size: @radio-size - 10px;
      top: (@radio-size - @radio-dot-size) / 2 - 2px;
      left: (@radio-size - @radio-dot-size) / 2 - 2px;
      width: @radio-dot-size;
      height: @radio-dot-size;
    }

    border-width: 2px;
  }
}

// Checkbox
@checkbox-prefix-cls: ~"@{ant-prefix}-checkbox";
@label-color: #454545;
@checkbox-size: 20px;
@checkbox-color: @accent-color;
@checkbox-check-color: #fff;
@checkbox-check-bg: @checkbox-check-color;
@checkbox-border-width: 2px;
.@{checkbox-prefix-cls}-wrapper {
  color: @label-color;
}

.@{checkbox-prefix-cls} + span {
  padding-right: 8px;
  padding-left: 16px;
}

.ant-checkbox {
  .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #d9d9d9;
  }

  &.ant-checkbox-checked {
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: @accent-color;
    }

    .ant-checkbox-inner {
      background-color: @checkbox-check-color;

      &::after {
        position: absolute;
        display: table;
        border: 2px solid @label-color;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1) translate(-50%, -50%);
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        content: ' ';
      }
    }
  }
}


// SLIDER
@slider-prefix-cls: ~"@{ant-prefix}-slider";
@slider-handle-color: @accent-color;

.@{slider-prefix-cls} {
  &-rail {
    height: 2px;
    background-color: @slider-rail-background-color;
    border-radius: @border-radius-base;
  }

  &-track {
    height: 2px;
    background-color: #fed96e;
    border-radius: @border-radius-base;
  }

  &-handle {
    width: 4px;
    border: solid @slider-handle-border-width @slider-handle-color;
    border-radius: 0;
    box-shadow: @slider-handle-shadow;

    &-dragging&-dragging&-dragging {
      border-color: @slider-handle-color-focus;
    }

    &:focus {
      border-color: #fed96e;
      box-shadow: none;
    }

    &.@{ant-prefix}-tooltip-open {
      border-color: @slider-handle-color-tooltip-open;
    }
  }

  &:hover {
    .@{slider-prefix-cls}-track {
      background-color: #fed96e;
    }

    .@{slider-prefix-cls}-handle:not(.@{ant-prefix}-tooltip-open) {
      border-color: #fed96e;
    }
  }
}

// Carousel
.ant-carousel {
  .slick-dots {
    &-bottom {
      z-index: 1;
      bottom: 7px;
    }

    li {
      width: 7px;
      margin-right: 4px;
      margin-left: 4px;

      button {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        margin-top: 2px;
        border: 1px solid #9b9b9b;
        opacity: 1;
      }

      &.slick-active {
        width: 7px;

        button {
          background: #9b9b9b;
        }
      }
    }
  }
}

// Button
@btn-height-base: 40px;
@btn-font-weight: 500;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-primary-color: #454545;
@btn-primary-bg: @accent-color;
@btn-padding-horizontal-base: 40px;
.ant-btn-primary {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  background-color: @outline-color;

  &:active {
    background-color: @accent-color;
    border-width: 1px;
    border-color: #ffffff;
  }
}

.ant-btn-link {
  color: #454545;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  padding-left: 10px;
  padding-right: 10px;

  &:active {
    color: #454545;
    background-color: @accent-color;
  }

  &:focus {
    color: #454545;
  }
}

// Breadcrumb
@breadcrumb-separator-margin: 1px;

// Spin
nz-spin {
  width: 100%;
}

.ant-spin-nested-loading > div > .ant-spin .ant-spin-dot {
  position: fixed;
}

//Modal
.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: var(--color-accent);
}

.ant-modal-footer {
  border-top: none;
}

// Tab
// TODO: как будет время переделать все по уму

.ant-tabs-top>.ant-tabs-nav, .ant-tabs-top>div>.ant-tabs-nav {
  margin-bottom: 0;
}

.ant-tabs-top>.ant-tabs-nav:before, .ant-tabs-top>div>.ant-tabs-nav:before {
  border: none;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
  user-select: none;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 0, 0, .65);
  margin-right: 0;
  height: 40px;
  min-width: 160px;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,.08);
  padding: 8px 16px;
  line-height: 22px;
  background: #f9f9f9;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  justify-content: center;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-disabled, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-disabled {
  color: rgba(0, 0, 0, .25);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: inherit;
  font-weight: normal;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
  background: #f2f2f2;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab:not(.ant-tabs-tab-disabled):hover, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab:not(.ant-tabs-tab-disabled):hover {
  background: var(--color-accent-light);
}

.ant-tabs-tab-btn:active, .ant-tabs-tab-btn:focus {
  color: inherit;
}

.ant-empty-image {
  height: 60px;
}

// Select
@select-item-active-bg: var(--color-accent-light);
@select-item-selected-bg: var(--color-accent-lighter);

@media all and (max-width: 576px) {
  .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
    min-width: 150px;
    font-size: var(--font-size-12);
    letter-spacing: 0.05em;
    width: auto;
  }

  .ant-modal-wrap {
    top: 100px;
  }
}

@media all and (max-width: 400px) {
  .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
    min-width: 120px;
  }

  //mobile date-picker
  .am-list-body .am-list-item:last-child {
    border: 1px solid #d6d6d6;
  }
  .am-list-item .am-list-line {

    .am-list-extra {
      flex-basis: 100%;
      text-align: left;
      font-size: var(--font-size-14);
      color: var(--color-primary);
    }

    .am-list-brief {
      margin-top: 0;
    }
  }
}

// Tooltip
@tooltip-prefix-cls: ~"@{ant-prefix}-tooltip";
@tooltip-max-width: 220px;
@tooltip-bg: #ffffff;
@tooltip-color: #444343;
@tooltip-arrow-width: 4px;
@tooltip-distance: 5px;
@tooltip-arrow-color: @tooltip-bg;

.@{tooltip-prefix-cls} {
  &-inner {
    min-height: auto;
    padding: 5px 7px;
    text-align: center;
    border-radius: @border-radius-base;
    line-height: 15px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-normal);
  }
}

// Tag
@tag-default-bg: #f6f6f6;
@tag-font-size: 14px;
.ant-tag {
  padding: 4px 8px;
}

