@media all and (max-width: 576px) {
  .banner_item {
    padding-top: 30px;
    padding-bottom: 20px;

    .banner__img {
      display: none;
    }

    .banner__info {
      margin-top: 0;
      padding-right: 0;
    }

    h3 {
      font-size: var(--font-size-16);
      line-height: 21px;
      margin: 0 0 10px;
    }

    .banner__descr {
      font-size: var(--font-size-14);
      line-height: 18px;
    }

    .banner__btn {
      margin-top: 20px;
      margin-bottom: 0;
    }

    .btn {
      max-width: 120px;
      line-height: normal;
    }
  }
}
