<div class="organization-register">
  <div class="section_tab__title">
    <h2>{{ operationType === 'register' ? 'Добавить организацию' : 'Редактировать профиль организации'}}</h2>
  </div>

  <p class="form_title" *ngIf="operationType === 'register'"> Чтобы продолжить работу, <br>укажите данные {{subject}}:</p>

  <form class="form__registration_org" [formGroup]="form" (submit)="send()">

    <div class="form-group form-group-std">
      <label for="inn">ИНН</label>
      <input type="text" id="inn" autocomplete="off" formControlName="inn">
    </div>

    <div class="form-group form-group-std" *ngIf="form.get('kpp').value">
      <label for="kpp">КПП</label>
      <input type="text" id="kpp" autocomplete="off" formControlName="kpp">
    </div>

    <div
      class="form-group form-group-std"
      [ngClass]="{'error': form.controls.organizationName.errors && (form.controls.organizationName.touched || form.controls.organizationName.dirty)}">
        <label for="organizationName">Наименование {{shortSubject}} *</label>
        <input
          type="text"
          id="organizationName"
          autocomplete="off"
          formControlName="organizationName">
        <ng-container *ngIf="form.controls.organizationName.errors && (form.controls.organizationName.touched || form.controls.organizationName.dirty)">
          <div class="input_attention" *ngIf="form.controls.organizationName.errors.required">Заполните это поле</div>
        </ng-container>
    </div>

    <div class="form-group">
      <label for="organizationDescription">Описание деятельности {{shortSubject}}</label>
      <div class="textarea-wrap">
        <textarea id="organizationDescription" rows="6" formControlName="organizationDescription"></textarea>
      </div>
    </div>

    <div
      class="form-group form-group-std"
      [ngClass]="{'error': form.controls.organizationEmail.errors && (form.controls.organizationEmail.touched || form.controls.organizationEmail.dirty)}">
        <label for="organizationEmail">E-mail</label>
        <input
          type="text"
          id="organizationEmail"
          autocomplete="off"
          formControlName="organizationEmail">
        <ng-container *ngIf="form.controls.organizationEmail.errors && (form.controls.organizationEmail.touched || form.controls.organizationEmail.dirty)">
          <div class="input_attention" *ngIf="form.controls.organizationEmail.errors.email">Некорректно заполнено поле</div>
        </ng-container>
    </div>

    <div class="form-group form-group-std">
      <label for="organizationPhone">Телефон</label>
      <input
        type="text"
        id="organizationPhone"
        autocomplete="off"
        [ngClass]="{'error': form.controls.organizationPhone.errors && (form.controls.organizationPhone.touched || form.controls.organizationPhone.dirty)}"
        prefix="+7"
        mask="(000) 000 00 00"
        [showMaskTyped]="true"
        formControlName="organizationPhone">
      <ng-container *ngIf="form.controls.organizationPhone.errors && (form.controls.organizationPhone.touched || form.controls.organizationPhone.dirty)">
        <div class="input_attention" *ngIf="form.controls.organizationPhone.errors.mask">Некорректно заполнено поле</div>
      </ng-container>
    </div>

    <div class="form-group form-group-std">
      <label for="organizationWebsite">Сайт компании</label>
      <input type="text" id="organizationWebsite" autocomplete="off" formControlName="organizationWebsite">
    </div>

    <div class="form-group form-group-std">
      <label for="organizationAddress">Адрес компании</label>
      <input type="text" id="organizationAddress" autocomplete="off" formControlName="organizationAddress">
    </div>

    <p class="form_title form_title__inner">Укажите контакты менеджера,<br> для связи поддержкой 1С:Бизнес-сеть:</p>

    <div
      class="form-group form-group-std"
      [ngClass]="{'error': form.controls.contactFio.errors && (form.controls.contactFio.touched || form.controls.contactFio.dirty)}">
        <label for="contactFio">Как к Вам обращаться? *</label>
        <input
          type="text"
          id="contactFio"
          autocomplete="off"
          formControlName="contactFio">
        <ng-container *ngIf="form.controls.contactFio.errors && (form.controls.contactFio.touched || form.controls.contactFio.dirty)">
          <div class="input_attention" *ngIf="form.controls.contactFio.errors.required">Заполните это поле</div>
        </ng-container>
    </div>

    <div
      class="form-group form-group-std"
      [ngClass]="{'error': form.controls.contactEmail.errors && (form.controls.contactEmail.touched || form.controls.contactEmail.dirty)}">
        <label for="contactEmail">E-mail *</label>
        <input
          type="text"
          id="contactEmail"
          autocomplete="off"
          formControlName="contactEmail">
        <ng-container *ngIf="form.controls.contactEmail.errors && (form.controls.contactEmail.touched || form.controls.contactEmail.dirty)">
          <div class="input_attention" *ngIf="form.controls.contactEmail.errors.required">Заполните это поле</div>
          <div class="input_attention" *ngIf="!form.controls.contactEmail.errors.required && form.controls.contactEmail.errors.email">Некорректно заполнено поле</div>
        </ng-container>
    </div>

    <div class="form-group form-group-std">
      <label for="contactPhone">Телефон *</label>
      <input
        type="text"
        id="contactPhone"
        autocomplete="off"
        [ngClass]="{'error': form.controls.contactPhone.errors && (form.controls.contactPhone.touched || form.controls.contactPhone.dirty)}"
        prefix="+7"
        mask="(000) 000 00 00"
        [showMaskTyped]="true"
        formControlName="contactPhone">
      <ng-container *ngIf="form.controls.contactPhone.errors && (form.controls.contactPhone.touched || form.controls.contactPhone.dirty)">
        <div class="input_attention" *ngIf="form.controls.contactPhone.errors.required">Заполните это поле</div>
        <div class="input_attention" *ngIf="!form.controls.contactPhone.errors.required && form.controls.contactPhone.errors.mask">Некорректно заполнено поле</div>
      </ng-container>
    </div>

    <div class="form-group form-group-agree" *ngIf="operationType === 'register'">
      <label nz-checkbox formControlName="agree" style="display: flex; align-items: flex-start;">
        <span class="checkbox-agree-text">Я являюсь уполномоченным представителем регистрируемой<br/>организации и принимаю условия
          <a class="attention-link" href="https://1cbn.ru/agreement/" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()">пользовательского соглашения</a>
        </span>
      </label>
    </div>

    <div class="form-group" style="margin-top: 25px">
      <button nz-button nzType="primary" [disabled]="!form.valid">{{ operationType === 'register' ? 'Продолжить' : 'Сохранить' }}</button>
    </div>

  </form>

</div>
