<div class="organization-register">
  <div class="section_tab__title">
    <h2>{{ operationType === 'register' ? 'Регистрация новой организации' : 'Редактировать профиль организации'}}</h2>
  </div>

  <p class="form_title" *ngIf="operationType === 'register'"> Чтобы продолжить работу, <br>укажите данные {{subject}}:
  </p>

  <form class="form__registration_org" [formGroup]="form" (submit)="send()">

    <div class="form-group form-group-std">
      <label for="inn">ИНН</label>
      <input type="text" id="inn" name="{{currentDate}}_inn" formControlName="inn">
    </div>

    <div class="form-group form-group-std" *ngIf="form.get('kpp').value">
      <label for="kpp">КПП</label>
      <input type="text" id="kpp" name="{{currentDate}}_kpp" formControlName="kpp">
    </div>

    <div class="form-group form-group-std"
      [ngClass]="{'error': form.controls.organizationName.invalid && (form.controls.organizationName.touched || form.controls.organizationName.dirty)}">
      <label for="organizationName">Наименование {{shortSubject}} *</label>
      <input
        type="text"
        id="organizationName"
        name="{{currentDate}}_organizationName"
        formControlName="organizationName">
      <ng-container
        *ngIf="form.controls.organizationName.invalid && (form.controls.organizationName.touched || form.controls.organizationName.dirty)">
        <div class="input_attention" *ngIf="form.controls.organizationName.errors.required">
          Заполните это поле
        </div>
        <div class="input_attention"
             *ngIf="!form.controls.organizationName.errors?.blank && form.controls.organizationName.errors.minlength">
          {{'Минимум ' + form.controls.organizationName.errors?.minlength.requiredLength + ' символа'}}
        </div>
        <div class="input_attention" *ngIf="form.controls.organizationName.errors?.maxlength">
          {{'Максимум ' + form.controls.organizationName.errors?.maxlength.requiredLength + ' символов'}}
        </div>
        <div class="input_attention" *ngIf="form.controls.organizationName.errors?.blank">
          Введено недопустимое значение
        </div>
      </ng-container>
    </div>

    <div class="form-group"
         [ngClass]="{'error': form.controls.organizationDescription.invalid && (form.controls.organizationDescription.touched || form.controls.organizationDescription.dirty)}">
      <label for="organizationDescription">Описание деятельности {{shortSubject}}</label>
      <div class="textarea-wrap">
        <textarea id="organizationDescription"
                  rows="6"
                  formControlName="organizationDescription"></textarea>
        <ng-container
          *ngIf="form.controls.organizationDescription.invalid && (form.controls.organizationDescription.touched || form.controls.organizationDescription.dirty)">
          <div class="textarea_attention" *ngIf="form.controls.organizationDescription.errors?.blank">
            Введено недопустимое значение
          </div>
          <div class="textarea_attention" *ngIf="form.controls.organizationDescription.errors?.maxlength">
            {{'Максимум ' + form.controls.organizationDescription.errors?.maxlength.requiredLength + ' символов'}}
          </div>
        </ng-container>
      </div>
    </div>

    <div class="form-group form-group-std"
      [ngClass]="{'error': form.controls.organizationEmail.invalid && (form.controls.organizationEmail.touched || form.controls.organizationEmail.dirty)}">
      <label for="organizationEmail">E-mail</label>
      <input
        type="text"
        id="organizationEmail"
        name="{{currentDate}}_organizationEmail"
        maxlength="100"
        formControlName="organizationEmail">
      <ng-container
        *ngIf="form.controls.organizationEmail.invalid && (form.controls.organizationEmail.touched || form.controls.organizationEmail.dirty)">
        <div class="input_attention" *ngIf="form.controls.organizationEmail.errors.email">
          Некорректно заполнено поле
        </div>
        <div class="input_attention"
             *ngIf="!form.controls.organizationEmail.errors.email && form.controls.organizationEmail.errors?.maxlength">
          {{'Максимум ' + form.controls.organizationEmail.errors?.maxlength.requiredLength + ' символов'}}
        </div>
      </ng-container>
    </div>

    <div class="form-group form-group-std"
         [ngClass]="{'error': form.controls.organizationPhone.invalid && (form.controls.organizationPhone.touched || form.controls.organizationPhone.dirty)}">
      <label for="organizationPhone">Телефон</label>
      <input
        type="text"
        id="organizationPhone"
        name="{{currentDate}}_organizationPhone"
        prefix="+7"
        mask="(000) 000 00 00"
        [showMaskTyped]="true"
        formControlName="organizationPhone">
      <ng-container
        *ngIf="form.controls.organizationPhone.invalid && (form.controls.organizationPhone.touched || form.controls.organizationPhone.dirty)">
        <div class="input_attention" *ngIf="form.controls.organizationPhone.errors.mask">
          Некорректно заполнено поле
        </div>
      </ng-container>
    </div>

    <div class="form-group form-group-std"
         [ngClass]="{'error': form.controls.organizationWebsite.invalid && (form.controls.organizationWebsite.touched || form.controls.organizationWebsite.dirty)}">
      <label for="organizationWebsite">Сайт компании</label>
      <input type="text"
             id="organizationWebsite"
             name="{{currentDate}}_organizationWebsite"
             formControlName="organizationWebsite">
      <ng-container
        *ngIf="form.controls.organizationWebsite.invalid && (form.controls.organizationWebsite.touched || form.controls.organizationWebsite.dirty)">
        <div class="input_attention" *ngIf="form.controls.organizationWebsite.errors?.blank">
          Введено недопустимое значение
        </div>
        <div class="input_attention" *ngIf="form.controls.organizationWebsite.errors?.maxlength">
          {{'Максимум ' + form.controls.organizationWebsite.errors?.maxlength.requiredLength + ' символов'}}
        </div>
      </ng-container>
    </div>

    <div class="form-group form-group-std"
         [ngClass]="{'error': form.controls.organizationAddress.invalid && (form.controls.organizationAddress.touched || form.controls.organizationAddress.dirty)}">
      <label for="organizationAddress">Адрес компании</label>
      <input type="text" id="organizationAddress"
             name="{{currentDate}}_organizationAddress"
             formControlName="organizationAddress">
      <ng-container
        *ngIf="form.controls.organizationAddress.invalid && (form.controls.organizationAddress.touched || form.controls.organizationAddress.dirty)">
        <div class="input_attention" *ngIf="form.controls.organizationAddress.errors?.blank">
          Введено недопустимое значение
        </div>
        <div class="input_attention" *ngIf="form.controls.organizationAddress.errors?.maxlength">
          {{'Максимум ' + form.controls.organizationAddress.errors?.maxlength.requiredLength + ' символов'}}
        </div>
      </ng-container>
    </div>

    <p class="form_title form_title__inner">Укажите контакты менеджера,<br> для связи поддержкой 1С:Бизнес-сеть:</p>

    <div class="form-group form-group-std"
         [ngClass]="{'error': form.controls.contactFio.invalid && (form.controls.contactFio.touched || form.controls.contactFio.dirty)}">
      <label for="contactFio">Как к Вам обращаться? *</label>
      <input
        type="text"
        id="contactFio"
        name="{{currentDate}}_contactFio"
        formControlName="contactFio">
      <ng-container
        *ngIf="form.controls.contactFio.invalid && (form.controls.contactFio.touched || form.controls.contactFio.dirty)">
        <div class="input_attention" *ngIf="form.controls.contactFio.errors.required">
          Заполните это поле
        </div>
        <div class="input_attention" *ngIf="form.controls.contactFio.errors?.blank">
          Введено недопустимое значение
        </div>
        <div class="input_attention" *ngIf="form.controls.contactFio.errors?.maxlength">
          {{'Максимум ' + form.controls.contactFio.errors?.maxlength.requiredLength + ' символов'}}
        </div>
      </ng-container>
    </div>

    <div class="form-group form-group-std"
         [ngClass]="{'error': form.controls.contactEmail.invalid && (form.controls.contactEmail.touched || form.controls.contactEmail.dirty)}">
      <label for="contactEmail">E-mail *</label>
      <input
        type="text"
        id="contactEmail"
        name="{{currentDate}}_contactEmail"
        formControlName="contactEmail">
      <ng-container
        *ngIf="form.controls.contactEmail.invalid && (form.controls.contactEmail.touched || form.controls.contactEmail.dirty)">
        <div class="input_attention" *ngIf="form.controls.contactEmail.errors.required">
          Заполните это поле
        </div>
        <div class="input_attention" *ngIf="form.controls.contactEmail.errors.email">
          Некорректно заполнено поле
        </div>
        <div class="input_error"
             *ngIf="!form.controls.contactEmail.errors.email && form.controls.contactEmail.errors?.maxlength">
          {{'Максимум ' + form.controls.contactEmail.errors?.maxlength.requiredLength + ' символов'}}
        </div>
      </ng-container>
    </div>

    <div class="form-group form-group-std"
         [ngClass]="{'error': form.controls.contactPhone.invalid && (form.controls.contactPhone.touched || form.controls.contactPhone.dirty)}">
      <label for="contactPhone">Телефон *</label>
      <input
        type="text"
        id="contactPhone"
        name="{{currentDate}}_contactPhone"
        prefix="+7"
        mask="(000) 000 00 00"
        [showMaskTyped]="true"
        formControlName="contactPhone">
      <ng-container
        *ngIf="form.controls.contactPhone.invalid && (form.controls.contactPhone.touched || form.controls.contactPhone.dirty)">
        <div class="input_attention" *ngIf="form.controls.contactPhone.errors.required">
          Заполните это поле
        </div>
        <div class="input_attention" *ngIf="form.controls.contactPhone.errors.mask">
          Некорректно заполнено поле
        </div>
      </ng-container>
    </div>

    <div class="form-group form-group-agree" *ngIf="operationType === 'register'">
      <label nz-checkbox formControlName="agree" style="display: flex; align-items: flex-start;">
        <span class="checkbox-agree-text">Я являюсь уполномоченным представителем регистрируемой<br/>организации и принимаю условия
          <a class="attention-link" href="https://1cbn.ru/agreement/" target="_blank" rel="noopener noreferrer"
             (click)="$event.stopPropagation()">пользовательского соглашения</a>
        </span>
      </label>
    </div>

    <div class="form-with-errors" *ngIf="form.invalid">
      <div class="organization-name-error" *ngIf="form.controls.organizationName.invalid"></div>
      <div class="contact-fio-error" *ngIf="form.controls.contactFio.invalid"></div>
      <div class="contact-email-error" *ngIf="form.controls.contactEmail.invalid"></div>
      <div class="contact-phone-error" *ngIf="form.controls.contactPhone.invalid"></div>
      <div class="agree-error" *ngIf="form.controls.agree?.invalid"></div>
    </div>

    <div class="form-group" style="margin-top: 25px">
      <button nz-button nzType="primary"
              [disabled]="form.invalid">{{ operationType === 'register' ? 'Продолжить' : 'Сохранить' }}</button>
    </div>

  </form>

</div>
