@media all and (max-width: 768px) {
  .section_tab__title {
    display: block;
  }
  .form__registration_org .input_attention,
  .form__registration_org .textarea_attention {
    position: static;
    padding-left: 0;
    margin-top: 5px;
  }
}
